workflows/51HtRNdqJ20cKFay__captura-de-errores.json
{
  "updatedAt": "2025-12-25T10:32:56.141Z",
  "createdAt": "2025-12-18T06:56:05.472Z",
  "id": "51HtRNdqJ20cKFay",
  "name": "captura de errores",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "482fdef1-5576-4969-9749-537fc4cb81b3",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "content": "## Texto Informe\nCuando el papel es nuestro",
        "height": 304,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        -112
      ],
      "id": "4e300ade-9c68-4821-8d96-3945259b03dd",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://default90419c2b07624d6fb6a1aca6fc3084.80.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/b8ed51b3f3514e6f8835627e068fe901/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8nyoBAiRe-vHc4jKd_eLpw_R5BPIg-GxP32JL1lYr4s",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "asunto",
              "value": "={{$json.asunto}}"
            },
            {
              "name": "texto",
              "value": "={{$json.texto}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        0
      ],
      "id": "483dffd1-f710-4101-9e86-19cc078cf02c",
      "name": "email AUTOMATE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c50ac2fc-7702-478c-bb8a-fe568b6229b8",
              "name": "asunto",
              "value": "=Error de FLUJO {{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "a7625554-7c62-408b-965c-183c852a901d",
              "name": "texto",
              "value": "=El flujo {{ $json.workflow.name }} ha dado error, por favor compruebalo. {{ $json.execution.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        0
      ],
      "id": "34604b08-4182-402c-9f25-c4316dbfd1dc",
      "name": "ERROR DE FLUJO"
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "ERROR DE FLUJO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERROR DE FLUJO": {
      "main": [
        [
          {
            "node": "email AUTOMATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f23c0d00-ad17-4de2-b921-4ddc0ebd937c",
  "activeVersionId": "f23c0d00-ad17-4de2-b921-4ddc0ebd937c",
  "versionCounter": 9,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-18T06:56:05.472Z",
      "createdAt": "2025-12-18T06:56:05.472Z",
      "role": "workflow:owner",
      "workflowId": "51HtRNdqJ20cKFay",
      "projectId": "5DRxsE1egf1baMP6",
      "project": {
        "updatedAt": "2025-12-16T07:05:26.416Z",
        "createdAt": "2025-12-16T07:00:37.382Z",
        "id": "5DRxsE1egf1baMP6",
        "name": "P GA <procesos@gomezaparicio.es>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-16T07:00:37.382Z",
            "createdAt": "2025-12-16T07:00:37.382Z",
            "userId": "9a4e2f29-7a97-4add-ba5c-b1a99dee84e7",
            "projectId": "5DRxsE1egf1baMP6",
            "user": {
              "updatedAt": "2026-01-04T07:22:52.745Z",
              "createdAt": "2025-12-16T07:00:36.626Z",
              "id": "9a4e2f29-7a97-4add-ba5c-b1a99dee84e7",
              "email": "procesos@gomezaparicio.es",
              "firstName": "P",
              "lastName": "GA",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "gR8RJ0nGarvRBlGa",
                "userActivatedAt": 1766491998544
              },
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2026-01-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-25T10:33:02.475Z",
    "createdAt": "2025-12-25T10:32:56.142Z",
    "versionId": "f23c0d00-ad17-4de2-b921-4ddc0ebd937c",
    "workflowId": "51HtRNdqJ20cKFay",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "482fdef1-5576-4969-9749-537fc4cb81b3",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "content": "## Texto Informe\nCuando el papel es nuestro",
          "height": 304,
          "width": 288
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          -112
        ],
        "id": "4e300ade-9c68-4821-8d96-3945259b03dd",
        "name": "Sticky Note15"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://default90419c2b07624d6fb6a1aca6fc3084.80.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/b8ed51b3f3514e6f8835627e068fe901/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8nyoBAiRe-vHc4jKd_eLpw_R5BPIg-GxP32JL1lYr4s",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "asunto",
                "value": "={{$json.asunto}}"
              },
              {
                "name": "texto",
                "value": "={{$json.texto}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          688,
          0
        ],
        "id": "483dffd1-f710-4101-9e86-19cc078cf02c",
        "name": "email AUTOMATE"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c50ac2fc-7702-478c-bb8a-fe568b6229b8",
                "name": "asunto",
                "value": "=Error de FLUJO {{ $json.workflow.name }}",
                "type": "string"
              },
              {
                "id": "a7625554-7c62-408b-965c-183c852a901d",
                "name": "texto",
                "value": "=El flujo {{ $json.workflow.name }} ha dado error, por favor compruebalo. {{ $json.execution.url }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          352,
          0
        ],
        "id": "34604b08-4182-402c-9f25-c4316dbfd1dc",
        "name": "ERROR DE FLUJO"
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "ERROR DE FLUJO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ERROR DE FLUJO": {
        "main": [
          [
            {
              "node": "email AUTOMATE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "P GA",
    "name": "v1",
    "description": "",
    "workflowPublishHistory": [
      {
        "createdAt": "2025-12-25T10:33:02.471Z",
        "id": 7,
        "workflowId": "51HtRNdqJ20cKFay",
        "versionId": "f23c0d00-ad17-4de2-b921-4ddc0ebd937c",
        "event": "activated",
        "userId": "9a4e2f29-7a97-4add-ba5c-b1a99dee84e7"
      }
    ]
  }
}