workflows/eEaOkQz1URjwHDB9__zz.json
{
  "updatedAt": "2026-01-02T12:49:23.354Z",
  "createdAt": "2026-01-02T12:36:10.756Z",
  "id": "eEaOkQz1URjwHDB9",
  "name": "zz",
  "description": "",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.openaiBody}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2432,
        -1696
      ],
      "id": "698a798e-a91c-40ee-8874-20f04227aeb0",
      "name": "OpenAI",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "Fb5EZ7r56FOl5M3A",
          "name": "Http Open AI"
        }
      }
    },
    {
      "parameters": {
        "content": "## Conexión directa con AUTOMTE\nRecibe el PDF por HTTP ",
        "height": 352,
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1424,
        -688
      ],
      "id": "9d8e35ac-38ea-46bb-beed-4b354a22031d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fileId = $items(\"Subir PDF a OpenAI\")[0].json.id;  // ✅ file-...\nconst prompt = ($json.promptCabecera || \"\").trim();\n\nif (!fileId?.startsWith(\"file-\")) {\n  throw new Error(`fileId inválido (esperaba file-...): ${fileId}`);\n}\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    // Identificación / cabecera\n    cliente: { type: [\"string\", \"integer\"] },\n    contacto: { type: [\"string\", \"integer\"] },\n    suReferencia: { type: \"string\" },\n\n    // En algunos PDFs viene como \"002/006\", así que lo dejamos flexible\n    numeroOf: { type: [\"string\", \"integer\"] },\n\n    numeroOtCliente: { type: \"string\" },\n    isbnPack: { type: \"string\" },\n\n    // Fechas\n    fechaAlta: { type: \"string\" },\n    fechaEntrega: { type: \"string\" },\n\n    // Pedido\n    sinRetraso: { type: \"boolean\" },\n    tirada: { type: \"integer\" },\n    precioUnitarioSinIVA: { type: \"number\" },\n    precioToltalSinIVA: { type: \"number\" },\n    quiereVerFerros: { type: \"integer\" },\n    certificacion: { type: \"integer\" },\n    observacionesPedido: { type: \"string\" },\n\n    // Libro / proyecto\n    titulo: { type: \"string\" },\n    sello: { type: \"string\" },\n    isbn: { type: \"string\" },\n    codProyecto: { type: \"string\" },\n\n    // Formato\n    anchoPaginaCm: { type: \"number\" },\n    altoPaginaCm: { type: \"number\" },\n\n    // Encuadernación (base)\n    unionPliegos: { type: \"integer\" },\n    encuadernacion: { type: \"integer\" },\n\n    // En tu plantilla son 0/1, pero a veces el modelo devuelve true/false → permitimos ambos\n    solapa: { type: [\"integer\", \"boolean\"] },\n    hendidoCortesia: { type: [\"integer\", \"boolean\"] },\n\n    observacionesEncuadernacion: { type: \"string\" },\n\n    // Encuadernación (extras)\n    cabezada: { type: \"integer\" },\n    cabezadaColorOtro: { type: \"string\" },\n\n    guardasAparte: { type: \"integer\" },\n    guardasImpresas: { type: \"integer\" },\n\n    cintaRegistro: { type: \"integer\" },\n    cintaRegistroColorOtro: { type: \"string\" },\n\n    calibreCarton: { type: \"integer\" },\n    tipoLomo: { type: \"integer\" },\n\n    // Espiral\n    espiralMaterial: { type: \"integer\" },\n    espiralColor: { type: \"integer\" },\n    espiralColorOtro: { type: \"string\" },\n    espiralLado: { type: \"integer\" },\n\n    // Wire-o\n    wireoMaterial: { type: \"integer\" },\n    wireoColor: { type: \"integer\" },\n    wireoColorOtro: { type: \"string\" },\n    wireoLado: { type: \"integer\" }\n  },\n  required: [] // nada requerido\n};\n\nreturn {\n  openaiBody: {\n    model: \"gpt-5.2\",\n    input: [{\n      role: \"user\",\n      content: [\n        { type: \"input_file\", file_id: fileId },\n        { type: \"input_text\", text: prompt }\n      ]\n    }],\n    text: {\n      format: {\n        type: \"json_schema\",\n        name: \"cabecera_pedido\",\n        strict: false,\n        schema\n      }\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -1696
      ],
      "id": "76c9426e-a598-4790-a0de-a3f65e8476f8",
      "name": "Build OpenAI Body (schema)"
    },
    {
      "parameters": {
        "jsCode": "// Soporta \"Full Response\" ON/OFF:\nconst body = $json.body ?? $json;\n\nconst text =\n  body.output?.flatMap(o => o.content || [])\n    ?.find(c => c.type === \"output_text\")\n    ?.text;\n\nif (!text) throw new Error(\"No encuentro output_text en la respuesta de OpenAI\");\n\nlet data;\ntry {\n  data = JSON.parse(text);\n} catch (e) {\n  throw new Error(\"El output_text no es JSON parseable: \" + e.message + \"\\n\\n\" + text);\n}\n\n// Limpieza: borra 0, \"\", null, [], {} EXCEPTO estos campos:\nconst keepAlways = new Set([\n  \"cliente\", \"contacto\", \"sinRetraso\", \"unionPliegos\", \"encuadernacion\", \"solapa\", \"hendidoCortesia\"\n]);\n\nfunction isEmpty(v) {\n  if (v === null || v === undefined) return true;\n  if (typeof v === \"string\" && v.trim() === \"\") return true;\n  if (typeof v === \"number\" && v === 0) return true;\n  if (Array.isArray(v) && v.length === 0) return true;\n  if (typeof v === \"object\" && !Array.isArray(v) && Object.keys(v).length === 0) return true;\n  return false;\n}\n\nfor (const k of Object.keys(data)) {\n  if (keepAlways.has(k)) continue;\n  if (isEmpty(data[k])) delete data[k];\n}\n\nreturn [{ json: data }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        -1696
      ],
      "id": "1a692a5b-dd65-4ade-8789-e7d7fd8dc0b0",
      "name": "Parse output_text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "user_data"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        -624
      ],
      "id": "678ffeda-53a5-4de2-a9a7-62e2417099ac",
      "name": "Subir PDF a OpenAI",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "Fb5EZ7r56FOl5M3A",
          "name": "Http Open AI"
        }
      }
    },
    {
      "parameters": {
        "content": "## Prompt",
        "height": 944,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        -1296
      ],
      "typeVersion": 1,
      "id": "824d19a0-426e-4717-a485-07a70c8d20c0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Cabecera",
        "height": 304,
        "width": 1344,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1936,
        -1792
      ],
      "id": "856dd799-c341-485f-8c1b-8115a2231e9b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        -768
      ],
      "id": "3eb12f33-2b3c-490d-b228-9b21cd869088",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "716a3085-d054-4c2e-95d1-4865cec67f57",
              "name": "openaiFileId",
              "value": "={{$json.id}}",
              "type": "string"
            },
            {
              "id": "2e4e2dd2-a5dc-4e7c-8f3e-6bdcfbb25371",
              "name": "openaiFilename",
              "value": "={{$json.filename}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -624
      ],
      "id": "697c498b-4351-4a28-ba57-dd4dc08210c6",
      "name": "openaiFileId"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.openaiBody}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2304,
        -1296
      ],
      "id": "399c67bc-21ef-46c0-9843-6ae4acad44d0",
      "name": "OpenAI1",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "Fb5EZ7r56FOl5M3A",
          "name": "Http Open AI"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fileId = $items(\"Subir PDF a OpenAI\")[0].json.id; // ✅ file-...\nconst prompt = ($json.promptInteriores || \"\").trim();\n\nif (!fileId?.startsWith(\"file-\")) {\n  throw new Error(`fileId inválido (esperaba file-...): ${fileId}`);\n}\n\n// --- Schema INTERIORES ---\nconst papelPedidoProps = {\n  refPedido: { type: \"string\" },\n  gramaje: { type: \"integer\" },\n  anchoBobinaCm: { type: \"number\" },\n  upsCalc: { type: \"integer\" },\n  ups: { type: \"integer\" },\n  metros: { type: \"number\" },\n  kg: { type: \"number\" },\n};\n\nconst interiorProps = {\n  papel_id: { type: \"integer\" },\n  propietarioPapel: { type: \"integer\" },\n  tipoImpresion: { type: \"integer\" },\n  calidad: { type: \"string\" },\n  paginas: { type: \"integer\" },\n  plegadoOCortado: { type: \"integer\" },\n  maquina: { type: \"integer\" },\n  observaciones: { type: \"string\" },\n  papelPedido: {\n    type: \"object\",\n    additionalProperties: false,\n    properties: papelPedidoProps,\n    required: Object.keys(papelPedidoProps),\n  },\n};\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    interiores: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        properties: interiorProps,\n        required: Object.keys(interiorProps),\n      },\n    },\n  },\n  required: [\"interiores\"],\n};\n\nreturn {\n  openaiBody: {\n    model: \"gpt-5.2\",\n    input: [\n      {\n        role: \"user\",\n        content: [\n          { type: \"input_file\", file_id: fileId },\n          { type: \"input_text\", text: prompt },\n        ],\n      },\n    ],\n    text: {\n      format: {\n        type: \"json_schema\",\n        name: \"interiores_pedido\",\n        strict: false,\n        schema,\n      },\n    },\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -1296
      ],
      "id": "3ebef771-2b17-4733-8c04-dab25187f861",
      "name": "Build OpenAI Body (schema)1"
    },
    {
      "parameters": {
        "jsCode": "// -----------------------------\n// PARSE + LIMPIEZA (INTERIORES)\n// -----------------------------\n\n// A veces n8n trae el body como string. Lo hacemos robusto:\nlet resp = $json;\nif (typeof resp === \"string\") resp = JSON.parse(resp);\n\n// Soporta \"Full Response\" ON/OFF:\nconst body = resp.body ?? resp;\n\n// En Responses API el texto suele venir en body.output[0..].content[*].text\nconst text =\n  body.output?.flatMap(o => o.content || [])\n    ?.find(c => c.type === \"output_text\")\n    ?.text;\n\nif (!text) throw new Error(\"No encuentro output_text en la respuesta de OpenAI\");\n\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  throw new Error(\"El output_text no es JSON parseable: \" + e.message + \"\\n\\n\" + text);\n}\n\n// Esperamos { interiores: [ ... ] } (si el modelo devuelve directo el array, lo aceptamos)\nlet interiores = Array.isArray(parsed?.interiores)\n  ? parsed.interiores\n  : (Array.isArray(parsed) ? parsed : []);\n\n// ---------- LIMPIEZA ----------\n// Borra 0, \"\", null, [], {} excepto estos PATHS (para no romper estructura mínima)\nconst keepAlwaysPaths = new Set([\n  // Mantener siempre el array (aunque quede vacío)\n  \"interiores\",\n\n  // Campos mínimos por interior\n  \"interiores[].papel_id\",\n  \"interiores[].propietarioPapel\",\n  \"interiores[].tipoImpresion\",\n  \"interiores[].paginas\",\n\n  // Mantener siempre el objeto papelPedido y claves útiles\n  \"interiores[].papelPedido\",\n  \"interiores[].papelPedido.gramaje\",\n  \"interiores[].papelPedido.anchoBobinaCm\",\n  \"interiores[].papelPedido.ups\",\n  \"interiores[].papelPedido.kg\",\n]);\n\nfunction isEmpty(v) {\n  if (v === null || v === undefined) return true;\n  if (typeof v === \"string\" && v.trim() === \"\") return true;\n  if (typeof v === \"number\" && v === 0) return true;\n  if (Array.isArray(v) && v.length === 0) return true;\n  if (typeof v === \"object\" && !Array.isArray(v) && Object.keys(v).length === 0) return true;\n  return false;\n}\n\nfunction cleanDeep(value, path) {\n  // Arrays: limpiar elementos y eliminar elementos vacíos\n  if (Array.isArray(value)) {\n    const arr = [];\n    for (const el of value) {\n      const cleaned = cleanDeep(el, path + \"[]\");\n      // si el elemento queda vacío, lo descartamos\n      if (!isEmpty(cleaned)) arr.push(cleaned);\n    }\n    return arr;\n  }\n\n  // Objetos: limpiar claves recursivamente\n  if (value && typeof value === \"object\") {\n    const obj = { ...value };\n    for (const k of Object.keys(obj)) {\n      const childPath = path ? `${path}.${k}` : k;\n\n      obj[k] = cleanDeep(obj[k], childPath);\n\n      // Si está en keepAlwaysPaths, NO lo borramos aunque esté vacío\n      if (keepAlwaysPaths.has(childPath)) continue;\n\n      // Si está vacío, borramos\n      if (isEmpty(obj[k])) delete obj[k];\n    }\n    return obj;\n  }\n\n  // Primitivos\n  return value;\n}\n\n// Aplicar limpieza a cada interior\ninteriores = cleanDeep(interiores, \"interiores\");\n\n// Asegurar que siempre devolvemos el array\nif (!Array.isArray(interiores)) interiores = [];\n\nreturn [{\n  json: {\n    interiores\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        -1296
      ],
      "id": "62a86277-294b-4405-b26b-4a4d3261763f",
      "name": "Parse output_text1"
    },
    {
      "parameters": {
        "content": "## Interiores",
        "height": 288,
        "width": 1344,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1936,
        -1376
      ],
      "id": "8958e7b6-677a-4812-afbf-c175ec047d3b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.openaiBody}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2400,
        -880
      ],
      "id": "2c697666-00c5-4344-8845-46190891abdf",
      "name": "OpenAI2",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "Fb5EZ7r56FOl5M3A",
          "name": "Http Open AI"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fileId = $items(\"Subir PDF a OpenAI\")[0].json.id; // ✅ file-...\nconst prompt = ($json.promptCubierta || \"\").trim();\n\nif (!fileId?.startsWith(\"file-\")) {\n  throw new Error(`fileId inválido (esperaba file-...): ${fileId}`);\n}\n\n// --- Schema CUBIERTA ---\nconst cubiertaProps = {\n  materialCubierta: { type: \"integer\" },\n  propietarioPapel: { type: \"integer\" },\n  plastificado: { type: \"integer\" },\n  uvi: { type: \"integer\" },\n  impresion: { type: \"string\" },      // ✅ en tu prompt es tipo \"4/0\", \"4/4\"...\n  codDescarga: { type: \"integer\" },   // si luego quieres omitirlo cuando 0, lo haces al final\n  tecnologia: { type: \"integer\" },\n  observaciones: { type: \"string\" },  // si luego quieres omitirlo cuando \"\", lo haces al final\n};\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    cubierta: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: cubiertaProps,\n      // para evitar errores del validador de schema y para asegurar estructura estable:\n      required: Object.keys(cubiertaProps),\n    },\n  },\n  required: [\"cubierta\"],\n};\n\nreturn {\n  openaiBody: {\n    model: \"gpt-5.2\",\n    input: [{\n      role: \"user\",\n      content: [\n        { type: \"input_file\", file_id: fileId },\n        { type: \"input_text\", text: prompt },\n      ],\n    }],\n    text: {\n      format: {\n        type: \"json_schema\",\n        name: \"cubierta_pedido\",\n        strict: false,\n        schema,\n      },\n    },\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -880
      ],
      "id": "1b3a4ba1-4076-4340-b42d-671707bf01ca",
      "name": "Build OpenAI Body (schema)2"
    },
    {
      "parameters": {
        "jsCode": "// ---------------------------\n// PARSE + LIMPIEZA (CUBIERTA)\n// ---------------------------\n\n// A veces n8n trae el body como string. Lo hacemos robusto:\nlet resp = $json;\nif (typeof resp === \"string\") resp = JSON.parse(resp);\n\n// Soporta \"Full Response\" ON/OFF:\nconst body = resp.body ?? resp;\n\n// En Responses API el texto suele venir en body.output[0..].content[*].text\nconst text =\n  body.output?.flatMap(o => o.content || [])\n    ?.find(c => c.type === \"output_text\")\n    ?.text;\n\nif (!text) throw new Error(\"No encuentro output_text en la respuesta de OpenAI (cubierta)\");\n\n// Parse JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  throw new Error(\n    `El output_text no es JSON válido: ${e.message}. Primeros 200 chars: ${String(text).slice(0, 200)}`\n  );\n}\n\n// Normaliza salida: esperamos { cubierta: {...} }\n// Si devuelve directamente el objeto de cubierta, lo envolvemos\nconst cubiertaRaw =\n  (parsed && typeof parsed === \"object\" && !Array.isArray(parsed) && parsed.cubierta)\n    ? parsed.cubierta\n    : parsed;\n\n// Validación mínima\nif (!cubiertaRaw || typeof cubiertaRaw !== \"object\" || Array.isArray(cubiertaRaw)) {\n  throw new Error(\"La salida parseada no contiene un objeto 'cubierta' válido\");\n}\n\n// ---------- LIMPIEZA ----------\n// Borra 0, \"\", null, [], {} EXCEPTO campos que deben existir siempre\nconst keepAlways = new Set([\n  \"materialCubierta\",\n  \"propietarioPapel\",\n  \"plastificado\",\n  \"uvi\",\n  \"impresion\",\n  \"codDescarga\",\n  \"tecnologia\",\n  // Si quieres forzar que observaciones siempre exista, añade \"observaciones\" aquí.\n]);\n\nfunction isEmpty(v) {\n  if (v === null || v === undefined) return true;\n  if (typeof v === \"string\" && v.trim() === \"\") return true;\n  if (typeof v === \"number\" && v === 0) return true;\n  if (Array.isArray(v) && v.length === 0) return true;\n  if (typeof v === \"object\" && !Array.isArray(v) && Object.keys(v).length === 0) return true;\n  return false;\n}\n\n// Limpieza superficial (cubierta suele ser plano)\nconst cubierta = { ...cubiertaRaw };\nfor (const k of Object.keys(cubierta)) {\n  if (keepAlways.has(k)) continue;\n  if (isEmpty(cubierta[k])) delete cubierta[k];\n}\n\n// Asegura que los campos \"siempre\" existen aunque el modelo los omitiera\nfor (const k of keepAlways) {\n  if (!(k in cubierta)) {\n    // defaults por tipo esperado\n    if (k === \"impresion\") cubierta[k] = \"\";\n    else cubierta[k] = 0;\n  }\n}\n\n// Devuelve solo el bloque de cubierta\nreturn [{\n  json: {\n    cubierta\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        -880
      ],
      "id": "bf094d8f-07a2-4ce8-8613-26ed7930f74d",
      "name": "Parse output_text2"
    },
    {
      "parameters": {
        "content": "## Cubierta",
        "height": 304,
        "width": 1360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1936,
        -976
      ],
      "id": "5d5eff1b-0ae3-4c7e-870b-54478e0bd9a4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.openaiBody}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2416,
        -464
      ],
      "id": "207dda11-45fa-414e-992d-14f2e98b6b51",
      "name": "OpenAI3",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "Fb5EZ7r56FOl5M3A",
          "name": "Http Open AI"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fileId = $items(\"Subir PDF a OpenAI\")[0].json.id; // ✅ file-...\nconst prompt = ($json.promptExtras || \"\").trim();\n\nif (!fileId?.startsWith(\"file-\")) {\n  throw new Error(`fileId inválido (esperaba file-...): ${fileId}`);\n}\n\n// ---------- Subschemas ----------\n\n// papelPedido / papelProduccion (idénticos salvo nombre de ref)\nconst papelPedidoProps = {\n  refPedido: { type: \"string\" },\n  gramaje: { type: \"integer\" },\n  anchoBobinaCm: { type: \"number\" },\n  upsCalc: { type: \"integer\" },\n  ups: { type: \"integer\" },\n  metros: { type: \"number\" },\n  kg: { type: \"number\" },\n};\n\nconst papelProduccionProps = {\n  refProduccion: { type: \"string\" },\n  gramaje: { type: \"integer\" },\n  anchoBobinaCm: { type: \"number\" },\n  upsCalc: { type: \"integer\" },\n  ups: { type: \"integer\" },\n  metros: { type: \"number\" },\n  kg: { type: \"number\" },\n};\n\nconst guardasProps = {\n  papel_id: { type: \"integer\" },\n  propietarioPapel: { type: \"integer\" },\n  tipoImpresion: { type: \"integer\" },\n  calidad: { type: \"string\" },          // en tu prompt es texto (\"Ahuesado\", etc.)\n  paginas: { type: \"integer\" },\n  plegadoOCortado: { type: \"integer\" },\n  maquina: { type: \"integer\" },\n  observaciones: { type: \"string\" },\n  papelPedido: {\n    type: \"object\",\n    additionalProperties: false,\n    properties: papelPedidoProps,\n    required: Object.keys(papelPedidoProps),\n  },\n  papelProduccion: {\n    type: \"object\",\n    additionalProperties: false,\n    properties: papelProduccionProps,\n    required: Object.keys(papelProduccionProps),\n  },\n};\n\nconst sobrecubiertaProps = {\n  materialSobrecubierta: { type: \"integer\" },\n  propietarioPapel: { type: \"integer\" },\n  plastificado: { type: \"integer\" },\n  uvi: { type: \"integer\" },\n  impresion: { type: \"string\" },    // \"4/0\", \"4/4\", etc.\n  tecnologia: { type: \"integer\" },\n  observaciones: { type: \"string\" },\n};\n\nconst fajaProps = {\n  materialFaja: { type: \"integer\" },\n  propietarioPapel: { type: \"integer\" },\n  plastificado: { type: \"integer\" },\n  uvi: { type: \"integer\" },\n  impresion: { type: \"string\" },    // \"4/0\", \"4/4\", etc.\n  tecnologia: { type: \"integer\" },\n  observaciones: { type: \"string\" },\n};\n\nconst componenteEspecialProps = {\n  material: { type: \"integer\" },\n  propietarioPapel: { type: \"integer\" },\n  nombre: { type: \"string\" },\n  plastificado: { type: \"integer\" },\n  uvi: { type: \"boolean\" },         // en tu modelo inicial era boolean\n  impresion: { type: \"string\" },    // mejor string (\"4/0\"...)\n  tecnologia: { type: \"integer\" },\n  observaciones: { type: \"string\" },\n};\n\nconst peticionEspecialProps = {\n  descripcion: { type: \"string\" },\n};\n\nconst direccionProps = {\n  direccionId: { type: \"string\" },  // a veces viene como número; si prefieres integer lo cambio\n  destinatario: { type: \"string\" },\n  via: { type: \"string\" },\n  numero: { type: \"string\" },\n  piso: { type: \"string\" },\n  puerta: { type: \"string\" },\n  cp: { type: \"string\" },\n  localidad: { type: \"string\" },\n  provincia: { type: \"string\" },\n  pais: { type: \"string\" },\n  contacto: { type: \"string\" },\n  telefonos: { type: \"string\" },\n  pallet: { type: \"integer\" },\n  encajado: { type: \"integer\" },\n  ejemplaresPaquete: { type: \"integer\" },\n  ejemplares: { type: \"integer\" },\n  envioResto: { type: \"integer\" },\n  modelos: { type: \"integer\" },\n  observaciones: { type: \"string\" },\n};\n\n// ---------- Main schema ----------\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    guardas: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: guardasProps,\n      required: Object.keys(guardasProps),\n    },\n    sobrecubierta: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: sobrecubiertaProps,\n      required: Object.keys(sobrecubiertaProps),\n    },\n    faja: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: fajaProps,\n      required: Object.keys(fajaProps),\n    },\n    componentesEspeciales: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        properties: componenteEspecialProps,\n        required: Object.keys(componenteEspecialProps),\n      },\n    },\n    peticionesEspeciales: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        properties: peticionEspecialProps,\n        required: Object.keys(peticionEspecialProps),\n      },\n    },\n    direcciones: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        properties: direccionProps,\n        required: Object.keys(direccionProps),\n      },\n    },\n  },\n  required: [\"guardas\", \"sobrecubierta\", \"faja\", \"componentesEspeciales\", \"peticionesEspeciales\", \"direcciones\"],\n};\n\nreturn {\n  openaiBody: {\n    model: \"gpt-5.2\",\n    input: [{\n      role: \"user\",\n      content: [\n        { type: \"input_file\", file_id: fileId },\n        { type: \"input_text\", text: prompt },\n      ],\n    }],\n    text: {\n      format: {\n        type: \"json_schema\",\n        name: \"extras_pedido\",\n        strict: false,\n        schema,\n      },\n    },\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -464
      ],
      "id": "36d36bfb-c53e-48c1-a56b-8d919a51d581",
      "name": "Build OpenAI Body (schema)3"
    },
    {
      "parameters": {
        "jsCode": "// ------------------------\n// PARSE + LIMPIEZA (EXTRAS)\n// ------------------------\n\n// A veces n8n trae el body como string. Lo hacemos robusto:\nlet resp = $json;\nif (typeof resp === \"string\") resp = JSON.parse(resp);\n\n// Soporta \"Full Response\" ON/OFF:\nconst body = resp.body ?? resp;\n\n// En Responses API el texto suele venir en body.output[0..].content[*].text\nconst text =\n  body.output?.flatMap(o => o.content || [])\n    ?.find(c => c.type === \"output_text\")\n    ?.text;\n\nif (!text) {\n  throw new Error(\"No encuentro output_text en la respuesta de OpenAI (extras)\");\n}\n\n// Parse JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  throw new Error(\n    `El output_text no es JSON válido: ${e.message}. Primeros 200 chars: ${String(text).slice(0, 200)}`\n  );\n}\n\nif (!parsed || typeof parsed !== \"object\" || Array.isArray(parsed)) {\n  throw new Error(\"La salida parseada de extras no es un objeto JSON válido\");\n}\n\n// -----------------\n// Normalización base\n// -----------------\nconst norm = {\n  guardas: parsed.guardas ?? null,\n  sobrecubierta: parsed.sobrecubierta ?? null,\n  faja: parsed.faja ?? null,\n  componentesEspeciales: Array.isArray(parsed.componentesEspeciales) ? parsed.componentesEspeciales : [],\n  peticionesEspeciales: Array.isArray(parsed.peticionesEspeciales) ? parsed.peticionesEspeciales : [],\n  direcciones: Array.isArray(parsed.direcciones) ? parsed.direcciones : [],\n};\n\n// -----------\n// Limpieza\n// -----------\n// Borra 0, \"\", null, [], {} EXCEPTO algunos campos críticos (por path)\nconst keepAlwaysPaths = new Set([\n  // Arrays raíz: queremos que existan aunque estén vacíos\n  \"componentesEspeciales\",\n  \"peticionesEspeciales\",\n  \"direcciones\",\n\n  // Direcciones: mantener siempre si existen (si vienen vacíos, se limpiarán igual)\n  \"direcciones[].direccionId\",\n  \"direcciones[].ejemplares\",\n]);\n\nfunction isEmpty(v) {\n  if (v === null || v === undefined) return true;\n  if (typeof v === \"string\" && v.trim() === \"\") return true;\n  if (typeof v === \"number\" && v === 0) return true;\n  if (Array.isArray(v) && v.length === 0) return true;\n  if (typeof v === \"object\" && !Array.isArray(v) && Object.keys(v).length === 0) return true;\n  return false;\n}\n\nfunction cleanDeep(value, path) {\n  if (Array.isArray(value)) {\n    const arr = [];\n    for (const el of value) {\n      const cleaned = cleanDeep(el, path + \"[]\");\n      if (!isEmpty(cleaned)) arr.push(cleaned);\n    }\n    return arr;\n  }\n\n  if (value && typeof value === \"object\") {\n    const obj = { ...value };\n    for (const k of Object.keys(obj)) {\n      const childPath = path ? `${path}.${k}` : k;\n      obj[k] = cleanDeep(obj[k], childPath);\n\n      if (keepAlwaysPaths.has(childPath)) continue;\n      if (isEmpty(obj[k])) delete obj[k];\n    }\n    return obj;\n  }\n\n  return value;\n}\n\n// Limpia cada bloque\nconst cleaned = cleanDeep(norm, \"\");\n\n// Post-reglas:\n// - Si guardas/sobrecubierta/faja quedan vacíos => null\nfunction nullIfEmptyObject(v) {\n  if (!v || typeof v !== \"object\" || Array.isArray(v)) return v;\n  return Object.keys(v).length === 0 ? null : v;\n}\n\nconst out = {\n  guardas: nullIfEmptyObject(cleaned.guardas),\n  sobrecubierta: nullIfEmptyObject(cleaned.sobrecubierta),\n  faja: nullIfEmptyObject(cleaned.faja),\n  componentesEspeciales: Array.isArray(cleaned.componentesEspeciales) ? cleaned.componentesEspeciales : [],\n  peticionesEspeciales: Array.isArray(cleaned.peticionesEspeciales) ? cleaned.peticionesEspeciales : [],\n  direcciones: Array.isArray(cleaned.direcciones) ? cleaned.direcciones : [],\n};\n\n// Asegura que las arrays raíz existen siempre\nif (!Array.isArray(out.componentesEspeciales)) out.componentesEspeciales = [];\nif (!Array.isArray(out.peticionesEspeciales)) out.peticionesEspeciales = [];\nif (!Array.isArray(out.direcciones)) out.direcciones = [];\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        -464
      ],
      "id": "5833ed2f-1d51-4f25-a296-ea8238d3ae97",
      "name": "Parse output_text3"
    },
    {
      "parameters": {
        "content": "## Extras",
        "height": 320,
        "width": 1376,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1936,
        -560
      ],
      "id": "7d908205-c7b7-4979-b3e0-b7025343f56f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "function safeItems(name) {\n  try {\n    return $items(name);\n  } catch (e) {\n    return null;\n  }\n}\n\nfunction firstJsonFrom(names) {\n  for (const n of names) {\n    const it = safeItems(n);\n    if (it && it[0] && it[0].json) return it[0].json;\n  }\n  return null;\n}\n\nfunction toNumber(v, def = 0) {\n  if (v === null || v === undefined) return def;\n  if (typeof v === \"number\") return Number.isFinite(v) ? v : def;\n  if (typeof v === \"string\") {\n    const n = Number(v.replace(\",\", \".\").trim());\n    return Number.isFinite(n) ? n : def;\n  }\n  const n = Number(v);\n  return Number.isFinite(n) ? n : def;\n}\n\n// 1) Base64: prueba nombres posibles\nconst base64Json = firstJsonFrom([\n  \"PDF - Base64\",\n  \"PDF - Base644\",\n  \"PDF → Base64\",\n  \"PDF a Base64\",\n]);\n\nconst archivoBase64 =\n  base64Json?.archivoBase64 ||\n  base64Json?.pdfBase64 ||\n  base64Json?.archivoBase64_1 ||\n  null;\n\nif (!archivoBase64) {\n  throw new Error(\n    \"No encuentro archivoBase64. Revisa el nodo de Base64 y el nombre del campo (archivoBase64/pdfBase64).\"\n  );\n}\n\n// 2) Cabecera / Interiores / Cubierta / Extras\nconst cabecera =\n  firstJsonFrom([\"Parse output_text\", \"Parse output_text (cabecera)\"]) || {};\n\n// Interiores: preferimos el nodo que YA calcula UPS\nconst interioresObj =\n  firstJsonFrom([\n    \"Calcular UPS (interiores)\",\n    \"Calcular UPS (interiores)1\",\n    \"Parse output_text1\",\n    \"Parse output_text (interiores)\",\n  ]) || {};\n\nconst interiores = Array.isArray(interioresObj.interiores)\n  ? interioresObj.interiores\n  : [];\n\n// Cubierta: preferimos el nodo que YA calcula tecnologia (si existe)\nconst cubiertaObj =\n  firstJsonFrom([\n    \"Calcular tecnologia (cubierta)\",\n    \"Calcular tecnologia (cubierta)1\",\n    \"Parse output_text2\",\n    \"Parse output_text (cubierta)\",\n  ]) || {};\n\nlet cubierta = cubiertaObj.cubierta ?? null;\n\n// Extras\nconst extras =\n  firstJsonFrom([\"Parse output_text3\", \"Parse output_text (extras)\"]) || {};\n\n// 3) Lógica tecnologia (si hay cubierta)\nif (cubierta && typeof cubierta === \"object\") {\n  const encuadernacion = toNumber(cabecera.encuadernacion, 0);\n  const uvi = toNumber(cubierta.uvi, 0);\n  const tirada = toNumber(cabecera.tirada, 0);\n  const solapa = !!cabecera.solapa;\n\n  const tecnologiaIA = toNumber(cubierta.tecnologia, 1);\n\n  let tecnologiaFinal = tecnologiaIA;\n\n  // Si IA marca 5 = offset => lo convertimos a 2\n  if (tecnologiaIA === 5) {\n    tecnologiaFinal = 2;\n  } else {\n    const cond =\n      (encuadernacion === 1 && uvi === 1 && tirada > 799) ||\n      (encuadernacion === 1 && uvi === 0 && tirada > 999) ||\n      (encuadernacion === 3 && uvi === 1 && solapa === true && tirada > 799) ||\n      (encuadernacion === 3 && uvi === 0 && solapa === true && tirada > 1499) ||\n      (uvi === 1 && tirada > 799) ||\n      (uvi === 0 && tirada > 1999) ||\n      (tirada > 1999);\n\n    tecnologiaFinal = cond ? 3 : 1;\n  }\n\n  cubierta = { ...cubierta, tecnologia: tecnologiaFinal };\n}\n\n// 4) Payload final\nconst finalPayload = {\n  archivoBase64,\n  ...cabecera,\n  interiores,\n  cubierta,\n  ...extras,\n};\n\nreturn { json: finalPayload };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        112
      ],
      "id": "6cc2b982-b328-491e-a95f-56f95bf8f69c",
      "name": "Build JSON completo"
    },
    {
      "parameters": {
        "jsCode": "const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst b64 = buf.toString('base64');\n\n// Conserva lo que venga en json y añade archivoBase64\nreturn {\n  ...$json,\n  archivoBase64: b64,\n  nombreArchivo: $binary?.data?.fileName || $json.name || 'pedido.pdf',\n  mime: $binary?.data?.mimeType || 'application/pdf',\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -832
      ],
      "id": "80c0c60f-bb9b-42d4-a819-dc5482b0b969",
      "name": "PDF - Base64"
    },
    {
      "parameters": {
        "content": "## Sube el PDF a OpenAI, genera el PDF en base64 y los combina\n",
        "height": 576,
        "width": 854
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        -960
      ],
      "id": "04cec5c8-2fe8-474b-bf82-c533135ae5d2",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined) return NaN;\n  if (typeof v === 'number') return v;\n  if (typeof v === 'string') return Number(v.replace(',', '.').trim());\n  return Number(v);\n}\n\nfunction toBool(v) {\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'number') return v === 1;\n  if (typeof v === 'string') {\n    const s = v.trim().toLowerCase();\n    if (s === 'true' || s === '1' || s === 'sí' || s === 'si') return true;\n    if (s === 'false' || s === '0' || s === 'no') return false;\n  }\n  return Boolean(v);\n}\n\n// Cabecera (ajusta el nombre si tu nodo se llama distinto)\nconst cabecera = $items(\"Parse output_text\", 0, 0)[0]?.json ?? {};\n\nif (!$json.cubierta || typeof $json.cubierta !== 'object') {\n  throw new Error(\"No encuentro $json.cubierta en la salida de Parse output_text2\");\n}\n\nconst encuadernacion = toNumber(cabecera.encuadernacion);\nconst tirada = toNumber(cabecera.tirada);\nconst solapa = toBool(cabecera.solapa);\n\nconst uvi = toNumber($json.cubierta.uvi);\nconst tecnologiaIn = toNumber($json.cubierta.tecnologia);\n\nif (!Number.isFinite(encuadernacion)) throw new Error(\"Cabecera: encuadernacion falta o no es numérico\");\nif (!Number.isFinite(tirada)) throw new Error(\"Cabecera: tirada falta o no es numérico\");\nif (!Number.isFinite(uvi)) throw new Error(\"Cubierta: uvi falta o no es numérico\");\nif (!Number.isFinite(tecnologiaIn)) throw new Error(\"Cubierta: tecnologia falta o no es numérico\");\n\n// 1) Regla especial: si IA detecta offset => 5, lo cambiamos a 2\nlet tecnologia = tecnologiaIn;\n\nif (tecnologiaIn === 5) {\n  tecnologia = 2;\n} else {\n  // 2) Resto de la lógica\n  const c1 = (encuadernacion === 1 && uvi === 1 && tirada > 799);\n  const c2 = (encuadernacion === 1 && uvi === 0 && tirada > 999);\n  const c3 = (encuadernacion === 3 && uvi === 1 && solapa === true && tirada > 799);\n  const c4 = (encuadernacion === 3 && uvi === 0 && solapa === true && tirada > 1499);\n  const c5 = (uvi === 1 && tirada > 799);\n  const c6 = (uvi === 0 && tirada > 1999);\n  const c7 = (tirada > 1999);\n\n  const any = (c1 || c2 || c3 || c4 || c5 || c6 || c7);\n\n  tecnologia = any ? 3 : 1;\n}\n\n// Solo tocamos cubierta.tecnologia\n$json.cubierta = { ...$json.cubierta, tecnologia };\n\nreturn [{ json: $json }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        -880
      ],
      "id": "cd9d314f-02b0-4040-b840-88e98c90daed",
      "name": "Calcular tecnologia (cubierta)"
    },
    {
      "parameters": {
        "url": "https://liberdigital.gomezaparicio.es/sw/automatizacion/pedidos/digital",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -576,
        496
      ],
      "id": "8492d2f0-b92c-478e-a46c-feb8012983eb",
      "name": "API Pedidos",
      "credentials": {
        "httpBasicAuth": {
          "id": "EGTFeBpcDKH8NdqZ",
          "name": "Apis Libernet"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nconst numeroOtCliente =\n  input.numeroOtCliente ??\n  input.numeroOTcliente ??\n  null;\n\nconst isbnRaw = (input.isbn ?? '').toString();\nconst isbn = isbnRaw.replace(/[^0-9Xx]/g, '').toUpperCase();\n\nreturn [{\n  ...input,\n  numeroOtCliente: numeroOtCliente?.toString().trim(),\n  isbn,\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        496
      ],
      "id": "4aa3c63e-2be9-4962-b8e9-329f46ef1e3c",
      "name": "Normalizar pedido"
    },
    {
      "parameters": {
        "jsCode": "function normStr(v) {\n  return (v ?? '').toString().trim();\n}\nfunction normIsbn(v) {\n  return normStr(v).replace(/[^0-9Xx]/g, '').toUpperCase();\n}\n\nconst pedido = $items(\"Normalizar pedido\")[0]?.json;\nif (!pedido) throw new Error('No encuentro el item del nodo \"Normalizar pedido\". Revisa el nombre del nodo.');\n\nconst otPedido = normStr(pedido.numeroOtCliente); // puede ser \"\"\nconst isbnPedido = normIsbn(pedido.isbn);\n\n// ISBN es obligatorio para la validación\nif (!isbnPedido) {\n  return [{\n    allowCreate: false,\n    reason: \"DATOS_INCOMPLETOS\",\n    message: \"Falta ISBN en el pedido, no se puede validar duplicados.\",\n    pedido: { numeroOtCliente: otPedido || null, isbn: null, titulo: pedido.titulo },\n    match: null,\n  }];\n}\n\nconst registros = $input.all().map(i => i.json);\n\n// ===============\n// 1) OTcliente (solo si viene informado)\n// ===============\nif (otPedido) {\n  const matchOt = registros.find(r => normStr(r.numeroOTcliente) === otPedido);\n  if (matchOt) {\n    // Si existe OTcliente => AVISO y STOP. NO se mira ISBN.\n    return [{\n      allowCreate: false,\n      reason: \"OT_DUPLICADA\",\n      pedido: { numeroOtCliente: otPedido, isbn: isbnPedido, titulo: pedido.titulo },\n      match: {\n        numeroPedido: matchOt.numeroPedido,\n        numeroOTcliente: matchOt.numeroOTcliente,\n        titulo: matchOt.titulo,\n        faseInterior1: matchOt.faseInterior1,\n        fechaEntrega: matchOt.fechaEntrega,\n        isbn: matchOt.isbn,\n      },\n    }];\n  }\n}\n\n// ===============\n// 2) ISBN (siempre se comprueba)\n// ===============\nconst estadosFinalizados = new Set([\n  \"10.0. Facturado\",\n  \"99.0. Cancelado\",\n  \"9.0. Mercancía entregada\",\n]);\n\nconst activosPorIsbn = registros.filter(r => {\n  const risbn = normIsbn(r.isbn);\n  if (risbn !== isbnPedido) return false;\n\n  const fase = normStr(r.faseInterior1);\n  if (!fase) return false;\n\n  return !estadosFinalizados.has(fase);\n});\n\nif (activosPorIsbn.length > 0) {\n  const ej = activosPorIsbn[0];\n  return [{\n    allowCreate: false,\n    reason: \"ISBN_EN_PRODUCCION\",\n    pedido: { numeroOtCliente: otPedido || null, isbn: isbnPedido, titulo: pedido.titulo },\n    match: {\n      numeroPedido: ej.numeroPedido,\n      numeroOTcliente: ej.numeroOTcliente,\n      titulo: ej.titulo,\n      faseInterior1: ej.faseInterior1,\n      fechaEntrega: ej.fechaEntrega,\n      isbn: ej.isbn,\n    },\n    activosCount: activosPorIsbn.length,\n  }];\n}\n\n// OK\nreturn [{\n  allowCreate: true,\n  reason: \"OK\",\n  pedido: { numeroOtCliente: otPedido || null, isbn: isbnPedido, titulo: pedido.titulo },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        496
      ],
      "id": "73c04d3a-44dc-4887-8953-56787ac4cf43",
      "name": "Validar duplicados",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8dbabbf5-f37b-475a-b6df-aea5e1d70401",
              "leftValue": "={{$json.allowCreate}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        496
      ],
      "id": "6eea2c85-9f4e-4ab9-9924-eb6832745d53",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## DUPLICIDAD\n**Comprueba si el PEDIDO existe o el ISBN\n** Desconecta los tres módulos para que no compruebe si esta en producción",
        "height": 368,
        "width": 1152
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        352
      ],
      "id": "3949c85f-ceda-4bc9-8025-7aa24a9f48d7",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.reason}}",
                    "rightValue": "OT_DUPLICADA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "98b4a8f0-04dd-4ecc-9b9e-8b88b9a95904"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "386d49ea-5349-42ea-9685-17312f4ca29a",
                    "leftValue": "={{$json.reason}}",
                    "rightValue": "ISBN_EN_PRODUCCION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fbc0c780-bcde-4640-9e57-00ca9d6c0282",
                    "leftValue": "={{$json.reason}}",
                    "rightValue": "DATOS_INCOMPLETOS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1216,
        1408
      ],
      "id": "e8470cdb-086b-406c-9836-91b7a332d967",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "059e152e-2548-4983-add7-2d9f28cc9968",
              "leftValue": "={{ Number($items(\"Build JSON completo\")[0].json?.interiores?.[0]?.papel_id ?? 0) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1264,
        432
      ],
      "id": "ff3b095a-fc59-4414-8a08-f0546c26509d",
      "name": "¿papel_id > 0?"
    },
    {
      "parameters": {
        "url": "https://liberdigital.gomezaparicio.es/sw/automatizacion/bobinas/stock",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1664,
        704
      ],
      "id": "ea02e7f9-8796-47d7-9bb3-51ed318997ce",
      "name": "API Bobinas Stock",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "EGTFeBpcDKH8NdqZ",
          "name": "Apis Libernet"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// items = lista de items que vienen del HTTP (117 bobinas)\nconst stock = items.map(i => i.json);\n\n// devolvemos 1 solo item con un campo stock = [ ...bobinas ]\nreturn [{ json: { stock } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        816
      ],
      "id": "51117186-b48f-4ac4-b540-9c0aaff6ba44",
      "name": "Agrupar stock"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1360,
        1392
      ],
      "id": "ad2b0c93-9198-469e-b200-0d1f8622911c",
      "name": "Unir pedido + stock"
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined) return NaN;\n  if (typeof v === \"number\") return v;\n\n  const s = String(v)\n    .trim()\n    // deja solo dígitos, coma, punto y signo\n    .replace(/[^\\d.,+-]/g, \"\")\n    // si hay coma, la tratamos como decimal\n    .replace(\",\", \".\");\n\n  const n = Number(s);\n  return Number.isFinite(n) ? n : NaN;\n}\n\nfunction normStr(v) {\n  return (v ?? \"\").toString().trim();\n}\n\n// normalización “tipo prompt”: minúsculas, sin acentos, colapsa espacios\nfunction normKey(v) {\n  return (v ?? \"\")\n    .toString()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\") // quita acentos\n    .toLowerCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n// gramaje robusto: acepta \"70\", \"70 g\", \"70gr\", \"70,0\"\nfunction normGramaje(v) {\n  const s = (v ?? \"\").toString().replace(/[^\\d.,]/g, \"\");\n  const n = toNumber(s);\n  return Number.isFinite(n) ? n : NaN;\n}\n\n// ======================\n// INPUT\n// ======================\nconst root = { ...$json };\nconst pedido = root.pedido ?? root;\n\n// stock puede estar en root.stock, root.stock.stock, pedido.stock, pedido.stock.stock...\nconst bobinas =\n  Array.isArray(root.stock) ? root.stock :\n  Array.isArray(root.stock?.stock) ? root.stock.stock :\n  Array.isArray(pedido.stock) ? pedido.stock :\n  Array.isArray(pedido.stock?.stock) ? pedido.stock.stock :\n  [];\n\n// ======================\n// VALIDACIONES\n// ======================\nconst interior0 = Array.isArray(pedido.interiores) ? pedido.interiores[0] : null;\nif (!interior0) return [{ json: pedido }];\nif (!Array.isArray(bobinas) || bobinas.length === 0) return [{ json: pedido }];\n\n// ======================\n// DATOS PEDIDO (como Azure Function)\n// ======================\nconst anchoLibroCm = toNumber(pedido.anchoPaginaCm);\nif (!Number.isFinite(anchoLibroCm)) return [{ json: pedido }];\n\nconst unionPliegos = toNumber(pedido.unionPliegos);\nconst esCosido = Number.isFinite(unionPliegos) && unionPliegos === 1;\n\nconst propietarioDeseado = \"Liberdigital\";\n\n// 👇 robusto\nconst calidadPedidoN = normKey(interior0?.calidad);\nconst gramajePedidoN = normGramaje(interior0?.papelPedido?.gramaje);\n\nconst certificacionCodigo = normStr(pedido.certificacion);\n\n// ======================\n// MAPEO CERTIFICACIÓN (igual que Python)\n// ======================\nconst mapaCert = {\n  \"2\": \"FSC MIX CREDIT\",\n  \"3\": \"100% PEFC CERTIFICADO\",\n  \"4\": \"70% PEFC CERTIFICADO\",\n  \"5\": \"FSC Reciclado 100%\",\n};\n\nconst certTexto = mapaCert[certificacionCodigo] ?? null;\n\n// ======================\n// 1) FILTRAR CALIDAD + GRAMAJE (robusto OCR)\n// ======================\nlet base = bobinas.filter(b => {\n  const calidadB = normKey(b.calidad);\n  const gramajeB = normGramaje(b.gramaje);\n\n  // si no podemos parsear gramaje, NO lo aceptamos\n  if (!Number.isFinite(gramajePedidoN) || !Number.isFinite(gramajeB)) return false;\n\n  return calidadB === calidadPedidoN && gramajeB === gramajePedidoN;\n});\n\nif (base.length === 0) {\n  // Limpieza stock igualmente\n  delete root.stock;\n  if (root.pedido) delete root.pedido.stock;\n  delete pedido.stock;\n  if (pedido.pedido) delete pedido.pedido.stock;\n  delete pedido.seleccionBobina;\n  delete root.seleccionBobina;\n\n  return [{ json: pedido }];\n}\n\n// ======================\n// 2) CALCULAR CANDIDATOS (propietario + cert + copias)\n// ======================\nconst anchoEfectivo = anchoLibroCm + 1;\nif (!(anchoEfectivo > 0)) return [{ json: pedido }];\n\nconst candidatos = [];\n\nfor (const b of base) {\n  const anchoBobina = toNumber(b.ancho); // admite \"48\", \"48 cm\", etc.\n  if (!Number.isFinite(anchoBobina) || anchoBobina <= 0) continue;\n\n  // propietario (igual que python: si bobina trae propietario y no coincide, fuera)\n  const propBobina = normKey(b.propietario);\n  if (propietarioDeseado && propBobina && propBobina !== normKey(propietarioDeseado)) continue;\n\n  // certificación\n  const certBobina = normKey(b.certificacion);\n  if (certTexto && certBobina) {\n    const certObjetivo = normKey(certTexto);\n\n    if (certObjetivo === normKey(\"FSC MIX CREDIT\")) {\n      // admite MIX CREDIT o MIX 70%\n      if (certBobina !== normKey(\"FSC MIX CREDIT\") && certBobina !== normKey(\"FSC MIX 70%\")) continue;\n    } else {\n      if (certBobina !== certObjetivo) continue;\n    }\n  }\n\n  // max copias base\n  const maxCopias = Math.floor(anchoBobina / anchoEfectivo);\n  if (maxCopias <= 0) continue;\n\n  let copias;\n  if (esCosido) {\n    // solo 4 o 2\n    if (maxCopias >= 4) copias = 4;\n    else if (maxCopias >= 2) copias = 2;\n    else continue;\n  } else {\n    // fresado: todas las que quepan\n    copias = maxCopias;\n  }\n\n  candidatos.push({\n    bobina: b,\n    copiasEnAncho: copias,\n    anchoBobina: anchoBobina,\n  });\n}\n\nif (candidatos.length === 0) {\n  // Limpieza stock\n  delete root.stock;\n  if (root.pedido) delete root.pedido.stock;\n  delete pedido.stock;\n  if (pedido.pedido) delete pedido.pedido.stock;\n  delete pedido.seleccionBobina;\n  delete root.seleccionBobina;\n\n  return [{ json: pedido }];\n}\n\n// ======================\n// 3) ELEGIR MEJOR (igual que python)\n// 1º mayor copiasEnAncho\n// 2º menor anchoBobina\n// ======================\ncandidatos.sort((a, b) => {\n  if (b.copiasEnAncho !== a.copiasEnAncho) return b.copiasEnAncho - a.copiasEnAncho;\n  return a.anchoBobina - b.anchoBobina;\n});\n\nconst mejor = candidatos[0].bobina;\nconst ups = candidatos[0].copiasEnAncho;\n\n// ======================\n// 4) APLICAR AL PEDIDO\n// ======================\nconst papelIdNuevo = toNumber(mejor.papelId);\nif (Number.isFinite(papelIdNuevo)) interior0.papel_id = papelIdNuevo;\n\nif (typeof interior0.papelPedido !== \"object\" || interior0.papelPedido === null) {\n  interior0.papelPedido = {};\n}\n\n// mantenemos gramaje, pero lo reasignamos por seguridad\ninterior0.papelPedido.gramaje = toNumber(mejor.gramaje) || toNumber(interior0.papelPedido.gramaje) || 0;\n\n// ancho bobina\ninterior0.papelPedido.anchoBobinaCm = toNumber(mejor.ancho) || 0;\n\n// ups (siempre calculado como el Python)\ninterior0.papelPedido.ups = ups;\n\n// kg siempre 0\ninterior0.papelPedido.kg = 0;\n\n// referencia informativa\nif (normStr(mejor.referencia)) interior0.papelPedido.refPedido = normStr(mejor.referencia);\n\n// ======================\n// LIMPIEZA STOCK\n// ======================\ndelete root.stock;\nif (root.pedido) delete root.pedido.stock;\n\ndelete pedido.stock;\nif (pedido.pedido) delete pedido.pedido.stock;\n\ndelete pedido.seleccionBobina;\ndelete root.seleccionBobina;\n\n// ======================\n// SALIDA\n// ======================\nreturn [{ json: pedido }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        1392
      ],
      "id": "758f2730-d7a2-4ef6-ac01-1a275d3144b0",
      "name": "Seleccionar bobina (JS)"
    },
    {
      "parameters": {
        "content": "## Condición\nsi viene id (su papel) o no viene (nuestro papel)",
        "height": 368,
        "width": 336,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        288
      ],
      "id": "bcd5b41f-ed17-444a-867b-fc3ccecd056a",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined) return NaN;\n  if (typeof v === 'number') return v;\n  if (typeof v === 'string') return Number(v.replace(',', '.').trim());\n  return Number(v);\n}\n\nfunction calcUps({ anchoBobinaCm, anchoPaginaCm, unionPliegos }) {\n  const aBob = toNumber(anchoBobinaCm);\n  const aPag = toNumber(anchoPaginaCm);\n  const uPl  = toNumber(unionPliegos);\n\n  if (!Number.isFinite(aBob) || aBob <= 0) return null;\n  if (!Number.isFinite(aPag)) return null;\n\n  const denom = aPag + 1;\n  if (!Number.isFinite(denom) || denom <= 0) return null;\n\n  // 1) Fórmula base exacta + parte entera (sin redondear)\n  const base = Math.floor(aBob / denom);\n\n  // 2) Reglas según unionPliegos\n  // 2 = FRESADO => tal cual\n  if (uPl === 2) return base;\n\n  // 1 = COSIDO => solo 0 / 2 / 4\n  if (uPl === 1) {\n    if (base >= 4) return 4;\n    if (base >= 2) return 2;\n    return 0;\n  }\n\n  // Si viene otro valor, por defecto aplicamos base (si prefieres otra cosa, lo cambiamos)\n  return base;\n}\n\n// ======================\n// INPUT\n// ======================\nconst data = $json;\n\n// interiores[0]\nconst interior0 = Array.isArray(data?.interiores) ? data.interiores[0] : null;\nif (!interior0) return [{ json: data }];\n\n// papelPedido\nif (typeof interior0.papelPedido !== 'object' || interior0.papelPedido === null) {\n  interior0.papelPedido = {};\n}\n\n// Datos necesarios (salen de Parse output_text1)\nconst anchoPaginaCm = data.anchoPaginaCm;\nconst unionPliegos  = data.unionPliegos;\n\n// anchoBobinaCm: si ya vino en papelPedido, lo usamos\nconst anchoBobinaCm = interior0.papelPedido.anchoBobinaCm;\n\n// Calcular\nconst ups = calcUps({ anchoBobinaCm, anchoPaginaCm, unionPliegos });\n\n// Si no se puede calcular, NO TOCAMOS NADA\nif (ups === null) return [{ json: data }];\n\n// Guardar ups (solo esto)\ninterior0.papelPedido.ups = ups;\n\nreturn [{ json: data }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        -1296
      ],
      "id": "f45f2c0d-2621-4912-9f29-9c123c98d378",
      "name": "Calcular UPS (interiores)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        736,
        128
      ],
      "id": "de2ecbf5-37b3-430d-ade1-67793c77c510",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2848,
        -1296
      ],
      "id": "39e760a2-c01d-4697-8a96-1fe5c90ee570",
      "name": "Merge2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://liberdigital-des.gomezaparicio.es/desarrollo/sw/automatizacion/pedidos/digital/nuevo/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        1392
      ],
      "id": "05fb60d1-8a65-454d-9e7f-af567127bff5",
      "name": "Desarrollo",
      "credentials": {
        "httpBasicAuth": {
          "id": "EGTFeBpcDKH8NdqZ",
          "name": "Apis Libernet"
        }
      }
    },
    {
      "parameters": {
        "content": "## Selecciona bobina en stock\n",
        "height": 336,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1024,
        1280
      ],
      "id": "9df5e1f6-e934-4a24-9514-1569954d0f00",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## LIBERNET",
        "height": 560,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        1280
      ],
      "id": "c2143465-a426-4117-9be7-4eea3f9bd956",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://liberdigital.gomezaparicio.es/sw/automatizacion/pedidos/digital/nuevo/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        1632
      ],
      "id": "79ebc6e0-9415-420a-bd89-550342ffced8",
      "name": "Producción",
      "credentials": {
        "httpBasicAuth": {
          "id": "EGTFeBpcDKH8NdqZ",
          "name": "Apis Libernet"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://liberdigital-des.gomezaparicio.es/desarrollo/sw/automatizacion/pedidos/digital/nuevo/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2352,
        240
      ],
      "id": "e7dd8e0f-2c73-480c-a314-7214224c3b2d",
      "name": "Desarrollo1",
      "credentials": {
        "httpBasicAuth": {
          "id": "EGTFeBpcDKH8NdqZ",
          "name": "Apis Libernet"
        }
      }
    },
    {
      "parameters": {
        "content": "## LIBERNET",
        "height": 560,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2224,
        128
      ],
      "id": "84bee519-6235-49b2-b552-859e0ce26350",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://liberdigital.gomezaparicio.es/sw/automatizacion/pedidos/digital/nuevo/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2352,
        480
      ],
      "id": "2ed8b9f5-36d4-4744-827b-e4fceeb15678",
      "name": "Producción1",
      "credentials": {
        "httpBasicAuth": {
          "id": "EGTFeBpcDKH8NdqZ",
          "name": "Apis Libernet"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0ce385a-7aee-445a-9af9-1acee2a8952e",
              "name": "promptCabecera",
              "value": "Actúa como un extractor de datos. Tu tarea es analizar el PDF adjunto y devolver exclusivamente un JSON válido conforme al siguiente esquema:\n\n## MODELO DE SALIDA\n{\n  \"cliente\": 18,\n  \"contacto\": 0,\n  \"suReferencia\": \"\",\n  \"numeroOf\": \"\",\n  \"numeroOtCliente\": \"\",\n  \"isbnPack\": \"\",\n  \"fechaEntrega\": \"\",\n  \"sinRetraso\": false,\n  \"tirada\": 0,\n  \"precioUnitarioSinIVA\": 0,\n  \"precioToltalSinIVA\": 0,\n  \"quiereVerFerros\": 3,\n  \"certificacion\": 0,\n  \"observacionesPedido\": \"\",\n  \"titulo\": \"\",\n  \"sello\": \"\",\n  \"isbn\": \"\",\n  \"codProyecto\": \"\",\n  \"anchoPaginaCm\": 0,\n  \"altoPaginaCm\": 0,\n  \"unionPliegos\": 0,\n  \"encuadernacion\": 0,\n  \"cabezada\": 0,\n  \"cabezadaColor\": 0,\n  \"cabezadaColorOtro\": \"\",\n  \"guardasAparte\": 0,\n  \"guardasImpresas\": 0,\n  \"cintaRegistro\": 0,\n  \"cintaRegistroColor\": 0,\n  \"cintaRegistroColorOtro\": \"\",\n  \"calibreCarton\": 0,\n  \"tipoLomo\": 0,\n  \"solapa\": false,\n  \"hendidoCortesia\": false,\n  \"espiralMaterial\": 0,\n  \"espiralColor\": 0,\n  \"espiralColorOtro\": \"\",\n  \"espiralLado\": 0,\n  \"wireoMaterial\": 0,\n  \"wireoColor\": 0,\n  \"wireoColorOtro\": \"\",\n  \"wireoLado\": 0,\n  \"observacionesEncuadernacion\": \"\"\n}\n\n## REGLAS OBLIGATORIAS\n1) Devuelve SOLO JSON. Sin texto adicional. Sin markdown. Sin explicaciones.  \n2) El JSON debe ser válido (comillas dobles, sin trailing commas).  \n3) Cumple el esquema al 100%:  \n   - No inventes campos que no existan en el esquema.  \n   - No devuelvas claves extra fuera del esquema.  \n   - Respeta tipos (string/number/boolean/array/object) y enum si existen.  \n4) Si un dato no aparece en el PDF:  \n   - Usa null si el esquema lo permite.  \n   - Si NO permite null, usa el valor vacío adecuado: \"\" para string, 0 para number, false para boolean, [] para arrays, {} para objetos (solo si el esquema lo permite).  \n   - Si un campo indica \"siempre vacío\", debe devolverse como cadena vacía (\"\") aunque se detecte contenido.  \n5) Normalización:  \n   - Fechas en formato \"YYYY-MM-DD\" si el esquema no indica otro.  \n   - Importes numéricos sin símbolo de moneda (ej: 174.00).  \n   - Medidas: conserva unidades solo si el esquema lo pide; si no, usa número limpio.  \n   - Ignora acentos SOLO para detectar coincidencias; el valor devuelto mantiene tildes originales.  \n   - Si un texto contiene comillas internas, escápalas con una barra invertida: \\\"  \n   - Acepta SI/Sí/No/NO sin importar mayúsculas/acentos.  \n   EN LA BUSQUEDA DE DATOS:  \n   - Coincidencia sin distinguir mayúsculas/minúsculas.  \n   - Ignora acentos/diacríticos.  \n   - Colapsa espacios múltiples y recorta espacios sobrantes.  \n6) Verificación final antes de responder:  \n   - Revisa que el JSON parsea.  \n   - Revisa que cumple el esquema.  \n   - Revisa que no hay texto fuera del JSON.\n\n## REGLAS POR CAMPO\n- \"cliente\": Devuelve 18.  \n- \"contacto\": Usa el prompt de CONTACTO.  \n- \"numeroOf\": Números debajo de Ed/Enc (ej.: \"001/001\").  \n- \"numeroOtCliente\": Número de Pedido.  \n- \"fechaEntrega\": Fecha prevista fin (AAAA-MM-DD).  \n- \"sinRetraso\": true si aparece la palabra literal \"URGENTE\", si no aparece ninguna refenrencia devuelve false.  \n- \"tirada\": Valor del tiraje.  \n- \"precioUnitarioSinIVA\": // no devuelvas nada. Dejalo a 0.  \n- \"precioToltalSinIVA\": // Si aparece, devuelve número con 2 decimales; si no aparece, 0.  \n- \"quiereVerFerros\": 1 = “ferro digital”, 2 = “ferro físico”, 3 si no se menciona.  \n- \"certificacion\": Usa el prompt de CERTIFICACION.  \n- \"observacionesPedido\": Usa el prompt de OBSERVACIONES.  \n- \"titulo\": Descripción del artículo. Si aparece FSC Mix al lado o debajo, ignóralo.  \n- \"isbn\": segunda línea debajo de Código Artículo.  \n- \"codProyecto\": primera línea debajo de Código Artículo.  \n- \"anchoPaginaCm\"/\"altoPaginaCm\": Convierte mm a cm (1 decimal. Si decimal es 0, devuelve entero).  \n- \"unionPliegos\": 2 si contiene “FRESADO”, 1 si contiene “COSIDO”.  \n- \"encuadernacion\": 1=Cartoné, 2=Flexible, 3=Rústica, 4=Espiral, 5=Grapa, 6=Wire-o, 7=Otro.  \n- \"cabezada\": 1 si aparece \"Cabezada SI/SÍ\" y encuadernación es 1 o 2, si no 0.  \n- \"cabezadaColorOtro\":  \n  - Si aparece “Cabezada Sí” y encuadernacion ∈ {1,2} ⇒ cabezada = 1.  \n    - Extrae el texto después de “Sí” (ej.: Politi 1 - Blanco).  \n    - Guarda ese color en cabezadaColorOtro (string).  \n    - cabezadaColor debe ser 0 siempre.  \n  - Si aparece “Cabezada No” o no hay “Cabezada” ⇒ cabezada = 0, cabezadaColorOtro = \"\" y cabezadaColor = 0.  \n  - Scope: Evalúa “Sí/No” y el texto asociado solo en la misma línea donde aparezca “Cabezada” (o 1 línea debajo). Ignora “sí/no” en otras secciones.  \n  - Si cabezada=1 y no hay texto después de “Sí”, entonces cabezadaColorOtro=\"\" (vacío).  \n- \"guardasAparte\": 1 si encuadernación ∈ {1,2}, si no 0.  \n- \"guardasImpresas\": 1 si aparece “guardas impresas” y encuadernación ∈ {1,2}, si no 0.  \n- \"cintaRegistro\": 1 si aparece “Cinta de registro SI” o \"Cinta registro SI/SÍ\" y encuadernación ∈ {1,2}, si aparece “Cinta de registro NO\" o \"Cinta registro NO\" devuelve 0.  \n- \"cintaRegistroColorOtro\":  \n  - Si aparece “Sí” y encuadernacion ∈ {1,2} ⇒ cintaRegistro = 1.  \n    - Extrae el texto después de “Sí” (ej.: Politi 8 - Blanco).  \n    - Guarda ese color en cintaRegistroColorOtro (string).  \n    - cintaRegistroColor debe ser 0 siempre.  \n  - Si aparece “No” o no hay mención ⇒ cintaRegistro = 0, cintaRegistroColorOtro = \"\", cintaRegistroColor = 0.  \n  - Importante: NO pongas cintaRegistro = 0 solo porque no encuentres el color. Son cosas independientes.  \n  - Scope: Evalúa “Sí/No” y el texto asociado solo en la misma línea donde aparezca “Cinta de registro” (o 1 línea debajo). Ignora “sí/no” en otras secciones.  \n  - Si cintaRegistro=1 y no hay texto después de “Sí”, entonces cintaRegistroColorOtro=\"\" (vacío).  \n- \"calibreCarton\": Usa el prompt de CALIBRE.  \n- \"tipoLomo\": 1 = “lomo cuadrado”, 2 = “lomo redondo” y encuadernación ∈ {1,2}, si no 0.  \n- \"solapa\": Devuelve siempre este campo. true si aparece literalmente \"CON SOLAPA\" o \"CON SOLAPAS\". false si aparece \"SIN SOLAPA\", \"SIN SOLAPAS\" o no aparece nada. Coincidencia insensible a mayúsculas/minúsculas ni acentos.  \n- \"hendidoCortesia\": Devuelve siempre este campo. true si aparece literalmente \"CON HENDIDO\" o no aparece nada. false si aparece \"SIN HENDIDO\" o encuadernación = Cartoné, Flexible, Espiral. Coincidencia insensible a mayúsculas/minúsculas ni acentos. Si aparece \"HENDIDO\" y no aparece CON o SIN devuelve true.  \n- Los campos como “espiral...” o “wireo...” solo se rellenan si aparecen explícitamente en el PDF, si no mantener en 0 o \"\".  \n- \"observacionesEncuadernacion\": Solo si detectas \"Guardas impresas NO\" busca referencia al material de impresión, ejemplo \"Geltex\".\n\n## PROMPTS\n\n### CONTACTO\nBusca en el PDF solo en la parte inferior de la orden (el último cuarto de la página). Dentro de ese bloque, localiza el nombre y apellidos juntos.\n\nReglas:\n- Coincidencia sin distinguir mayúsculas/minúsculas.\n- Ignora acentos/diacríticos (Á= A, É= E, Í= I, Ó= O, Ú= U, Ü= U, Ñ= N).\n- Colapsa espacios múltiples y recorta espacios sobrantes.\n- Si varias líneas del mapa coinciden tras normalizar (por ejemplo, duplicados con y sin acento), devuelve el usuarioId menor.\n- Si no hay coincidencia, devuelve 0.\n\nSalida: devuelve solo el número usuarioId (entero, sin comillas).\n\nMapa nombre → usuarioId:\n- Marta Álvarez = 3\n- Víctor Benayas = 4\n- Raúl Bernardo = 5\n- José Antonio Cabezas = 7\n- Sonia López = 18\n- Rocío Martínez = 21\n- Daniel Pamos = 26\n- Víctor Benayas = 38\n- Guillermo Manzano = 283\n- Cecilia Porzio = 335\n- Wilfred Santana = 415\n- Sarai Paz = 477\n- Juan Jose Hernandez = 485\n- Judit Franco = 498\n- CAROLINA JIMÉNEZ = 507\n\nDevuelve únicamente el número.\n\n### CERTIFICACION\nIdentifica el bloque correcto “Descripción (del artículo)” siguiendo esta lógica:\n\n1. LOCALIZACIÓN DEL BLOQUE:\n- Busca una línea exacta con el texto “Descripción”.\n- Dentro de las 10 líneas siguientes, debe aparecer al menos uno de estos rótulos de ficha:\n  Autor, Ed/Enc, Colección, Tiraje, Formato, Nº Páginas, Solapa, Grosor, Código Barras.\n- Si “Descripción” forma parte de una tabla o cabecera (por ejemplo en “Servicios” o “Componentes”), descártalo: no es el bloque de ficha del artículo.\n\n2. DEFINICIÓN DEL BLOQUE:\n- El bloque comienza en la línea inmediatamente posterior a “Descripción”.\n- Finaliza al encontrar alguno de estos rótulos:\n  Autor, Ed/Enc, Colección, Tiraje, Formato, Nº Páginas, Solapa, Grosor, Código Barras, Servicios, Componentes, Observaciones.\n\n3. ALCANCE DE BÚSQUEDA:\n- La búsqueda de certificación se limita únicamente a ese bloque validado.\n\n4. DETECCIÓN DE CERTIFICACIÓN (valores literales y sensibles a mayúsculas/minúsculas):\n- Si aparece exactamente “FSC Mix” ⇒ devuelve 2.\n- Si no aparece “FSC Mix” pero sí aparece exactamente “PEFC” ⇒ devuelve 4.\n- En cualquier otro caso ⇒ devuelve 0.\n- Si ambos aparecen ⇒ da prioridad a “FSC Mix” (devuelve 2).\n\n5. EXCLUSIONES EXPLÍCITAS:\nIgnora cualquier mención a “FSC”, “FSC®”, “FSC Mix”, “PEFC” si:\n- Está en cabeceras, pies de página o notas legales (ej.: “empresa certificada FSC®…”).\n- Está dentro de las tablas o secciones “Servicios” o “Componentes” (ej.: “MB PRIME BRIGHT… (FSC)”).\n\n6. SALIDA:\nDevuelve únicamente el valor en “certificacion”: 2, 4 o 0. No devuelvas ningún texto adicional.\n\n### OBSERVACIONES\nObjetivo: SIEMPRE devuelve las dos primeras líneas del bloque “Observaciones”. Si hay un renglón vacio entre ellas no lo cuentes, devuelve las dos primeras con texto.\n\nAnaliza el resto y solo devuelve lo relacionado con Urgencias, Modelos, indicaciones de cuidado o advertencias, nada más.\n\nPalabra clave: “topo”: Solo cuenta “topo” como palabra independiente. Si hay una mención válida (no negada), añade solo “Colocar topo”.\n\nEstilo de salida:\n- Elimina relleno (“gracias”, “saludos”) y frases irrelevantes.\n- Mantén ortografía original salvo limpieza mínima de espacios.\n\nReglas de calidad:\n- Prioriza claridad y concisión. Une frases relacionadas en una sola línea si procede.\n- No inventes datos; no infieras campos técnicos.\n- No repitas información ya cubierta por los datos estructurados del pedido.\n\nAcuerdate de registrar las dos primeras lineas de Observaciones siempre\n\n### CALIBRE\nObjetivo:\nDevuelve exclusivamente el ID correspondiente al calibreCarton según la tabla. Si no se encuentra una coincidencia inequívoca, devuelve 0.\n\nMAPEO (calibre → ID):\n- 1,5 → 1\n- 2,0 → 2\n- 2,5 → 3\n- 3,0 → 4\n- 2,0 + espuma 3 → 5\n- 2,5 + espuma 3 → 6\n- 3,0 + espuma 3 → 7\n- 1,75 → 8\n- 2,25 → 9\n- 2,75 → 10\n\nREGLAS DE DETECCIÓN:\n1. Scope:\n- Prioriza coincidencias cercanas a palabras clave como: “calibre”, “cartón”, “cartone”, “tapa”, “cubierta”, “caja rígida”.\n- Si no se encuentran cerca de esas palabras, busca en todo el PDF.\n\n2. Normalización previa:\n- Ignora mayúsculas, minúsculas y acentos.\n- Considera \".\" igual a \",\" (ej.: “2.5” se interpreta como “2,5”).\n- Elimina espacios innecesarios.\n- “foam”, “esp.” y “espuma” se consideran equivalentes.\n- “mm” es opcional y puede omitirse.\n\n3. Orden de detección (prioridad):\na) Detecta primero patrones que indiquen combinaciones con espuma 3 (acepta formatos con \"+\", \"con\", \"y\", incluso en orden invertido).\nb) Si no hay espuma, busca solo el calibre exacto (usando el mapeo anterior).\n\n4. Desempate:\n- Si aparecen varios valores posibles:\n  - Prioriza el más específico (el que incluye espuma).\n  - Si tienen misma especificidad, elige el más cercano al contexto (palabras clave del Scope).\n  - Si persiste el empate → devuelve 0.\n\nSALIDA:\nDevuelve únicamente el número del ID (ej.: 3). Si no hay coincidencia inequívoca, devuelve 0.\n\nEJEMPLOS:\n- “2,5 mm” → 3\n- “3,0 + espuma 3” → 7\n- “2.0 + FOAM 3” → 5\n- “1,75” → 8\n- “2,0 y 2,5 sin claridad” → 0\n\nsolo si encuadernación ∈ {1,2}, si no 0.\n\n## IMPORTANTE\nDevuelve todos los valores del esquema aunque esten vacios o sin datos\n",
              "type": "string"
            },
            {
              "id": "c96c9a1c-073d-4f7e-b50a-3cd080f922a9",
              "name": "promptInteriores",
              "value": "Actúas como un extractor de datos de documentos. Tu tarea es analizar el PDF adjunto y devolver EXCLUSIVAMENTE un JSON válido que cumpla ESTRICTAMENTE el esquema proporcionado.\n\n### REGLAS OBLIGATORIAS:\n1) Devuelve SOLO JSON. Sin texto adicional. Sin markdown. Sin explicaciones.\n2) El JSON debe ser válido (comillas dobles, sin trailing commas).\n3) Cumple el esquema al 100%:\n   - No inventes campos que no existan en el esquema.\n   - No devuelvas claves extra fuera del esquema.\n   - Respeta tipos (string/number/boolean/array/object) y enum si existen.\n4) Si un dato no aparece en el PDF:\n   - Usa null si el esquema lo permite.\n   - Si NO permite null, usa el valor vacío adecuado: \"\" para string, 0 para number, false para boolean, [] para arrays, {} para objetos (solo si el esquema lo permite).\n   - Si un campo indica \"siempre vacío\", debe devolverse como cadena vacía (\"\") aunque se detecte contenido.\n5) Normalización:\n   - Fechas en formato \"YYYY-MM-DD\" si el esquema no indica otro.\n   - Importes numéricos sin símbolo de moneda (ej: 174.00).\n   - Medidas: conserva unidades solo si el esquema lo pide; si no, usa número limpio.\n   - En la recogida de datos mantén tildes y caracteres originales.\n   - Si un texto contiene comillas internas, escápalas con una barra invertida: \\\"\n    EN LA BUSQUEDA DE DATOS:\n        - Coincidencia sin distinguir mayúsculas/minúsculas.\n        - Ignora acentos/diacríticos\n        - Colapsa espacios múltiples y recorta espacios sobrantes\n6) Consistencia:\n   - Si hay tablas/listas (servicios, componentes, direcciones), devuélvelas como arrays.\n   - No mezcles datos de secciones distintas.\n7) Verificación final antes de responder:\n   - Revisa que el JSON parsea.\n   - Revisa que cumple el esquema.\n   - Revisa que no hay texto fuera del JSON\n\n### MODELO DE SALIDA:\n{\n  \"interiores\": [\n    {\n      \"papel_id\": 0,\n      \"propietarioPapel\": 0,\n      \"tipoImpresion\": 0,\n      \"calidad\": \"\",\n      \"paginas\": 0,\n      \"plegadoOCortado\": 0,\n      \"maquina\": 0,\n      \"observaciones\": \"\",\n      \"papelPedido\": {\n        \"refPedido\": \"\",\n        \"gramaje\": 0,\n        \"anchoBobinaCm\": 0,\n        \"upsCalc\": 0,\n        \"ups\": 0,\n        \"metros\": 0,\n        \"kg\": 0\n      }\n    }\n  ]\n}\n\n### CAMPOS DE INTERIORES:\nBasate en este prompt modo\": \"interior\"\nSi detectas cualquier evidencia de cubierta, no devuelvas coincidencia; sigue buscando SOLO interiores.\n    1. NORMALIZACIÓN (BÁSICA)\n        3.1. Ignora mayúsculas/minúsculas y acentos.\n        3.2. Colapsa espacios/saltos múltiples a un solo espacio.\n        3.3. Elimina guiones de final de línea por OCR (ej.: ORI- A → ORIA).\n        3.4. Al comparar CÓDIGOS, ignora espacios y guiones internos (p. ej., MBBSTF SC-54 ≈ MBBSTFSC54).\n    2. MAPEO (CÓDIGO → ID)\n        4.1. MBBSTF → \"papel_id\":  634\n          Descripción equivalente: HOLMEN BOOK\n        4.2. YLTE-35 → \"papel_id\":  241\n          Descripción equivalente: HYLTE POCKET\n        4.3. AB0015- → \"papel_id\":  =570\n          Descripción equivalente: ORIA PRINTIVORY\n        4.4. ABALFO- → \"papel_id\":  =573\n          Descripción equivalente: ORIABULKIVORY\n        4.5. MBTRDH- → \"papel_id\":  =694\n          Descripción equivalente: HOLMEN BOOK CREAM\n    En la salida, papel_id debe ser igual a id y propietarioPapel = 2.\n    3. ORDEN DE BÚSQUEDA (PARA EN LA 1ª COINCIDENCIA)\n        5.1. Componentes → “Código”\n         a) Busca cualquiera de los campos del punto 2 (con la normalización del punto 3).\n         b) Si encuentras uno, devuelve el JSON con:\n          — id y papel_id según el mapeo.\n         c) Termina.\n        5.2. Componentes → “Descripción” (solo si 5.1 falló)\n         a) Busca una descripción equivalente del punto 2 (tolerante a espacios y pequeñas variaciones; no hace falta regex avanzada).\n         b) Si encuentras una, devuelve el JSON con:\n          — id y papel_id del mapeo correspondiente.\n        c) Termina. \n    SI:\n    - \"papel_id\":  634 devuleve \"calidad\": \"Ahuesado volumen 2\", \"gramaje\": 55, \"refPedido\": \"Holmen Cream Mano 2 (RANDOM)\" y \"anchoBobinaCm\": 54\n    - \"papel_id\":  241 devuleve \"calidad\": \"Ahuesado volumen 1.8\", \"gramaje\": 70, \"refPedido\": \"Hylte Pocket Creamy 1.8 (RANDOM)\" y \"anchoBobinaCm\": 35\n    - \"papel_id\":  570 devuleve \"calidad\": \"Ahuesado\", \"gramaje\": 80, \"refPedido\": \"Ahuesado Oria (RANDOM)\" y \"anchoBobinaCm\": 38\n    - \"papel_id\":  573 devuleve \"calidad\": \"Ahuesado volumen 1.5\", \"gramaje\": 80, \"refPedido\": \"Oria Bulk Ivory Vol 1,5 (RANDOM)\" y \"anchoBobinaCm\": 35\n    - \"papel_id\":  694 devuleve \"calidad\": \"Ahuesado volumen 1.8\", \"gramaje\": 70, \"refPedido\": \"Holmen Book Cream 1.8 (RANDOM)\" y \"anchoBobinaCm\": 35\n\n    4. PROHIBICIONES\n        4.1. Observaciones está prohibido salvo el caso de fallback.\n        4.2. No devuelvas nada fuera del JSON indicado.\n        4.3. No inventes códigos/IDs que no estén en el mapeo del punto 2.\n            devuleve literalmente \"Ahuesado\" si aparece solo la referencia ahuesado\n            devuleve literalmente \"Ahuesado volumen 1.5\" si aparece solo la referencia ahuesado mano 1.5 o ahuesado 1.5\n            devuleve literalmente \"Ahuesado volumen 1.6\" si aparece solo la referencia ahuesado mano 1.6 o ahuesado 1.6\n            devuleve literalmente \"Ahuesado volumen 1.8\" si aparece solo la referencia ahuesado mano 1.8 o ahuesado 1.8\n            devuleve literalmente \"Ahuesado volumen 2\" si aparece solo la referencia ahuesado mano 2.0 o ahuesado 2.0 o ahuesado 2\n            devuleve literalmente \"Estucado semimate\" si aparece solo la referencia Estudado o Estucado semimate\n            devuleve literalmente \"Offset blanco\" si aparece solo la referencia Offset blanco\n            devuleve literalmente \"Offset Blanco Volumen\" si aparece solo la referencia Offset Blanco Volumen\n            En estos casos deja \"papel_id\": 0 y propietarioPapel = 1.\n        4.4. Filtro anti-cubierta (obligatorio)\n            Antes de aceptar una coincidencia, verifica que el texto NO contiene ninguna señal de cubierta:\n            Códigos: C1SBSFG, FBEXFSC.\n            Términos: SBS, CARTULINA, SUPREMO, BRIGHT NEW, 2/C, 4/0, 4/1, 4/4, PLASTIFICAD(O|A).\n            Si aparece cualquiera de las anteriores ⇒ descarta la coincidencia para interiores.\n        4.5. Ámbito de búsqueda preferente (interiores)\n            Prioriza zonas con “TRIPA”, “INTERIOR”, “Componentes” de interiores, o entorno del bloque donde se listan páginas y impresión (suele estar cerca del interior).\n            Evita filas de Componentes con gramajes ≥ 200 g salvo que el texto contenga palabras típicas de interiores (p. ej., “offset book”, “ahuesado”, “bulk”, “ivory”). (Heurística: cubierta suele ir ≥200 g, interior mucho más bajo.)\n        4.6. Exclusión de cubierta\n            Si en el documento aparece FBEXFSC o C1SBSFG, ignora ese bloque por completo al extraer interiores (son referencias de cubierta).\n    5. Tipo de impresión (interiores)\n        Si ves 1/1 o la palabra NEGRO (o “Inkjet Premium” en impresión interior), devuelve tipoImpresion = 2; si no, 1.\n    6.  Solo usar “Observaciones” si no hay código\n\nMantén tu regla: si no hay código/descr. del mapeo (punto 2), entonces sí toma la descripción y gramaje de Observaciones, pero con papel_id = 0 y propietarioPapel = 1.\n            \"interiores\": [\n                {\n                \"papel_id\": 0, // solo estas referencias 634, 241, 570, 573 o 694, si no 0\n                \"propietarioPapel\": 0,     \n                \"tipoImpresion\": 0, // si aparece 1/1 o la palabra NEGRO devuelve 2, si no devuelve 1\n                \"calidad\": \"\" // devuelve descripción del papel si no hay id de papel,\n                \"paginas\": 0, // Basate en este prompt TAREA: Devuelve el siguiente campo:\n                \"paginas\": <número entero>\n                            REGLAS (aplica en este orden, sin distinguir mayúsculas/minúsculas ni acentos):\n                            1) DETECCIÓN DEL TOTAL DE PÁGINAS:\n                            - Busca una línea que indique el total de páginas del interior.\n                            - Prioriza rótulos como: “Nº Páginas”, “No Páginas”, “Número de páginas” o similares.\n                            - Si hay múltiples coincidencias, usa la más clara o la que esté en tablas o encabezados.\n                            - Extrae solo los dígitos. Ejemplo: si dice “0128” → devuelve 128.\n                            2) DETECCIÓN DE ENCUADERNACIÓN:\n                            - Busca una línea que indique el tipo de encuadernación.\n                            - Considera \"Cartoné\" como igual a \"Cartone\" (ignorar acentos y mayúsculas).\n                            3) DETECCIÓN DE GUARDAS INCLUIDAS:\n                            - Sólo cuenta como afirmativo si aparece exactamente una de las siguientes frases:\n                            • “Guardas incluidas: SI”\n                            • “Incluye guardas: SI”\n                            • “Con guardas: SI”\n                            - Si aparece “NO” o “Sin guardas”, cuenta como NO.\n                            - Si no aparece nada, asume NO.\n                            4) DETECCIÓN DE GUARDAS NO INCLUIDAS:\n                            - Sólo se considera afirmativo si aparece:\n                            • “Guardas incluidas: NO”\n                            • “Guardas aparte: SI”\n                            5) CÁLCULO DEL VALOR DE “paginas”:\n                            - Si (Encuadernación = Cartoné) Y (Guardas incluidas = SI) ⇒ paginas = total - 8\n                            - En cualquier otro caso ⇒ paginas = total\n                            6) SALIDA:\n                            Devuelve sólo el siguiente objeto:\n                            { \"paginas\": <número> }\n                            EJEMPLOS:\n                            - Encuadernación: Cartoné; Guardas incluidas: SI; Nº Páginas: 272 → { \"paginas\": 264 }\n                            - Encuadernación: Cartoné; Guardas incluidas: NO; Nº Páginas: 272 → { \"paginas\": 272 }\n                            - Encuadernación: Cartoné; Guardas aparte: SI; Nº Páginas: 272 → { \"paginas\": 272 }\n                            - Encuadernación: Rústica; (sin mención de guardas); Nº Páginas: 128 → { \"paginas\": 128 }\n                            - Encuadernación: Cartoné; (sin mención de guardas); Nº Páginas: 160 → { \"paginas\": 160 }\n                            para obtener número de páginas,\n                \"plegadoOCortado\": 0, // siempre vacío\n                \"maquina\": 0, // siempre vacío\n                \"observaciones\": \"\", // siempre vacío\n                \"papelPedido\": {\n                \"refPedido\": \"\", // siempre vacío\n                \"gramaje\": 0, // devuelve gramaje del papel,\n                \"anchoBobinaCm\": 0, // siempre tiene que aparecer,\n                \"ups\": 0,\n                \"metros\": 0.0, // siempre vacío\n                \"kg\": 0.0 // devuelve solo el número del dato que aparece en Cantidad (Ud) del pedido que corresponde a los kilos de papel, aparece con KG, ejemplo 308. Si no lo encuentras devuelve 0.0.\n            },\n    }\n  ]\n\n\n\n### ESTO LO CALCULAMOS EN N8N:\n\n                  \"ups\": 0, // Quiero que calcules el campo \"ups\" dentro de cada objeto \"papelPedido\" del JSON que te envío.\n                            REGLAS IMPORTANTES (SÍGUELAS SIEMPRE):\n                                1. Fórmula base del cálculo:\n                                    ups = parte_entera( anchoBobinaCm / (anchoPaginaCm + 1) )\n                                    - Primero suma 1 a anchoPaginaCm.\n                                    - Después divide anchoBobinaCm entre ese resultado.\n                                    - Después quédate SOLO con la parte entera (sin decimales, sin redondear).\n                                2. Reglas según \"unionPliegos\":\n                                    - Si unionPliegos = 2 (FRESADO), deja ups tal y como salga de la fórmula.\n                                    - Si unionPliegos = 1 (COSIDO), ups solo puede ser 0, 2 o 4:\n                                        * Si el valor calculado por la fórmula es mayor o igual que 4 → ups = 4.\n                                        * Si es mayor o igual que 2 y menor que 4 → ups = 2.\n                                        * Si es menor que 2 → ups = 0.\n                                3. Muy importante:\n                                    - Haz los cálculos numéricos con precisión.\n                                    - NO inventes números.\n                                    - NO redondees; solo toma la parte entera.\n                                    - No cambies ningún otro valor del JSON, solo añade o modifica el campo \"ups\" donde corresponda.\n                                4. Ejemplo de comprobación (úsalo como referencia interna):\n                                    - Si anchoBobinaCm = 54, anchoPaginaCm = 12.5 y unionPliegos = 2:\n                                        * anchoPaginaCm + 1 = 13.5\n                                        * 54 / 13.5 = 4\n                                        * ups = 4\n                            Devuélveme el MISMO JSON de entrada, solo añadiendo o actualizando el campo \"ups\" correcto en cada \"papelPedido\".\n                            para poder sacar las ups,\n",
              "type": "string"
            },
            {
              "id": "61b81b8a-7210-47b0-8839-f6cf5cb901c4",
              "name": "promptCubierta",
              "value": "Actúas como un extractor de datos de documentos. Tu tarea es analizar el PDF adjunto y devolver EXCLUSIVAMENTE un JSON válido que cumpla ESTRICTAMENTE el esquema proporcionado.\n\n### MODELO DE SALIDA:\n{\n  \"cubierta\": {\n    \"materialCubierta\": 0,         \n    \"propietarioPapel\": 0,         \n    \"plastificado\": 0,             \n    \"uvi\": 0,                  \n    \"impresion\": \"\",           \n    \"codDescarga\": 0,           \n    \"tecnologia\": 0,              \n    \"observaciones\": \"\" \n  }\n}\n\n### REGLAS OBLIGATORIAS:\n1) Devuelve SOLO JSON. Sin texto adicional. Sin markdown. Sin explicaciones.\n2) El JSON debe ser válido (comillas dobles, sin trailing commas).\n3) Cumple el esquema al 100%:\n   - No inventes campos que no existan en el esquema.\n   - No devuelvas claves extra fuera del esquema.\n   - Respeta tipos (string/number/boolean/array/object) y enum si existen.\n4) Si un dato no aparece en el PDF:\n   - Usa null si el esquema lo permite.\n   - Si NO permite null, usa el valor vacío adecuado: \"\" para string, 0 para number, false para boolean, [] para arrays, {} para objetos (solo si el esquema lo permite).\n   - Si un campo indica \"siempre vacío\", debe devolverse como cadena vacía (\"\") aunque se detecte contenido.\n5) Normalización:\n   - Fechas en formato \"YYYY-MM-DD\" si el esquema no indica otro.\n   - Importes numéricos sin símbolo de moneda (ej: 174.00).\n   - Medidas: conserva unidades solo si el esquema lo pide; si no, usa número limpio.\n   - En la recogida de datos mantén tildes y caracteres originales.\n   - Si un texto contiene comillas internas, escápalas con una barra invertida: \\\"\n    EN LA BUSQUEDA DE DATOS:\n        - Coincidencia sin distinguir mayúsculas/minúsculas.\n        - Ignora acentos/diacríticos\n        - Colapsa espacios múltiples y recorta espacios sobrantes\n6) Consistencia:\n   - Si hay tablas/listas (servicios, componentes, direcciones), devuélvelas como arrays.\n   - No mezcles datos de secciones distintas.\n7) Verificación final antes de responder:\n   - Revisa que el JSON parsea.\n   - Revisa que cumple el esquema.\n   - Revisa que no hay texto fuera del JSON\n\n\n### DATOS DE CUBIERTA:\n    Extrae los valores de:\n    - \"materialCubierta\"\n    - \"propietarioPapel\"\n    - \"plastificado\"\n    - \"uvi\"\n    - \"impresion\"\n    - \"codDescarga\"\n    - \"observaciones\"\n            Usa como referencia el contenido definido en:\n            modo\": \"cubierta\"\n            Si detectas cualquier evidencia de interior, no devuelvas coincidencia; sigue buscando SOLO cubierta.\n\n            NORMALIZACIÓN PREVIA (muy importante para OCR):\n            - Trabaja sin distinguir mayúsculas/minúsculas ni acentos.\n            - Unifica espacios múltiples y saltos de línea en un solo espacio.\n            - Elimina guiones de final de línea por corte (ej.: \"SU- premo\" -> \"Supremo\").\n            - Normaliza símbolos: \"1 / C\" == \"1/C\"; \"GR\" == \"G/GR\".\n            - Cuando compares, usa expresiones tolerantes a espacios, barras y saltos: p.ej. `Supremo\\\\s*SBS\\\\s*1\\\\s*/\\\\s*C\\\\s*250\\\\s*GR` - `MB\\\\s*PRIME\\\\s*BRIGHT\\\\s*NEW\\\\s*235\\\\s*GR` - `CARTULINA\\\\s*DIVA\\s*ART\\\\s*250\\\\s*GR.\n\n            ÁMBITO A IGNORAR:\n            - NO uses texto dentro de la sección \"Observaciones\" para decidir el papel de cubierta.\n            - NO busques frases genéricas del tipo “Material cubierta Cartulina 240 g…”.\n\n            ZONA INICIAL DE ESCANEO RÁPIDO:\n            - Empieza en la página 1, en la mitad de la página (donde suelen aparecer Componentes).\n\n            ORDEN DE BÚSQUEDA (detente en la primera coincidencia):\n\n            1) TABLA \"Componentes\" → columna \"Código\"\n              - Busca C1SBSFG o FBEXFSC (insensible a mayúsculas/acentos y tolerante a espacios/ saltos).\n              - Si encuentras:\n                  • C1SBSFG  ⇒ materialCubierta=17, propietarioPapel=2\n                  • FBEXFSC  ⇒ materialCubierta=10, propietarioPapel=2\n                  • C1SBSFG DIVA  ⇒ materialCubierta=13, propietarioPapel=2\n                Devuelve el JSON y termina.\n\n            2) TABLA \"Componentes\" → columna \"Descripción\" (BÚSQUEDA COMPLEMENTARIA/RESPALDO)\n              - Si NO encontraste códigos en 1), busca las referencias de respaldo:\n                  • \"Supremo SBS 1/C 250GR\"     (también puede verse como \"Supremo SBS 1 / C 250 GR\")\n                    ⇒ corresponde a C1SBSFG ⇒ id=17, materialCubierta=17, propietarioPapel=2\n                  • \"MB PRIME BRIGHT NEW 235 GR\" (también \"MB PRIME BRIGHT NEW 235GR\")\n                    ⇒ corresponde a FBEXFSC ⇒ id=10, materialCubierta=10, propietarioPapel=2\n                  • \"CARTULINA DIVA ART 250 1/C FSC\" (también \"CARTULINA DIVA ART 250 1/C FSC\")\n                    ⇒ corresponde a C1SBSFG-DIVA ⇒ id=13, materialCubierta=13, propietarioPapel=2\n                En cuanto una coincida, devuelve el JSON y termina.\n\n            3) CONFIRMACIÓN Y BÚSQUEDA GLOBAL (solo si 1) y 2) fallan)\n              - Confirma internamente: “no encontrados en Componentes”.\n              - Recorre el documento completo (excluye \"Observaciones\") por si aparecieran los mismos códigos o referencias.\n              - Si encuentras alguna, devuelve el JSON y termina.\n\n            4) SI AÚN ASÍ NO HAY NADA\n              - Entonces aplica las equivalencias genéricas del v2 en TODO el documento (excluye \"Observaciones\"):\n                  • \"ESTUCADO 150 G/GR\"        ⇒ materialCubierta=2  ⇒ propietarioPapel=1\n                  • \"ESTUCADO 170 G/GR\"        ⇒ materialCubierta=15 ⇒ propietarioPapel=1\n                  • \"ESTUCADO 300 G/GR\"        ⇒ materialCubierta=3  ⇒ propietarioPapel=1\n                  • \"SIN CUBIERTA\"             ⇒ materialCubierta=4  ⇒ propietarioPapel=0\n                  • \"CARTULINA 240 G/GR\"       ⇒ materialCubierta=1  ⇒ propietarioPapel=1\n\n            REGLAS DE PARADA:\n            - En cuanto encuentres la primera coincidencia válida en los pasos 1), 2) o 3) o 4), detén TODA búsqueda y devuelve SOLO el JSON.\n\n            EJEMPLOS DE MAPEOS ESPERADOS (basado en PDFs reales)\n              Si ves en Componentes el código FBEXFSC y en descripción “MB PRIME BRIGHT NEW 235 GR (FSC)” ⇒ id=10.\n              Si ves en Componentes el código C1SBSFG y en descripción “SUPREMO SBS 1/C 250GR (FSC)” ⇒ id=17.\n\n      OTROS CAMPOS:\n          - PLASTIFICADO (más específico → genérico; insensible a mayúsculas/acentos):\n                \"MATE SEDOSO\"→3\n                \"MATE ANTIRRAYA\"→4\n                \"BRILLO DIGITAL\"→7\n                \"MATE DIGITAL\"→8,\n                \"GOFRADO\"→5\n                \"NATUREFLEX\"→9\n                \"SANDY\"→10\n                \"BRILLO\"→1\n                \"MATE\"→2, otro→6\n              si coincide cualquiera de los específicos, ignora el genérico\n\n    - \"uvi\": Devuelve 1 si aparece referencia UVI o 0 si no aparece.\n    - \"Impresion\": usa literalmente \"4/0\", \"4/1\", \"4/4\", \"1/0\", \"5/0\", si no lo encuentras devuelve 4/0. Si detectas la referencia \"Reverso\" indica 4/4.\n    - \"codDescarga\": Devuelve 1 si aparece \"CODIGO DE DESCARGA\" o \"CÓDIGO DE DESCARGA\" o 0 si no aparece.\n    - \"tecnologia\": \n    - \"Observaciones\": indica \"Recibimos modelo de impresión\" solo si el documento contiene alguna referencia explícita a “enviamos modelo”, \"enviamos prueba\", \"muestra de impresión\" (Coincidencia insensible a mayúsculas/minúsculas ni acentos).",
              "type": "string"
            },
            {
              "id": "5dab2b9d-9686-473a-85b9-8bfe63dfe1d0",
              "name": "promptExtras",
              "value": "Actúas como un extractor de datos de documentos. Tu tarea es analizar el PDF adjunto y devolver EXCLUSIVAMENTE un JSON válido que cumpla ESTRICTAMENTE el esquema proporcionado.\n\n### REGLAS OBLIGATORIAS:\n1) Devuelve SOLO JSON. Sin texto adicional. Sin markdown. Sin explicaciones.\n2) El JSON debe ser válido (comillas dobles, sin trailing commas).\n3) Cumple el esquema al 100%:\n   - No inventes campos que no existan en el esquema.\n   - No devuelvas claves extra fuera del esquema.\n   - Respeta tipos (string/number/boolean/array/object) y enum si existen.\n4) Si un dato no aparece en el PDF:\n   - Usa null si el esquema lo permite.\n   - Si NO permite null, usa el valor vacío adecuado: \"\" para string, 0 para number, false para boolean, [] para arrays, {} para objetos (solo si el esquema lo permite).\n   - Si un campo indica \"siempre vacío\", debe devolverse como cadena vacía (\"\") aunque se detecte contenido.\n5) Normalización:\n   - Fechas en formato \"YYYY-MM-DD\" si el esquema no indica otro.\n   - Importes numéricos sin símbolo de moneda (ej: 174.00).\n   - Medidas: conserva unidades solo si el esquema lo pide; si no, usa número limpio.\n   - En la recogida de datos mantén tildes y caracteres originales.\n   - Si un texto contiene comillas internas, escápalas con una barra invertida: \\\"\n    EN LA BUSQUEDA DE DATOS:\n        - Coincidencia sin distinguir mayúsculas/minúsculas.\n        - Ignora acentos/diacríticos\n        - Colapsa espacios múltiples y recorta espacios sobrantes\n6) Consistencia:\n   - Si hay tablas/listas (servicios, componentes, direcciones), devuélvelas como arrays.\n   - No mezcles datos de secciones distintas.\n7) Verificación final antes de responder:\n   - Revisa que el JSON parsea.\n   - Revisa que cumple el esquema.\n   - Revisa que no hay texto fuera del JSON\n\n\n### MODELO DE SALIDA:\n{\n  \"guardas\": {\n    \"papel_id\": 0,\n    \"propietarioPapel\": 0,\n    \"tipoImpresion\": 0,\n    \"calidad\": \"\",\n    \"paginas\": 0,\n    \"plegadoOCortado\": 0,\n    \"maquina\": 0,\n    \"observaciones\": \"\",\n    \"papelPedido\": {\n      \"refPedido\": \"\",\n      \"gramaje\": 0,\n      \"anchoBobinaCm\": 0,\n      \"upsCalc\": 0,\n      \"ups\": 0,\n      \"metros\": 0,\n      \"kg\": 0\n    },\n    \"papelProduccion\": {\n      \"refProduccion\": \"\",\n      \"gramaje\": 0,\n      \"anchoBobinaCm\": 0,\n      \"upsCalc\": 0,\n      \"ups\": 0,\n      \"metros\": 0,\n      \"kg\": 0\n    }\n  },\n  \"sobrecubierta\": {\n    \"materialSobrecubierta\": 0,\n    \"propietarioPapel\": 0,\n    \"plastificado\": 0,\n    \"uvi\": 0,\n    \"impresion\": \"\",\n    \"tecnologia\": 0,\n    \"observaciones\": \"\"\n  },\n  \"faja\": {\n    \"materialFaja\": 0,\n    \"propietarioPapel\": 0,\n    \"plastificado\": 0,\n    \"uvi\": 0,\n    \"impresion\": \"\",\n    \"tecnologia\": 0,\n    \"observaciones\": \"\"\n  },\n  \"componentesEspeciales\": [\n    {\n      \"material\": 0,\n      \"propietarioPapel\": 0,\n      \"nombre\": \"\",\n      \"plastificado\": 0,\n      \"uvi\": 0,\n      \"impresion\": \"\",\n      \"tecnologia\": 0,\n      \"observaciones\": \"\"\n    }\n  ],\n  \"peticionesEspeciales\": [\n    {\n      \"descripcion\": \"\"\n    }\n  ],\n  \"direcciones\": [\n    {\n      \"direccionId\": \"\",\n      \"destinatario\": \"\",\n      \"via\": \"\",\n      \"numero\": \"\",\n      \"piso\": \"\",\n      \"puerta\": \"\",\n      \"cp\": \"\",\n      \"localidad\": \"\",\n      \"provincia\": \"\",\n      \"pais\": \"\",\n      \"contacto\": \"\",\n      \"telefonos\": \"\",\n      \"pallet\": 0,\n      \"encajado\": 0,\n      \"ejemplaresPaquete\": 0,\n      \"ejemplares\": 0,\n      \"envioResto\": 0,\n      \"modelos\": 0,\n      \"observaciones\": \"\"\n    }\n  ]\n}\n\n### GUARDAS:\nInstrucciones:\n    1. SOLO devuelve datos si detectas indicios de guardas (ej. “guardas incluidas”, “guardas aparte”, “guardas impresas”).\n    2. Verifica el tipo de encuadernación:\n      - Si encuadernación = 3 (Rústica), 4 (Espiral), 5 (Grapa) o 6 (Wire-o) → NO lleva guardas → NO devuelvas nada.\n      - Solo lleva guardas si encuadernación = 1 (Cartoné) o 2 (Flexible).\n    3. Si hay referencia válida a guardas, devuelve este bloque JSON con los siguientes valores fijos o vacíos:\n    4. Valor de `\"refPedido\"`:\n      - Si se menciona “guardas aparte”: busca el texto del papel al final de las observaciones y úsalo como descripción.\n      - Si se menciona “guardas incluidas”: usa la descripción del papel del interior como refPedido.\n    5. Usa exactamente estas equivalencias para interpretar descripciones encontradas en observaciones:\n      - \"Ahuesado\" devuelve esto:\n                {\n                  \"guardas\": {\n                    \"papel_id\": 561,\n                    \"propietarioPapel\": 1,\n                    \"tipoImpresion\": 1,\n                    \"calidad\": \"Ahuesado\",\n                    \"paginas\": 8,\n                    \"observaciones\": \"\",\n                    \"papelPedido\": {\n                      \"refPedido\": \"Ahuesado Oria\", \n                      \"gramaje\": 120,\n                      \"anchoBobinaCm\": 54,\n                      \"ups\": 2\n                    }\n                  }\n                }\n    - \"Offset blanco\" devuelve esto:\n                {\n                  \"guardas\": {\n                    \"papel_id\": 620,\n                    \"propietarioPapel\": 1,\n                    \"tipoImpresion\": 1,\n                    \"calidad\": \"Offset blanco\",\n                    \"paginas\": 8,\n                    \"observaciones\": \"\",\n                    \"papelPedido\": {\n                      \"refPedido\": \"Navigator Offset Premium 161\", \n                      \"gramaje\": 120,\n                      \"anchoBobinaCm\": 54,\n                      \"ups\": 2\n                    }\n                  }\n                }\n    - \"Estucado\" devuelve esto:   \n                {\n                  \"guardas\": {\n                    \"papel_id\": 613,\n                    \"propietarioPapel\": 1,\n                    \"tipoImpresion\": 1,\n                    \"calidad\": \"Estucado semimate\",\n                    \"paginas\": 8,\n                    \"observaciones\": \"\",\n                    \"papelPedido\": {\n                      \"refPedido\": \"G-Silk\", \n                      \"gramaje\": 150,\n                      \"anchoBobinaCm\": 54,\n                      \"ups\": 2\n                    }\n                  }\n                }\n\n### SOBRECUBIERTA:\nBasate en este prompt Rellenar solo si el PDF contiene una mención explícita a SOBRECUBIERTA.\n    - Trabaja sin distinguir mayúsculas/minúsculas ni acentos.\n    - Solo cuenta si aparece la palabra “sobrecubierta” o las variantes “sobre cubierta” o “sobre-cubierta” como palabra independiente, en frases tipo: “lleva sobrecubierta”, “colocar sobrecubierta”, “imprimir sobrecubierta”, etc.\n    - No la confundas nunca con la palabra “cubierta” (es otra cosa) ni con “faja”, aunque usen el mismo material, gramaje, plastificado, UVI o cualquier otro dato.\n    - Ignora por completo la información de cubierta, faja, guardas, encuadernación, materiales, gramajes, plastificados y UVI para decidir si hay sobrecubierta:\n    - Si no aparece literalmente “sobrecubierta” / “sobre cubierta” / “sobre-cubierta”, deja todos los valores por defecto.\n    - Si ves negaciones claras como “sin sobrecubierta”, “no lleva sobrecubierta”, “no colocar sobrecubierta”, también debes dejar los valores por defecto.\n\n    No deduzcas ni supongas la existencia de sobrecubierta por contexto: solo decide por la palabra literal indicada.\n      \"materialSobrecubierta\": devuelve 15.\n      \"propietarioPapel\": devuelve 1.\n\n      \"plastificado\":\n          brillo → 1\n          mate → 2\n          mate sedoso → 3\n          mate antirraya → 4\n          gofrado → 5\n          brillo digital → 7\n          mate digital → 8\n          natureflex → 9\n          sandy → 10\n          cualquier otro caso → 6\n\n    - \"uvi\": Devuelve 1 si aparece referencia UVI o 0 si no aparece.\n    - \"Impresion\": Si no detectas \"materialSobrecubierta\" no devuelvas nada, si no usa literalmente \"4/0\", \"4/1\", \"4/4\", \"1/0\", \"5/0\", si no lo encuentras devuelve 4/0. Si detectas la referencia \"Reverso\" indica 4/4.\n    - \"tecnologia\": \n    - \"Observaciones\": indica \"Recibimos modelo de impresión\" solo si el documento contiene alguna referencia explícita a “enviamos modelo”, \"enviamos prueba\", \"muestra de impresión\" (Coincidencia insensible a mayúsculas/minúsculas ni acentos).\n\n    GATE SOBRECUBIERTA (OBLIGATORIO):\n        - Busca SOLO coincidencias literales como palabra independiente: \"sobrecubierta\", \"sobre cubierta\", \"sobre-cubierta\"\n        - Ignora coincidencias donde solo aparezca \"cubierta\".\n        - Si NO hay coincidencia literal -> sobrecubierta = valores por defecto y NO rellenar nada más.\n        - Si hay negación dentro de una ventana de 5 palabras: (\"sin\", \"no\", \"nunca\") -> valores por defecto.\n        Ejemplos de negación: \"sin sobrecubierta\", \"no lleva sobrecubierta\", \"no colocar sobrecubierta\".\n\n    PROHIBICIÓN:\n        - Está prohibido copiar valores de \"cubierta\" a \"sobrecubierta\" o \"faja\".\n        - Aunque haya plastificado, UVI o impresión, si no se supera el GATE literal, deja sobrecubierta/faja por defecto.\n    \n    PRUEBA MÍNIMA (interna):\n        - Para marcar sobrecubierta/faja como presente, debes localizar un fragmento del PDF que contenga la palabra gatillo EXACTA.\n        - Si no puedes señalar internamente esa frase, entonces NO está presente y devuelves valores por defecto.\n        - No devuelvas el fragmento en el JSON.\n    ÁMBITO:\n        - Si detectas \"sobrecubierta\", solo puedes extraer plastificado/uvi/impresion desde:\n            a) la misma línea, o\n            b) las 2 líneas siguientes.\n        - En cualquier otro caso, deja esos campos por defecto.\n\n### FAJA:\nBasate en este prompt Rellenar solo si hay información referente a FAJA o FAJILLA (Coincidencia insensible a mayúsculas/minúsculas ni acentos) en el PDF, ejemplos \"lleva faja\", \"colocar fajilla\", \"imprimir faja\", si no dejar valores por defecto.\n    - \"materialFaja\": devuelve 15.\n    - \"propietarioPapel\": devuelve 1.\n    - \"plastificado\":\n                brillo → 1\n                mate → 2\n                mate sedoso → 3\n                mate antirraya → 4\n                gofrado → 5\n                brillo digital → 7\n                mate digital → 8\n                natureflex → 9\n                sandy → 10\n                cualquier otro caso → 6\n                \n    - \"uvi\": Devuelve 1 si aparece referencia UVI o 0 si no aparece.\n    - \"Impresion\": Si no detectas \"materialFaja\" no devuelvas nada, si no usa literalmente \"4/0\", \"4/1\", \"4/4\", \"1/0\", \"5/0\", si no lo encuentras devuelve 4/0. Si detectas la referencia \"Reverso\" indica 4/4.\n    - \"tecnologia\":   \n    - Observaciones: indica \"Recibimos modelo de impresión\" solo si el documento contiene alguna referencia explícita a “enviamos modelo”, \"enviamos prueba\", \"muestra de impresión\" (Coincidencia insensible a mayúsculas/minúsculas ni acentos)..\n\n    GATE FAJA (OBLIGATORIO):\n        - Solo acepta como evidencia la palabra literal: \"faja\" o \"fajilla\" como palabra independiente.\n        - Si NO aparece -> faja = valores por defecto.\n        - Si aparece negada (\"sin faja\", \"no lleva faja\") -> valores por defecto.\n        - No uses jamás materiales, plastificados o impresión para inferir la existencia de faja.\n    \n    PROHIBICIÓN:\n        - Está prohibido copiar valores de \"cubierta\" a \"sobrecubierta\" o \"faja\".\n        - Aunque haya plastificado, UVI o impresión, si no se supera el GATE literal, deja sobrecubierta/faja por defecto.\n    \n    PRUEBA MÍNIMA (interna):\n        - Para marcar sobrecubierta/faja como presente, debes localizar un fragmento del PDF que contenga la palabra gatillo EXACTA.\n        - Si no puedes señalar internamente esa frase, entonces NO está presente y devuelves valores por defecto.\n        - No devuelvas el fragmento en el JSON.\n    ÁMBITO:\n        - Si detectas \"faja/fajilla\", solo puedes extraer plastificado/uvi/impresion desde:\n            a) la misma línea, o\n            b) las 2 líneas siguientes.\n        - En cualquier otro caso, deja esos campos por defecto.\n\n\n### COMPONENTES ESPECIALES:\nBasate en este prompt Busca en el PDF menciones a elementos especiales como:\n    - \"Cuadernillo\"\n    - \"Encarte\"\n    - \"Pliego\"\n\n    (Sensibilidad: no distingue mayúsculas/minúsculas/acentos)\n\n  - Si encuentras una mención, devuelve el siguiente JSON (rellenado):\n  \"componentesEspeciales\": [\n    {\n      \"material\": 0,           // Devuelve el papel indicado en esa sección\n      \"propietarioPapel\": 1,   // Devuelve siempre 1\n      \"nombre\": \"ENCARTE\",     // Devuelve literalmente ENCARTE\n      \"plastificado\": 0,       // Siempre vacío\n      \"uvi\": 0,            // Siempre vacío\n      \"impresion\": \"4/0\",      // Usa literalmente lo que indique el pedido (ej.: \"4/0\", \"4/1\", \"4/4\", \"1/0\", \"5/0\"). Si no lo encuentras, devuelve \"4/0\"\n      \"tecnologia\": 1,         // Devuelve siempre 1\n      \"observaciones\": \"\"      // Devuelve la línea o líneas relacionadas al encarte/cuadernillo/pliego detectado\n    }\n  ]\n\n  - Si no encuentras nada, devuelve el array vacío [].\n\n\n### PETICIONES ESPECIALES:\n\nAnaliza el texto del PDF (en texto plano) y detecta si se solicitan estos elementos especiales: Faja, Topo, Sobrecubierta, Cuadernillo, Encarte, Pliego.\n\nReglas generales de detección\n    No distingas mayúsculas/minúsculas ni acentos.\n    No hagas inferencias por contexto: solo cuenta si aparece la palabra clave literal.\n    La coincidencia debe ser palabra completa, separada por espacios o signos de puntuación.\n    No cuentes coincidencias dentro de otras palabras (por ejemplo: “fajardo”, “topografía”, “plegadora” no valen).\n    Revisa primero las zonas de Observaciones, Notas y Componentes/Servicios; si no encuentras nada, revisa el resto del documento.\n\nNegaciones\n    Si una mención está negada cerca de la palabra clave, NO la cuentes.\n    Usa una ventana de ±5 palabras alrededor de la palabra clave.\n    Palabras o frases de negación: “sin”, “no”, “no lleva”, “sin llevar”, “sin colocar”.\n    Ejemplos: “sin faja” → no contar “faja”; “no lleva sobrecubierta” → no contar “sobrecubierta”; “no colocar topo” → no contar “topo”.\n    Si ves “guardas”: null, “sobrecubierta”: null, “faja”: null, no lo cuentes.\n\nPalabras clave por tipo\n\nFaja:\nPalabra clave: “faja”.\nSolo cuenta “faja” como palabra independiente.\nNo cuentes “fajilla” ni otras palabras más largas que contengan “faja”.\nSi hay una mención válida (no negada), añade “Colocar faja” al array peticionesEspeciales.\n\nTopo:\nPalabra clave: “topo”.\nSolo cuenta “topo” como palabra independiente.\nSi hay una mención válida (no negada), añade “Colocar topo” al array peticionesEspeciales.\n\nSobrecubierta:\nPalabra clave: “sobrecubierta”.\nAcepta como equivalentes las variantes con espacio o guion: “sobre cubierta”, “sobre-cubierta”.\nNo cuentes “cubierta” sola.\nNo deduzcas nunca que hay sobrecubierta por tipo de encuadernación, UVI, plastificado, cartoné, guardas, faja o fajilla. Solo cuenta si aparece literalmente “sobrecubierta” (o sus variantes indicadas).\nSi hay una mención válida (no negada), añade “Colocar Sobrecubierta” al array peticionesEspeciales.\n\nCuadernillo:\nPalabra clave: “cuadernillo”.\nSi hay una mención válida (no negada), añade al array peticionesEspeciales la(s) frase(s) donde se mencione “cuadernillo”, omitiendo referencias a papel (tipo de papel, gramaje, etc.).\n\nEncarte:\nPalabra clave: “encarte”.\nSi hay una mención válida (no negada), añade al array peticionesEspeciales la(s) frase(s) donde se mencione “encarte”, omitiendo referencias a papel.\n\nPliego:\nPalabra clave: “pliego”.\nSi hay una mención válida (no negada), añade al array peticionesEspeciales la(s) frase(s) donde se mencione “pliego”, omitiendo referencias a papel.\n\nConstrucción de peticionesEspeciales:\npeticionesEspeciales es un array de cadenas.\nPuede contener:\n\n“Colocar faja”\n\n“Colocar topo”\n\n“Colocar Sobrecubierta”\n\nLas frases correspondientes a Cuadernillo, Encarte y Pliego (sin referencias a papel).\n\nCada tipo de elemento solo puede aparecer una vez en el array.\nEl array debe respetar el orden en el que se detecta cada elemento por primera vez en el documento.\nSi un elemento no aparece o solo aparece en forma negada, no lo añadas al array.\n\nProhibiciones\nNo inventes elementos especiales si no aparecen las palabras clave explícitas.\nNo infieras Faja, Topo, Sobrecubierta, Cuadernillo, Encarte o Pliego por contexto, tipo de libro, UVI, plastificado, cartoné, fajilla, etc.\nNo cuentes menciones negadas.\nNo generes texto extra fuera de la estructura de salida.\n\nSalida esperada (solo esto):\nUn objeto JSON con:\n“peticionesEspeciales”: array de cadenas.\n\n### DIRECCIONES:\n      Reglas:\n          Buscar si existe un alias exacto en el PDF:\n              Usa coincidencia insensible a mayúsculas/minúsculas, acentos y elimina espacios extra.\n              La coincidencia debe ser por frase completa (no dentro de otras palabras).\n          En caso de empate:\n              Prefiere alias completo exacto.\n              Luego la cadena coincidente más larga.\n              Luego el menor direccionId.\n          Si se encuentra un alias:\n            Devuelve un objeto con:\n              \"direccionId\" correspondiente del mapa.\n              Solo el campo \"ejemplares\" con el número de tirada.\n              Todos los demás campos deben ir vacíos (\"\") o en 0.\n              Si NO se encuentra alias:\n              Usa \"direccionId\": 0.\n              Extrae del PDF todos los campos posibles:\n              via, numero, piso, puerta, cp, localidad, provincia, pais, contacto, telefonos, pallet, encajado, ejemplaresPaquete, ejemplares, envioResto, modelos, observaciones.\n              Si algún campo no aparece, déjalo vacío (\"\") o en 0.\n              Regla adicional \"Sin muestras\" o \"Sin muestra\":\n              Si NO se encuentra la referencia \"Sin muestras\" o \"Sin muestra\" en observaciones:\n      Añade una segunda dirección con:\n      {\n      \"direccionId\": 41,\n      \"ejemplares\": 1\n      }\n      Si SÍ aparece \"Sin muestras\", NO añadas esta segunda dirección.\n            Mapa → direccionId:\n                  ALMACEN PALLEJA = 1\n                  OFICINA = 41\n                  DISTRICENTER ZF = 42\n                  DISTRICENTER SABADELL = 43\n                  Penguin Random House Grupo Editorial Portugal = 107\n                  Centro Distribución Barcelona PRHGE CERDANYOLA = 148\n                  GUILLERMO - DOMICILIO PARTICULAR = 225\n                  OFICINA BARCELONA = 249\n                  ESDISTINTO = 250\n                  LAURENS CONCEPTS = 260\n      Formato de salida (idéntico a este):\n      {\n        \"direcciones\": [\n          {\n            \"direccionId\": 0,\n            \"destinatario\": \"\",\n            \"via\": \"\",\n            \"numero\": \"\",\n            \"piso\": \"\",\n            \"puerta\": \"\",\n            \"cp\": \"\",\n            \"localidad\": \"\",\n            \"provincia\": \"\",\n            \"pais\": \"\",\n            \"contacto\": \"\",\n            \"telefonos\": \"\",\n            \"pallet\": 0,\n            \"encajado\": 0,\n            \"ejemplaresPaquete\": 0,\n            \"ejemplares\": 0,\n            \"envioResto\": 0,\n            \"modelos\": 0,\n            \"observaciones\": \"\"\n          }\n        ]\n      }\n      Ejemplo de salida sin \"Sin muestras\":\n      \"direcciones\":[\n        {\n          \"direccionId\": 148,\n          \"ejemplares\": 50\n        },\n        {\n          \"direccionId\": 41,\n          \"ejemplares\": 1\n        }\n      ]\n      Ejemplo de salida si se encuentra \"Sin muestras\" o \"Sin muestra\":\n      \"direcciones\":[\n        {\n          \"direccionId\": 148,\n          \"ejemplares\": 50\n        }\n      ]\n\n      **IMPORTANTE**  \n      Recuerda \"Sin muestras\" o \"Sin muestra\" es lo mismo..\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        -1168
      ],
      "id": "aa99e6b5-01fd-46b9-8132-c822a53674db",
      "name": "PromptConfig_RANDOM"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c50ac2fc-7702-478c-bb8a-fe568b6229b8",
              "name": "asunto",
              "value": "ERROR POR DUPLICACIÓN: Este número de pedido ya esta en producción",
              "type": "string"
            },
            {
              "id": "a7625554-7c62-408b-965c-183c852a901d",
              "name": "texto",
              "value": "=El pedido número: {{ $json.pedido.numeroOtCliente }} está en producción, en el estado \"{{ $json.match.faseInterior1 }}\". Por favor, compruebalo.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        1232
      ],
      "id": "f22b5f33-8088-40a7-b5a3-975ff24b0334",
      "name": "OT_DUPLICADA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://default90419c2b07624d6fb6a1aca6fc3084.80.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/b8ed51b3f3514e6f8835627e068fe901/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8nyoBAiRe-vHc4jKd_eLpw_R5BPIg-GxP32JL1lYr4s",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "asunto",
              "value": "={{$json.asunto}}"
            },
            {
              "name": "texto",
              "value": "={{$json.texto}}"
            },
            {
              "name": "json",
              "value": "={{$json.json}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3456,
        1920
      ],
      "id": "e05dd6c2-c80e-46f7-8535-ec81ca3d75a5",
      "name": "email AUTOMATE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c50ac2fc-7702-478c-bb8a-fe568b6229b8",
              "name": "asunto",
              "value": "ERROR POR DUPLICACIÓN: Este número de ISBN ya esta en producción",
              "type": "string"
            },
            {
              "id": "a7625554-7c62-408b-965c-183c852a901d",
              "name": "texto",
              "value": "=El ISBN número: {{ $json.pedido.isbn }} está en producción, en el estado \"{{ $json.match.faseInterior1 }}\".  Por favor, compruebalo.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        1424
      ],
      "id": "44dd66c6-0887-40e7-842b-d63638d4a726",
      "name": "ISBN_EN_PRODUCCION"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c50ac2fc-7702-478c-bb8a-fe568b6229b8",
              "name": "asunto",
              "value": "ERROR POR DATOS INCOMPLETOS",
              "type": "string"
            },
            {
              "id": "a7625554-7c62-408b-965c-183c852a901d",
              "name": "texto",
              "value": "=Al pedido le faltan datos.  Por favor, compruebalo.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        1632
      ],
      "id": "0da70f9c-309a-4956-befa-d44a60126b7d",
      "name": "DATOS_INCOMPLETOS"
    },
    {
      "parameters": {
        "content": "## NOTIFICACIONES POR DUPLICACIÓN \n**Envio de correos por duplicación de pedido o isbn",
        "height": 704,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        1136
      ],
      "id": "9d6394d0-faba-476d-9d86-9313a1d5a7a0",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c50ac2fc-7702-478c-bb8a-fe568b6229b8",
              "name": "asunto",
              "value": "=Informe del registro del pedido {{ $json.numeroOtCliente }}, Ot {{ $json.numeroPedido }}",
              "type": "string"
            },
            {
              "id": "a7625554-7c62-408b-965c-183c852a901d",
              "name": "texto",
              "value": "=El resultado es {{ $json.resultado }}",
              "type": "string"
            },
            {
              "id": "3352ce0f-a77e-4162-8e27-c2f69a4c14dd",
              "name": "json",
              "value": "={{ JSON.stringify($json.json_para_email, null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        1904
      ],
      "id": "9f3b44db-8a5a-4d9d-8668-8925e3063cc0",
      "name": "INFORME DE REGISTRO 2"
    },
    {
      "parameters": {
        "content": "## Texto Informe\nCuando el papel es suyo",
        "height": 304,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3040,
        64
      ],
      "id": "1c880e96-d21d-44fc-a089-61b936f9bc2c",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Texto Informe\nCuando el papel es nuestro",
        "height": 304,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        1792
      ],
      "id": "222c3c35-03dd-467d-a808-3a7d76d11522",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "114d5412-41ee-4dfc-ae11-55dc1970ff42",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1136,
        -560
      ],
      "id": "1add5f15-34fa-4cb7-8dbd-7b501ad3d40e",
      "name": "Webhook",
      "webhookId": "114d5412-41ee-4dfc-ae11-55dc1970ff42"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -896,
        -960
      ],
      "id": "5ddad62d-b1f2-4e9c-9320-c367736cb31a",
      "name": "Download file",
      "alwaysOutputData": false,
      "credentials": {
        "googleApi": {
          "id": "ePv2Ty1cw3gq6g7N",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d0cde515-9ba1-4c2a-9753-3e96c5806967",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1120,
        -944
      ],
      "id": "36d03aaf-d2b0-42f7-8462-6f70d253e713",
      "name": "solo PDF"
    },
    {
      "parameters": {
        "content": "## Conexión con Google DRIVE\nRecoge el PDF de la carpeta \"variosPedidos\"",
        "height": 336,
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1424,
        -1088
      ],
      "id": "03837442-f7be-421a-855c-f7522d930f36",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1IudQpc01XZqqdQ9Wf7JsdlwbqFIhIG7K",
          "mode": "list",
          "cachedResultName": "Random-Anaya",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1IudQpc01XZqqdQ9Wf7JsdlwbqFIhIG7K"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1328,
        -944
      ],
      "id": "e733c113-1e33-44f3-a665-c7a52f860c7f",
      "name": "Google Drive",
      "credentials": {
        "googleApi": {
          "id": "ePv2Ty1cw3gq6g7N",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const { archivoBase64, ...resto } = item.json;\n\n  return {\n    json: {\n      ...resto,                 // <- ya NO incluye archivoBase64\n      json_para_email: resto     // <- copia limpia para el email\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        1920
      ],
      "id": "fcfeab92-96d6-4522-8990-05cd3be310c3",
      "name": "json para email"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        352,
        1904
      ],
      "id": "fce98337-a70c-460b-ad25-6f750603d17d",
      "name": "Merge3"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// detecta el nombre de la propiedad binaria (normalmente \"data\")\nconst binKey = item.binary ? Object.keys(item.binary)[0] : null;\nif (!binKey) throw new Error('No llega ningún binario en item.binary');\n\nconst bin = item.binary[binKey];\n\n// nombre deseado: usa el fileName del JSON si existe, si no uno por defecto\nlet name = item.json.fileName || bin.fileName || 'pedido.pdf';\n\n// asegura extensión .pdf\nif (!name.toLowerCase().endsWith('.pdf')) name += '.pdf';\n\n// fuerza metadatos\nbin.fileName = name;\nbin.mimeType = 'application/pdf';\n\nitem.binary[binKey] = bin;\n\nreturn [item];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -624
      ],
      "id": "7e1f8b1d-7ce7-4c06-868e-9979a08b87b5",
      "name": "Renombrar binario"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const { archivoBase64, ...resto } = item.json;\n\n  return {\n    json: {\n      ...resto,                 // <- ya NO incluye archivoBase64\n      json_para_email: resto     // <- copia limpia para el email\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        -96
      ],
      "id": "45225b4f-4f89-4b77-99dd-e4145b87f6fb",
      "name": "json para email1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c50ac2fc-7702-478c-bb8a-fe568b6229b8",
              "name": "asunto",
              "value": "=Informe del registro del pedido {{ $json.numeroOtCliente }}, Ot {{ $json.numeroPedido }}",
              "type": "string"
            },
            {
              "id": "a7625554-7c62-408b-965c-183c852a901d",
              "name": "texto",
              "value": "=El resultado es {{ $json.resultado }}",
              "type": "string"
            },
            {
              "id": "3352ce0f-a77e-4162-8e27-c2f69a4c14dd",
              "name": "json",
              "value": "={{ JSON.stringify($json.json_para_email, null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3120,
        176
      ],
      "id": "b0e7b2ce-43ce-40ca-bdf8-03f91e9c4ec8",
      "name": "INFORME DE REGISTRO "
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2800,
        176
      ],
      "id": "c0e88414-5dbf-4c9a-a01c-28e21bac1caa",
      "name": "Merge4"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const headers = item.json.headers || {};\n  const incomingName = headers['x-file-name'];\n\n  if (item.binary?.data) {\n    const current = item.binary.data.fileName || 'pedido.pdf';\n    item.binary.data.fileName = incomingName || `RANDOM-${current}`;\n  }\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -512
      ],
      "id": "5c633cae-4b77-4b6a-9235-7388ff654eb8",
      "name": "prefijo"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.prefix}}",
                    "rightValue": "RANDOM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d4a91ffd-b9a0-4600-a306-3f4ab7215656"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a920bc6f-9c4b-4543-88c5-72343a297f72",
                    "leftValue": "={{$json.prefix}}",
                    "rightValue": "ANAYA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1008,
        -784
      ],
      "id": "432c8721-d608-495b-9d46-0a74444a10e7",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "// 1) Coger el nombre desde donde realmente llega (header o campos alternativos)\nconst h = $json.headers || {};\n\nconst rawName =\n  $json['x-file-name'] ||\n  h['x-file-name'] ||\n  h['X-File-Name'] ||\n  $json.fileName ||\n  $json.openaiFilename ||\n  $binary?.data?.fileName ||\n  \"\";\n\n// 2) Normalizar\nconst fileName = String(rawName).split(\"/\").pop();     // por si viniera con ruta\nconst base = fileName.replace(/\\.[^.]+$/i, \"\");        // quitar extensión (.pdf, etc.)\n\n// 3) Prefijo = antes del primer \"-\"\nconst prefix = base.includes(\"-\")\n  ? base.split(\"-\")[0].trim().toUpperCase()\n  : \"\";\n\n// Devuelve los campos para el Switch\nreturn [{ ...$json, fileName, prefix }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -768
      ],
      "id": "8c4456ed-b9b7-42b3-a509-3bb7697ccdb6",
      "name": "Extraer prefijo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0ce385a-7aee-445a-9af9-1acee2a8952e",
              "name": "promptCabecera",
              "value": "## ANAYA v1\n\nActúa como un extractor de datos. Tu tarea es analizar el PDF adjunto y devolver exclusivamente un JSON válido conforme al siguiente esquema:\n\n## MODELO DE SALIDA\n{\n  \"cliente\": 34,\n  \"contacto\": 0,\n  \"suReferencia\": 0,\n  \"numeroOf\": \"\",\n  \"numeroOtCliente\": \"\",\n  \"isbnPack\": \"\",\n  \"fechaEntrega\": \"\",\n  \"sinRetraso\": false,\n  \"tirada\": 0,\n  \"precioUnitarioSinIVA\": 0,\n  \"precioToltalSinIVA\": 0,\n  \"quiereVerFerros\": 3,\n  \"certificacion\": 0,\n  \"observacionesPedido\": \"\",\n  \"titulo\": \"\",\n  \"sello\": \"\",\n  \"isbn\": \"\",\n  \"codProyecto\": \"\",\n  \"anchoPaginaCm\": 0,\n  \"altoPaginaCm\": 0,\n  \"unionPliegos\": 0,\n  \"encuadernacion\": 0,\n  \"cabezada\": 0,\n  \"cabezadaColor\": 0,\n  \"cabezadaColorOtro\": \"\",\n  \"guardasAparte\": 0,\n  \"guardasImpresas\": 0,\n  \"cintaRegistro\": 0,\n  \"cintaRegistroColor\": 0,\n  \"cintaRegistroColorOtro\": \"\",\n  \"calibreCarton\": 0,\n  \"tipoLomo\": 0,\n  \"solapa\": false,\n  \"hendidoCortesia\": false,\n  \"espiralMaterial\": 0,\n  \"espiralColor\": 0,\n  \"espiralColorOtro\": \"\",\n  \"espiralLado\": 0,\n  \"wireoMaterial\": 0,\n  \"wireoColor\": 0,\n  \"wireoColorOtro\": \"\",\n  \"wireoLado\": 0,\n  \"observacionesEncuadernacion\": \"\"\n}\n\n## REGLAS OBLIGATORIAS\n1) Devuelve SOLO JSON. Sin texto adicional. Sin markdown. Sin explicaciones.  \n2) El JSON debe ser válido (comillas dobles, sin trailing commas).  \n3) Cumple el esquema al 100%:  \n   - No inventes campos que no existan en el esquema.  \n   - No devuelvas claves extra fuera del esquema.  \n   - Respeta tipos (string/number/boolean/array/object) y enum si existen.  \n4) Si un dato no aparece en el PDF:  \n   - Usa null si el esquema lo permite.  \n   - Si NO permite null, usa el valor vacío adecuado: \"\" para string, 0 para number, false para boolean, [] para arrays, {} para objetos (solo si el esquema lo permite).  \n   - Si un campo indica \"siempre vacío\", debe devolverse como cadena vacía (\"\") aunque se detecte contenido.  \n5) Normalización:  \n   - Fechas en formato \"YYYY-MM-DD\" si el esquema no indica otro.  \n   - Importes numéricos sin símbolo de moneda (ej: 174.00).  \n   - Medidas: conserva unidades solo si el esquema lo pide; si no, usa número limpio.  \n   - Ignora acentos SOLO para detectar coincidencias; el valor devuelto mantiene tildes originales.  \n   - Si un texto contiene comillas internas, escápalas con una barra invertida: \\\"  \n   - Acepta SI/Sí/No/NO sin importar mayúsculas/acentos.  \n   EN LA BUSQUEDA DE DATOS:  \n   - Coincidencia sin distinguir mayúsculas/minúsculas.  \n   - Ignora acentos/diacríticos.  \n   - Colapsa espacios múltiples y recorta espacios sobrantes.  \n6) Verificación final antes de responder:  \n   - Revisa que el JSON parsea.  \n   - Revisa que cumple el esquema.  \n   - Revisa que no hay texto fuera del JSON.\n\n## REGLAS POR CAMPO\n- \"cliente\": Devuelve 34.  \n- \"contacto\": Usa el prompt de CONTACTO.  \n- \"suReferencia\":   Busca en la sección \"TÍTULOS\" el \"Código Comercial\". Acepta etiquetas equivalentes: \"Código Comercial\", \"Cód. Com.\", \"Cod. Com.\". Devuelve solo dígitos (number). Ej: \"191121\" → 191121.\n- \"numeroOf\":   En \"TÍTULOS\", busca \"Nº O.F.\" o \"Orden de Fabricación\" y devuelve el número.  \n- \"numeroOtCliente\":   Busca \"ORDEN DE TRABAJO Nº\" o \"ORDEN DE TRABAJO DE OTROS DIGITAL Nº\". Devuelve el número SIN puntos ni separadores. Ej: \"1.132.221\" → \"1132221\"..  \n- \"fechaEntrega\":   En \"ACONDICIONAMIENTO Y ENTREGA\", columna \"Fecha Entrega\". Convierte a \"YYYY-MM-DD\". Si está vacío/no aparece, busca primera fecha dd/mm/aaaa en el bloque de instrucciones/entrega (cerca de GETAFE/Distribuir/ENTREGAR).\n- \"sinRetraso\":   true si en \"ACONDICIONAMIENTO Y ENTREGA / Instrucciones\" aparece literalmente \"URGENTE\" o \"URGENTES\". En caso contrario false..  \n- \"tirada\":   En \"TÍTULOS\", campo/columna \"TIRADA\" (o \"Tirada\").\n- \"precioUnitarioSinIVA\": siempre 0.  \n- \"precioToltalSinIVA\": Busca \"TOTAL ORDEN\". Devuelve solo el importe como número, Quita puntos de miles y cambia coma decimal por punto. Ej \"498,83\" → 498.83.\n- \"quiereVerFerros\":   En \"ACONDICIONAMIENTO Y ENTREGA / Instrucciones\": 1 si detectas \"ferro digital\". 2 si detectas \"ferro físico\" o \"ferro fisico\". 3 si no se menciona nada.  \n- \"certificacion\": Usa el prompt de CERTIFICACION.  \n- \"observacionesPedido\": Usa el prompt de OBSERVACIONES.  \n- \"titulo\":   Busca SOLO en la sección \"TÍTULOS\", en la columna/celda \"Título\". PROHIBIDO usar \"Título del Elemento\" de la sección \"ELEMENTOS Y TIRADAS\".\n              Limpieza:\n              - elimina prefijo tipo \"90.\" al inicio si existiera\n              - elimina una barra \"/\" final si existiera\n              - si el texto contiene \" / \" con más contenido, quédate SOLO con la parte anterior a la primera barra. \n- sello:  Devuelve el primer sello/editorial del encabezado del documento (por ejemplo \"GRUPO ANAYA,- S.A. (Cátedra)\").\n              - GRUPO ANAYA,- S.A. (Cátedra)\n              - GRUPO EDITORIAL BRUÑO,S.L (Escolar)\n              - ALIANZA EDITORIAL S.A. (Libro de Bolsillo)\n              - EDITORIAL BARCANOVA S.A. (Texto)\n              - EDICIONS XERAIS DE GALICIA S.A (Edición General)\n              - ALIANZA EDITORIAL S.A. (Libro de Bolsillo)\n- \"isbn\": siempre \"\" (aunque aparezca).  \n- \"codProyecto\": En \"TÍTULOS\", campo \"Código Proyecto\"..  \n- \"anchoPaginaCm\"/\"altoPaginaCm\":   Busca el \"Formato\" (en instrucciones o en tabla de elaboraciones).\n                                    Acepta separadores \"x\", \"X\", \"*\", \"·\".\n                                    Ej: \"13,50 x 21,00\" o \"13,5*21\" → anchoPaginaCm=13.5, altoPaginaCm=21.0  \n- \"unionPliegos\":   En \"ELABORACIONES...\" o donde figure \"Encuadernación: ...\":\n                      si contiene \"FRESADO\" → 2\n                      si contiene \"COSIDO\"  → 1  \n- \"encuadernacion\": En Instrucciones: devuelve el número 1=Cartoné/Tapa dura, 2=Flexible, 3=Rústica, 4=Espiral, 5=Grapa, 6=Wire-o, 7=Otro.  \n- \"cabezada\": En Instrucciones: 1 si aparece \"Cabezada SI/SÍ\" y encuadernación es 1 o 2, si aparece \"SIN cabezadas\" o no aparece devuelve 0.  \n- \"cabezadaColorOtro\":  \n  - Si aparece “Cabezada Sí” y encuadernacion ∈ {1,2} ⇒ cabezada = 1.  \n    - Extrae el texto después de “Sí” (ej.: Politi 1 - Blanco).  \n    - Guarda ese color en cabezadaColorOtro (string).  \n    - cabezadaColor debe ser 0 siempre.  \n  - Si aparece “Cabezada No” o no hay “Cabezada” ⇒ cabezada = 0, cabezadaColorOtro = \"\" y cabezadaColor = 0.  \n  - Scope: Evalúa “Sí/No” y el texto asociado solo en la misma línea donde aparezca “Cabezada” (o 1 línea debajo). Ignora “sí/no” en otras secciones.  \n  - Si cabezada=1 y no hay texto después de “Sí”, entonces cabezadaColorOtro=\"\" (vacío).  \n- \"guardasAparte\": 1 si encuadernación ∈ {1,2}, si no 0.  \n- \"guardasImpresas\": 1 si aparece “guardas impresas” y encuadernación ∈ {1,2}, si no 0.  \n- \"cintaRegistro\": 1 si aparece “Cinta de registro SI” o \"Cinta registro SI/SÍ\" y encuadernación ∈ {1,2}, si aparece “Cinta de registro NO\" o \"Cinta registro NO\" devuelve 0.  \n- \"cintaRegistroColorOtro\":  \n  - Si aparece “Sí” y encuadernacion ∈ {1,2} ⇒ cintaRegistro = 1.  \n    - Extrae el texto después de “Sí” (ej.: Politi 8 - Blanco).  \n    - Guarda ese color en cintaRegistroColorOtro (string).  \n    - cintaRegistroColor debe ser 0 siempre.  \n  - Si aparece “No” o no hay mención ⇒ cintaRegistro = 0, cintaRegistroColorOtro = \"\", cintaRegistroColor = 0.  \n  - Importante: NO pongas cintaRegistro = 0 solo porque no encuentres el color. Son cosas independientes.  \n  - Scope: Evalúa “Sí/No” y el texto asociado solo en la misma línea donde aparezca “Cinta de registro” (o 1 línea debajo). Ignora “sí/no” en otras secciones.  \n  - Si cintaRegistro=1 y no hay texto después de “Sí”, entonces cintaRegistroColorOtro=\"\" (vacío).  \n- \"calibreCarton\": Usa el prompt de CALIBRE.  \n- \"tipoLomo\": 1 = “lomo cuadrado”, 2 = “lomo redondo” y encuadernación ∈ {1,2}, si no 0.  \n- \"solapa\": Busca tanto en ELABORACIONES Y VALORACIÓN -Elementos gráficos- / Encuadernación como en ACONDICIONAMIENTO Y ENTREGA / Instrucciones y devuelve true si aparece literalmente \"SOLAPA\", \"SOLAPAS\", \"CON SOLAPA\", \"CON SOLAPAS\". false si aparece \"SIN SOLAPA\", \"SIN SOLAPAS\" o no aparece nada. Coincidencia insensible a mayúsculas/minúsculas ni acentos.  \n- \"hendidoCortesia\": Devuelve true.  \n- Los campos como “espiral...” o “wireo...” solo se rellenan si aparecen explícitamente en el PDF, si no mantener en 0 o \"\".  \n- \"observacionesEncuadernacion\": Solo si detectas \"Guardas impresas NO\" busca referencia al material de impresión, ejemplo \"Geltex\".\n\n\n## PROMPTS\n\n### CONTACTO\nBusca en el PDF solo en la parte inferior de la orden (el último cuarto de la página). Seguido a Fdo., localiza el nombre y apellidos juntos.\n  Reglas:\n    Coincidencia sin distinguir mayúsculas/minúsculas.\n    Ignora acentos/diacríticos (Á= A, É= E, Í= I, Ó= O, Ú= U, Ü= U, Ñ= N).\n    Colapsa espacios múltiples y recorta espacios sobrantes.\n    Si varias líneas del mapa coinciden tras normalizar (por ejemplo, duplicados con y sin acento), devuelve el usuarioId menor.\n    Si no hay coincidencia, devuelve 0.\n    Salida: devuelve solo el número usuarioId (entero, sin comillas).\n    Mapa nombre → usuarioId:\n              Concepción Mercado = 160\n              Cristina Calvo = 161\n              Didac Puigcerver = 163\n              Jose E. Valdepeñas = 164\n              Jose Expósito = 165\n              Juan A. Barras = 166\n              Juan F. García = 167\n              Juan J. Rodríguez = 168\n              Luis M. Bustos = 169\n              Manuel Fernández = 170\n              Natalia Yagüez = 171\n              Ruben Camacho = 172\n              Oscar Bravo = 176\n              Juan F. García Escalonilla = 177\n              Daniel = 225\n              Pilar = 227\n              BELÉN = 454\n              Carmen = 473\n              Maria Isabel = 476\n              ALEJANDRO = 482\n              Susana = 487\n              SARA = 495\n              Aurora = 501\n              ÁNGELES = 506\n\n### OBSERVACIONES\n    1. Localiza el bloque de texto del apartado “Instrucciones” del ítem (fila) correspondiente.\n    2. Extrae el bloque completo, desde la primera línea (p.ej. “RUSTICA FRESADA…”) hasta justo antes de la primera aparición de:\n          - una fecha de entrega (patrón dd/mm/aaaa o dd/mm/aa), o\n          - el encabezado/logística tipo “Paquetes y/o Cajas…”, “ENTREGAS:”, “FACTURACIÓN:”, “OBSERVACIONES GENERALES”.\n    3. Devuélve un solo párrafo (reemplazar \\n y guiones repetidos (ejemplo: ------) por espacio).\n    4. No incluyas en observacionesPedido los valores de Fecha Entrega / Destino / Para (van en sus campos).\n    5. Si el texto de Instrucciones está en una celda contigua a otras columnas, NO concatenes esas columnas al texto.\n          Normaliza:\n              - Sustituye cada salto de línea (\\n o nueva línea real) por un único espacio.\n              - Después, colapsa espacios múltiples a uno y recorta\n\n### CALIBRE\nObjetivo:\nDevuelve exclusivamente el ID correspondiente al calibreCarton según la tabla. Si no se encuentra una coincidencia inequívoca, devuelve 0.\n\nMAPEO (calibre → ID):\n- 1,5 → 1\n- 2,0 → 2\n- 2,5 → 3\n- 3,0 → 4\n- 2,0 + espuma 3 → 5\n- 2,5 + espuma 3 → 6\n- 3,0 + espuma 3 → 7\n- 1,75 → 8\n- 2,25 → 9\n- 2,75 → 10\n\nREGLAS DE DETECCIÓN:\n1. Scope:\n- Prioriza coincidencias cercanas a palabras clave como: “calibre”, “cartón”, “cartone”, “tapa”, “cubierta”, “caja rígida”.\n- Si no se encuentran cerca de esas palabras, busca en todo el PDF.\n\n2. Normalización previa:\n- Ignora mayúsculas, minúsculas y acentos.\n- Considera \".\" igual a \",\" (ej.: “2.5” se interpreta como “2,5”).\n- Elimina espacios innecesarios.\n- “foam”, “esp.” y “espuma” se consideran equivalentes.\n- “mm” es opcional y puede omitirse.\n\n3. Orden de detección (prioridad):\na) Detecta primero patrones que indiquen combinaciones con espuma 3 (acepta formatos con \"+\", \"con\", \"y\", incluso en orden invertido).\nb) Si no hay espuma, busca solo el calibre exacto (usando el mapeo anterior).\n\n4. Desempate:\n- Si aparecen varios valores posibles:\n  - Prioriza el más específico (el que incluye espuma).\n  - Si tienen misma especificidad, elige el más cercano al contexto (palabras clave del Scope).\n  - Si persiste el empate → devuelve 0.\n\nSALIDA:\nDevuelve únicamente el número del ID (ej.: 3). Si no hay coincidencia inequívoca, devuelve 0.\n\nEJEMPLOS:\n- “2,5 mm” → 3\n- “3,0 + espuma 3” → 7\n- “2.0 + FOAM 3” → 5\n- “1,75” → 8\n- “2,0 y 2,5 sin claridad” → 0\n\nsolo si encuadernación ∈ {1,2}, si no 0.\n\n### CERTIFICACION\nIdentifica el bloque correcto “Descripción (del artículo)” siguiendo esta lógica:\n\n1. LOCALIZACIÓN DEL BLOQUE:\n- Busca una línea exacta con el texto “Descripción”.\n- Dentro de las 10 líneas siguientes, debe aparecer al menos uno de estos rótulos de ficha:\n  Autor, Ed/Enc, Colección, Tiraje, Formato, Nº Páginas, Solapa, Grosor, Código Barras.\n- Si “Descripción” forma parte de una tabla o cabecera (por ejemplo en “Servicios” o “Componentes”), descártalo: no es el bloque de ficha del artículo.\n\n2. DEFINICIÓN DEL BLOQUE:\n- El bloque comienza en la línea inmediatamente posterior a “Descripción”.\n- Finaliza al encontrar alguno de estos rótulos:\n  Autor, Ed/Enc, Colección, Tiraje, Formato, Nº Páginas, Solapa, Grosor, Código Barras, Servicios, Componentes, Observaciones.\n\n3. ALCANCE DE BÚSQUEDA:\n- La búsqueda de certificación se limita únicamente a ese bloque validado.\n\n4. DETECCIÓN DE CERTIFICACIÓN (valores literales y sensibles a mayúsculas/minúsculas):\n- Si aparece exactamente “FSC Mix” ⇒ devuelve 2.\n- Si no aparece “FSC Mix” pero sí aparece exactamente “PEFC” ⇒ devuelve 4.\n- En cualquier otro caso ⇒ devuelve 0.\n- Si ambos aparecen ⇒ da prioridad a “FSC Mix” (devuelve 2).\n\n5. EXCLUSIONES EXPLÍCITAS:\nIgnora cualquier mención a “FSC”, “FSC®”, “FSC Mix”, “PEFC” si:\n- Está en cabeceras, pies de página o notas legales (ej.: “empresa certificada FSC®…”).\n- Está dentro de las tablas o secciones “Servicios” o “Componentes” (ej.: “MB PRIME BRIGHT… (FSC)”).\n\n6. SALIDA:\nDevuelve únicamente el valor en “certificacion”: 2, 4 o 0. No devuelvas ningún texto adicional.\n\n\n## IMPORTANTE\nDevuelve todos los valores del esquema aunque esten vacios o sin datos",
              "type": "string"
            },
            {
              "id": "c96c9a1c-073d-4f7e-b50a-3cd080f922a9",
              "name": "promptInteriores",
              "value": "## ANAYA v1\n\nActúas como extractor de datos de Órdenes de Trabajo (PDF). \nDevuelve EXCLUSIVAMENTE un JSON válido que cumpla el esquema EXACTO.\n\nREGLAS GENERALES\n1) Devuelve SOLO JSON (sin texto, sin markdown).\n2) JSON válido (comillas dobles, sin comas finales).\n3) Devuelve SIEMPRE todas las claves del esquema. No añadas claves nuevas.\n4) Tipos estrictos: number/string/boolean.\n5) Si no hay dato: \"\" para string, 0 para number, false para boolean.\n6) Normaliza para comparar: minúsculas, sin acentos, colapsa espacios, elimina guiones de salto de línea OCR.\n\nESQUEMA DE SALIDA (exacto)\n{\n  \"interiores\": [\n    {\n      \"papel_id\": 0,\n      \"propietarioPapel\": 0,\n      \"tipoImpresion\": 0,\n      \"calidad\": \"\",\n      \"paginas\": 0,\n      \"plegadoOCortado\": 0,\n      \"maquina\": 0,\n      \"observaciones\": \"\",\n      \"papelPedido\": {\n        \"refPedido\": \"\",\n        \"gramaje\": 0,\n        \"anchoBobinaCm\": 0,\n        \"upsCalc\": 0,\n        \"ups\": 0,\n        \"metros\": 0,\n        \"kg\": 0\n      }\n    }\n  ]\n}\n\nOBJETIVO\nExtraer SOLO datos de INTERIORES. Ignora completamente cualquier dato de cubierta.\n\nFILTRO (MUY IMPORTANTE)\n- Solo considera filas/textos donde aparezca: “INT”, “INTERIOR”, “CTE INT”, “CUERPO”, “INTERIORES”.\n- Excluye cualquier fila/texto donde aparezca: “CUB”, “CUBIERTA”, “TAPA”, “SOBRECUBIERTA”.\n\nFLUJO DE EXTRACCIÓN (prioridad obligatoria)\nA) Primero intenta MATERIALES → columna “Material” (solo interiores).\nB) Si no hay MATERIALES para interiores, usa ELABORACIONES Y VALORACIÓN → “Clase de papel” (solo interiores).\nC) Si tampoco hay, usa Observaciones/Instrucciones que describan el papel interior.\n\nMAPEO por MATERIALES/Material\nSi en MATERIALES / Material aparece literal OFF.PQ.AHUE.SAT.ORIA PEFC. 54,0x 0,0.110,0 (gr.) → \"papel_id\":  596\nSi en MATERIALES / Material aparece literal OFF.DIG.PQ.AHUE.SAT.ORIA PEFC. 50,0x 0,0. 80,0 (gr.) → \"papel_id\":  593\nSi en MATERIALES / Material aparece literal OFF.PQ.AHUE.SAT.ORIA PRINT IVORY PEFC. 54,0x 0,0. 70,0 (gr.) → \"papel_id\":  592\nSi en MATERIALES / Material aparece literal OFF.PQ.AHUE.SAT.ORIA PRINT IVORY PEFC. 48,0x 0,0. 70,0 (gr.) → \"papel_id\":  590\nSi en MATERIALES / Material aparece literal OFF.PQ.AHUE.SAT.ORIA PRINT IVORY PEFC. 52,0x 0,0. 70,0 (gr.) → \"papel_id\":  588\n\n\nSI:\n- \"papel_id\":  596 devuelve \"propietarioPapel\": 2, \"calidad\": \"Ahuesado\", \"gramaje\": 110, \"refPedido\": \"Ahuesado Oria (ANAYA)\" y \"anchoBobinaCm\": 54\n- \"papel_id\":  593 devuelve \"propietarioPapel\": 2, \"calidad\": \"Ahuesado\", \"gramaje\": 80, \"refPedido\": \"Ahuesado Oria (ANAYA)\" y \"anchoBobinaCm\": 50\n- \"papel_id\":  592 devuelve \"propietarioPapel\": 2, \"calidad\": \"Ahuesado\", \"gramaje\": 70, \"refPedido\": \"Ahuesado Oria (ANAYA)\" y \"anchoBobinaCm\": 54\n- \"papel_id\":  590 devuelve \"propietarioPapel\": 2, \"calidad\": \"Ahuesado\", \"gramaje\": 70, \"refPedido\": \"Ahuesado Oria (ANAYA)\" y \"anchoBobinaCm\": 48\n- \"papel_id\":  588 devuelve \"propietarioPapel\": 2, \"calidad\": \"Ahuesado\", \"gramaje\": 70, \"refPedido\": \"Ahuesado Oria (ANAYA)\" y \"anchoBobinaCm\": 52\n\n\nSI NO HAY papel_id POR MAPEO (fallback)\n- \"calidad\": si no encuantras Materiales, completa el json con los datos del papel que encuentres en ELABORACIONES Y VALORACIÓN -Elementos gráficos- columna Clase de papel.\n                devuelve literalmente \"Ahuesado\" si aparece solo la referencia ahuesado\n                devuelve literalmente \"Ahuesado volumen 1.5\" si aparece solo la referencia ahuesado mano 1.5 o ahuesado 1.5\n                devuelve literalmente \"Ahuesado volumen 1.6\" si aparece solo la referencia ahuesado mano 1.6 o ahuesado 1.6\n                devuelve literalmente \"Ahuesado volumen 1.8\" si aparece solo la referencia ahuesado mano 1.8 o ahuesado 1.8\n                devuelve literalmente \"Ahuesado volumen 2\" si aparece solo la referencia ahuesado mano 2.0 o ahuesado 2.0 o ahuesado 2\n                devuelve literalmente \"Estucado semimate\" si aparece solo la referencia Estudado o Estucado semimate\n                devuelve literalmente \"Offset blanco\" si aparece solo la referencia Offset blanco\n                devuelve literalmente \"Offset Blanco Volumen\" si aparece solo la referencia Offset Blanco Volumen\n                En estos casos deja \"papel_id\": 0 y propietarioPapel = 1.\n\n\ntipoImpresion (interiores)\n- Si detectas “1/1”, “1+1”, “NEGRO”, “B/N” o “Inkjet Premium” → tipoImpresion = 2\n- Si detectas “4/4”, “4+4”, “CMYK”, “cuatricromía”, “color” → tipoImpresion = 1\n- Si no hay evidencia → tipoImpresion = 1\n\npaginas\n- En ELABORACIONES Y VALORACIÓN - Elementos gráficos, toma el valor “Pág.” asociado a interiores (Cte INT / Interior).\n- Si no aparece, 0.\n\nkg\n- En MATERIALES, usa la fila del papel interior (por filtro INT/INTERIOR) y toma la columna numérica de Kg asociada a esa fila (no totales).\n- Si no aparece, 0.\n\nNo extraer. Dejar fijo en valor 0:\nplegadoOCortado=0, maquina=0, observaciones=\"\", upsCalc=0, ups=0, metros=0.\n\nSi detectas más de un papel interior distinto, devuelve un objeto por cada uno en el array “interiores”.\n",
              "type": "string"
            },
            {
              "id": "61b81b8a-7210-47b0-8839-f6cf5cb901c4",
              "name": "promptCubierta",
              "value": "### ANAYA v1\n\nActúas como un extractor de datos de Órdenes de Trabajo (PDF). Tu tarea es analizar el PDF adjunto y devolver EXCLUSIVAMENTE un JSON válido que cumpla ESTRICTAMENTE el esquema proporcionado.\n\nREGLAS OBLIGATORIAS\n1) Devuelve SOLO JSON. Sin texto adicional. Sin markdown. Sin explicaciones.\n2) El JSON debe ser válido (comillas dobles, sin trailing commas).\n3) Devuelve EXACTAMENTE las claves del esquema (ni más ni menos).\n4) Respeta tipos:\n   - number: solo números (sin comillas)\n   - string: texto entre comillas\n5) Si un dato NO aparece en el PDF: usa 0 para number y \"\" para string.\n6) Normalización para búsqueda:\n   - Coincidencia insensible a mayúsculas/minúsculas.\n   - Ignora acentos/diacríticos.\n   - Colapsa espacios y saltos múltiples a un espacio.\n   - Elimina guiones de final de línea por OCR.\n7) Consistencia: NO mezcles datos de interiores con cubierta.\n8) Verificación final: el JSON debe parsear y no debe haber nada fuera del JSON.\n\nMODELO DE SALIDA (exacto)\n{\n  \"cubierta\": {\n    \"materialCubierta\": 0,\n    \"propietarioPapel\": 0,\n    \"plastificado\": 0,\n    \"uvi\": 0,\n    \"impresion\": \"4/0\",\n    \"codDescarga\": 0,\n    \"tecnologia\": 0,\n    \"observaciones\": \"\"\n  }\n}\n\nOBJETIVO\nExtraer SOLO datos de CUBIERTA (portada/tapa). Ignora completamente interiores.\n\nFILTRO (muy importante)\n- Solo considera texto/filas donde aparezca alguna de estas evidencias:\n  \"CUB\", \"CUBIERTA\", \"TAPA\", \"PORTADA\", \"SOBRECUBIERTA\", \"CUB. EXT\", \"CUB EXT\", \"CUBIERTA EXT\"\n- Excluye texto/filas donde aparezca:\n  \"INT\", \"INTERIOR\", \"CTE INT\", \"INTERIORES\", \"CUERPO\"\n\nFUENTES PRIORITARIAS (orden obligatorio)\n1) SECCIÓN \"ELABORACIONES Y VALORACIÓN - Elementos gráficos\" (si hay referencia específica a cubierta)\n2) SECCIÓN \"ACONDICIONAMIENTO Y ENTREGA / Instrucciones\" (solo si menciona cubierta explícitamente)\n\nREGLAS POR CAMPO\n\nA) materialCubierta (number)\nELABORACIONES Y VALORACIÓN -Elementos gráficos- / Clase de papel\n    - Si Cte CUB -> Clase de papel CARTULINA GOF2C -> 250 devuelve estos valores ⇒ materialCubierta=14  ⇒ propietarioPapel=1  ⇒ plastificado=6 (SIGNIFICA: SIN PLASTIFICADO / NO APLICA, No evalúes el campo Recubrimiento ni busques plastificado en instrucciones. Ignora “GOFRADO” si apareciera en otro contexto)\n    - Si Cte CUB -> Clase de papel CART.EST.1C.PQ -> 240 devuelve estos valores ⇒ materialCubierta=1  ⇒ propietarioPapel=1\n\n    - Si la encuadernación es Cartoné/Tapa dura/Flexible devuelve estos valores ⇒ materialCubierta=2  ⇒ propietarioPapel=1\n\nB) plastificado (number)\n    - ELABORACIONES Y VALORACIÓN -Elementos gráficos- / Recubrimiento (más específico → genérico; insensible a mayúsculas/acentos):\n          \"MATE SEDOSO\"→3\n          \"MATE ANTIRRAYA\"→4\n          \"BRILLO DIGITAL\"→7\n          \"MATE DIGITAL\"→8,\n          \"GOFRADO\"→5\n          \"NATUREFLEX\"→9\n          \"SANDY\"→10\n          \"BRILLO\"→1\n          \"MATE\"→2,\n          IMPORTANTE: Si Recubrimiento está vacío o no existe → plastificado=6\n\nC) uvi (number)\nACONDICIONAMIENTO Y ENTREGA / Instrucciones\n    - Busca “UVI”, “UV”, “BARNIZ UVI”, “BARNIZ UV”, “RESERVA UVI/UV”.\n    - Mapea:\n      - “UVI/UV TOTAL” / “UV TOTAL” → uvi = 1\n      - “UVI/UV RESERVA” / “UV RESERVA” / “RESERVA” → uvi = 2\n      - “SIN UVI/UV” → uvi = 0\n    - Solo considera ‘RESERVA’ si está en la misma frase/línea que ‘UVI’, ‘UV’ o ‘BARNIZ\n    - Si no se menciona → 0\n\nD) impresion (string)\nELABORACIONES Y VALORACIÓN -Elementos gráficos- / b/v\n- Extrae el formato de impresión de la cubierta si aparece (ej: 1/0, 1/1, 4/0, 4/1, 4/4, 5/0.\n- Si no hay evidencia, deja el valor por defecto: \"4/0\"\n\nE) codDescarga (number)\n-Busca en TÍTULOS / Imprimir Código\n    - Si = 1\n    - NO = 0\n\nF) tecnologia (number)\n\nH) observaciones (string)\nACONDICIONAMIENTO Y ENTREGA / Instrucciones. Extrae solo frases que contengan ‘cubierta’, ‘tapa’, ‘portada’, ‘solapa’, ‘plastificado’, ‘recubrimiento’, ‘gofrado’, ‘uvi/uv’, ‘barniz’, ‘laminado.\n\nIMPORTANTE\n- No uses información de “interiores” para completar campos de cubierta.\n- Devuelve SOLO el JSON final.\n",
              "type": "string"
            },
            {
              "id": "5dab2b9d-9686-473a-85b9-8bfe63dfe1d0",
              "name": "promptExtras",
              "value": "### ANAYA v1\n\nActúas como un extractor de datos de documentos. Tu tarea es analizar el PDF adjunto y devolver EXCLUSIVAMENTE un JSON válido que cumpla ESTRICTAMENTE el esquema proporcionado.\n\n### REGLAS OBLIGATORIAS:\n1) Devuelve SOLO JSON. Sin texto adicional. Sin markdown. Sin explicaciones.\n2) El JSON debe ser válido (comillas dobles, sin trailing commas).\n3) Cumple el esquema al 100%:\n   - No inventes campos que no existan en el esquema.\n   - No devuelvas claves extra fuera del esquema.\n   - Respeta tipos (string/number/boolean/array/object) y enum si existen.\n4) Si un dato no aparece en el PDF:\n   - Usa null si el esquema lo permite.\n   - Si NO permite null, usa el valor vacío adecuado: \"\" para string, 0 para number, false para boolean, [] para arrays, {} para objetos (solo si el esquema lo permite).\n   - Si un campo indica \"siempre vacío\", debe devolverse como cadena vacía (\"\") aunque se detecte contenido.\n5) Normalización:\n   - Fechas en formato \"YYYY-MM-DD\" si el esquema no indica otro.\n   - Importes numéricos sin símbolo de moneda (ej: 174.00).\n   - Medidas: conserva unidades solo si el esquema lo pide; si no, usa número limpio.\n   - En la recogida de datos mantén tildes y caracteres originales.\n   - Si un texto contiene comillas internas, escápalas con una barra invertida: \\\"\n    EN LA BUSQUEDA DE DATOS:\n        - Coincidencia sin distinguir mayúsculas/minúsculas.\n        - Ignora acentos/diacríticos\n        - Colapsa espacios múltiples y recorta espacios sobrantes\n6) Consistencia:\n   - Si hay tablas/listas (servicios, componentes, direcciones), devuélvelas como arrays.\n   - No mezcles datos de secciones distintas.\n7) Verificación final antes de responder:\n   - Revisa que el JSON parsea.\n   - Revisa que cumple el esquema.\n   - Revisa que no hay texto fuera del JSON\n\n\n### MODELO DE SALIDA:\n{\n  \"guardas\": {\n    \"papel_id\": 0,\n    \"propietarioPapel\": 0,\n    \"tipoImpresion\": 0,\n    \"calidad\": \"\",\n    \"paginas\": 0,\n    \"plegadoOCortado\": 0,\n    \"maquina\": 0,\n    \"observaciones\": \"\",\n    \"papelPedido\": {\n      \"refPedido\": \"\",\n      \"gramaje\": 0,\n      \"anchoBobinaCm\": 0,\n      \"upsCalc\": 0,\n      \"ups\": 0,\n      \"metros\": 0,\n      \"kg\": 0\n    },\n    \"papelProduccion\": {\n      \"refProduccion\": \"\",\n      \"gramaje\": 0,\n      \"anchoBobinaCm\": 0,\n      \"upsCalc\": 0,\n      \"ups\": 0,\n      \"metros\": 0,\n      \"kg\": 0\n    }\n  },\n  \"sobrecubierta\": {\n    \"materialSobrecubierta\": 0,\n    \"propietarioPapel\": 0,\n    \"plastificado\": 0,\n    \"uvi\": 0,\n    \"impresion\": \"\",\n    \"tecnologia\": 0,\n    \"observaciones\": \"\"\n  },\n  \"faja\": {\n    \"materialFaja\": 0,\n    \"propietarioPapel\": 0,\n    \"plastificado\": 0,\n    \"uvi\": 0,\n    \"impresion\": \"\",\n    \"tecnologia\": 0,\n    \"observaciones\": \"\"\n  },\n  \"componentesEspeciales\": [\n    {\n      \"material\": 0,\n      \"propietarioPapel\": 0,\n      \"nombre\": \"\",\n      \"plastificado\": 0,\n      \"uvi\": 0,\n      \"impresion\": \"\",\n      \"tecnologia\": 0,\n      \"observaciones\": \"\"\n    }\n  ],\n  \"peticionesEspeciales\": [\n    {\n      \"descripcion\": \"\"\n    }\n  ],\n  \"direcciones\": [\n    {\n      \"direccionId\": \"\",\n      \"destinatario\": \"\",\n      \"via\": \"\",\n      \"numero\": \"\",\n      \"piso\": \"\",\n      \"puerta\": \"\",\n      \"cp\": \"\",\n      \"localidad\": \"\",\n      \"provincia\": \"\",\n      \"pais\": \"\",\n      \"contacto\": \"\",\n      \"telefonos\": \"\",\n      \"pallet\": 0,\n      \"encajado\": 0,\n      \"ejemplaresPaquete\": 0,\n      \"ejemplares\": 0,\n      \"envioResto\": 0,\n      \"modelos\": 0,\n      \"observaciones\": \"\"\n    }\n  ]\n}\n\n### GUARDAS:\nInstrucciones:\n    1. SOLO devuelve datos si detectas indicios de guardas (ej. “guardas incluidas”, “guardas aparte”, “guardas impresas”).\n    2. Verifica el tipo de encuadernación:\n      - Si encuadernación = 3 (Rústica), 4 (Espiral), 5 (Grapa) o 6 (Wire-o) → NO lleva guardas → NO devuelvas nada.\n      - Solo lleva guardas si encuadernación = 1 (Cartoné) o 2 (Flexible).\n    3. Si hay referencia válida a guardas, devuelve este bloque JSON con los siguientes valores fijos o vacíos:\n    4. Valor de `\"refPedido\"`:\n      - Si se menciona “guardas aparte”: busca el texto del papel al final de las observaciones y úsalo como descripción.\n      - Si se menciona “guardas incluidas”: usa la descripción del papel del interior como refPedido.\n    5. Usa exactamente estas equivalencias para interpretar descripciones encontradas en observaciones:\n      - \"Ahuesado\" devuelve esto:\n                {\n                  \"guardas\": {\n                    \"papel_id\": 561,\n                    \"propietarioPapel\": 1,\n                    \"tipoImpresion\": 1,\n                    \"calidad\": \"Ahuesado\",\n                    \"paginas\": 8,\n                    \"observaciones\": \"\",\n                    \"papelPedido\": {\n                      \"refPedido\": \"Ahuesado Oria\", \n                      \"gramaje\": 120,\n                      \"anchoBobinaCm\": 54,\n                      \"ups\": 2\n                    }\n                  }\n                }\n    - \"Offset blanco\" devuelve esto:\n                {\n                  \"guardas\": {\n                    \"papel_id\": 620,\n                    \"propietarioPapel\": 1,\n                    \"tipoImpresion\": 1,\n                    \"calidad\": \"Offset blanco\",\n                    \"paginas\": 8,\n                    \"observaciones\": \"\",\n                    \"papelPedido\": {\n                      \"refPedido\": \"Navigator Offset Premium 161\", \n                      \"gramaje\": 120,\n                      \"anchoBobinaCm\": 54,\n                      \"ups\": 2\n                    }\n                  }\n                }\n    - \"Estucado\" devuelve esto:   \n                {\n                  \"guardas\": {\n                    \"papel_id\": 613,\n                    \"propietarioPapel\": 1,\n                    \"tipoImpresion\": 1,\n                    \"calidad\": \"Estucado semimate\",\n                    \"paginas\": 8,\n                    \"observaciones\": \"\",\n                    \"papelPedido\": {\n                      \"refPedido\": \"G-Silk\", \n                      \"gramaje\": 150,\n                      \"anchoBobinaCm\": 54,\n                      \"ups\": 2\n                    }\n                  }\n                }\n\n### SOBRECUBIERTA:\nBasate en este prompt Rellenar solo si el PDF contiene una mención explícita a SOBRECUBIERTA.\n    - Trabaja sin distinguir mayúsculas/minúsculas ni acentos.\n    - Solo cuenta si aparece la palabra “sobrecubierta” o las variantes “sobre cubierta” o “sobre-cubierta” como palabra independiente, en frases tipo: “lleva sobrecubierta”, “colocar sobrecubierta”, “imprimir sobrecubierta”, etc.\n    - No la confundas nunca con la palabra “cubierta” (es otra cosa) ni con “faja”, aunque usen el mismo material, gramaje, plastificado, UVI o cualquier otro dato.\n    - Ignora por completo la información de cubierta, faja, guardas, encuadernación, materiales, gramajes, plastificados y UVI para decidir si hay sobrecubierta:\n    - Si no aparece literalmente “sobrecubierta” / “sobre cubierta” / “sobre-cubierta”, deja todos los valores por defecto.\n    - Si ves negaciones claras como “sin sobrecubierta”, “no lleva sobrecubierta”, “no colocar sobrecubierta”, también debes dejar los valores por defecto.\n\n    No deduzcas ni supongas la existencia de sobrecubierta por contexto: solo decide por la palabra literal indicada.\n      \"materialSobrecubierta\": devuelve 15.\n      \"propietarioPapel\": devuelve 1.\n\n      \"plastificado\":\n          brillo → 1\n          mate → 2\n          mate sedoso → 3\n          mate antirraya → 4\n          gofrado → 5\n          brillo digital → 7\n          mate digital → 8\n          natureflex → 9\n          sandy → 10\n          cualquier otro caso → 6\n\n    - \"uvi\": Devuelve 1 si aparece referencia UVI o 0 si no aparece.\n    - \"Impresion\": Si no detectas \"materialSobrecubierta\" no devuelvas nada, si no usa literalmente \"4/0\", \"4/1\", \"4/4\", \"1/0\", \"5/0\", si no lo encuentras devuelve 4/0. Si detectas la referencia \"Reverso\" indica 4/4.\n    - \"tecnologia\": \n    - \"Observaciones\": indica \"Recibimos modelo de impresión\" solo si el documento contiene alguna referencia explícita a “enviamos modelo”, \"enviamos prueba\", \"muestra de impresión\" (Coincidencia insensible a mayúsculas/minúsculas ni acentos).\n\n    GATE SOBRECUBIERTA (OBLIGATORIO):\n        - Busca SOLO coincidencias literales como palabra independiente: \"sobrecubierta\", \"sobre cubierta\", \"sobre-cubierta\"\n        - Ignora coincidencias donde solo aparezca \"cubierta\".\n        - Si NO hay coincidencia literal -> sobrecubierta = valores por defecto y NO rellenar nada más.\n        - Si hay negación dentro de una ventana de 5 palabras: (\"sin\", \"no\", \"nunca\") -> valores por defecto.\n        Ejemplos de negación: \"sin sobrecubierta\", \"no lleva sobrecubierta\", \"no colocar sobrecubierta\".\n\n    PROHIBICIÓN:\n        - Está prohibido copiar valores de \"cubierta\" a \"sobrecubierta\" o \"faja\".\n        - Aunque haya plastificado, UVI o impresión, si no se supera el GATE literal, deja sobrecubierta/faja por defecto.\n    \n    PRUEBA MÍNIMA (interna):\n        - Para marcar sobrecubierta/faja como presente, debes localizar un fragmento del PDF que contenga la palabra gatillo EXACTA.\n        - Si no puedes señalar internamente esa frase, entonces NO está presente y devuelves valores por defecto.\n        - No devuelvas el fragmento en el JSON.\n    ÁMBITO:\n        - Si detectas \"sobrecubierta\", solo puedes extraer plastificado/uvi/impresion desde:\n            a) la misma línea, o\n            b) las 2 líneas siguientes.\n        - En cualquier otro caso, deja esos campos por defecto.\n\n### FAJA:\nBasate en este prompt Rellenar solo si hay información referente a FAJA o FAJILLA (Coincidencia insensible a mayúsculas/minúsculas ni acentos) en el PDF, ejemplos \"lleva faja\", \"colocar fajilla\", \"imprimir faja\", si no dejar valores por defecto.\n    - \"materialFaja\": devuelve 15.\n    - \"propietarioPapel\": devuelve 1.\n    - \"plastificado\":\n                brillo → 1\n                mate → 2\n                mate sedoso → 3\n                mate antirraya → 4\n                gofrado → 5\n                brillo digital → 7\n                mate digital → 8\n                natureflex → 9\n                sandy → 10\n                cualquier otro caso → 6\n    - \"uvi\": Devuelve 1 si aparece referencia UVI o 0 si no aparece.\n    - \"Impresion\": Si no detectas \"materialFaja\" no devuelvas nada, si no usa literalmente \"4/0\", \"4/1\", \"4/4\", \"1/0\", \"5/0\", si no lo encuentras devuelve 4/0. Si detectas la referencia \"Reverso\" indica 4/4.\n    - \"tecnologia\":   \n    - Observaciones: indica \"Recibimos modelo de impresión\" solo si el documento contiene alguna referencia explícita a “enviamos modelo”, \"enviamos prueba\", \"muestra de impresión\" (Coincidencia insensible a mayúsculas/minúsculas ni acentos)..\n\n    GATE FAJA (OBLIGATORIO):\n        - Solo acepta como evidencia la palabra literal: \"faja\" o \"fajilla\" como palabra independiente.\n        - Si NO aparece -> faja = valores por defecto.\n        - Si aparece negada (\"sin faja\", \"no lleva faja\") -> valores por defecto.\n        - No uses jamás materiales, plastificados o impresión para inferir la existencia de faja.\n    \n    PROHIBICIÓN:\n        - Está prohibido copiar valores de \"cubierta\" a \"sobrecubierta\" o \"faja\".\n        - Aunque haya plastificado, UVI o impresión, si no se supera el GATE literal, deja sobrecubierta/faja por defecto.\n    \n    PRUEBA MÍNIMA (interna):\n        - Para marcar sobrecubierta/faja como presente, debes localizar un fragmento del PDF que contenga la palabra gatillo EXACTA.\n        - Si no puedes señalar internamente esa frase, entonces NO está presente y devuelves valores por defecto.\n        - No devuelvas el fragmento en el JSON.\n    ÁMBITO:\n        - Si detectas \"sobrecubierta\", solo puedes extraer plastificado/uvi/impresion desde:\n            a) la misma línea, o\n            b) las 2 líneas siguientes.\n        - En cualquier otro caso, deja esos campos por defecto.\n\n\n### COMPONENTES ESPECIALES:\nBasate en este prompt Busca en el PDF menciones a elementos especiales como:\n    - \"Cuadernillo\"\n    - \"Encarte\"\n    - \"Pliego\"\n\n    (Sensibilidad: no distingue mayúsculas/minúsculas/acentos)\n\n### Si encuentras una mención, devuelve el siguiente JSON (rellenado):\n\"componentesEspeciales\": [\n  {\n    \"material\": 0,           // Devuelve el papel indicado en esa sección\n    \"propietarioPapel\": 1,   // Devuelve siempre 1\n    \"nombre\": \"ENCARTE\",     // Devuelve literalmente ENCARTE\n    \"plastificado\": 0,       // Siempre vacío\n    \"uvi\": 0,            // Siempre vacío\n    \"impresion\": \"4/0\",      // Usa literalmente lo que indique el pedido (ej.: \"4/0\", \"4/1\", \"4/4\", \"1/0\", \"5/0\"). Si no lo encuentras, devuelve \"4/0\"\n    \"tecnologia\": 1,         // Devuelve siempre 1\n    \"observaciones\": \"\"      // Devuelve la línea o líneas relacionadas al encarte/cuadernillo/pliego detectado\n  }\n]\n\n### Si no encuentras nada, no devuelvas este bloque.\n.\n\n### PETICIONES ESPECIALES:\n\nAnaliza el texto del PDF (en texto plano) y detecta si se solicitan estos elementos especiales: Faja, Topo, Sobrecubierta, Cuadernillo, Encarte, Pliego.\n\nReglas generales de detección\n    No distingas mayúsculas/minúsculas ni acentos.\n    No hagas inferencias por contexto: solo cuenta si aparece la palabra clave literal.\n    La coincidencia debe ser palabra completa, separada por espacios o signos de puntuación.\n    No cuentes coincidencias dentro de otras palabras (por ejemplo: “fajardo”, “topografía”, “plegadora” no valen).\n    Revisa primero las zonas de Observaciones, Notas y Componentes/Servicios; si no encuentras nada, revisa el resto del documento.\n\nNegaciones\n    Si una mención está negada cerca de la palabra clave, NO la cuentes.\n    Usa una ventana de ±5 palabras alrededor de la palabra clave.\n    Palabras o frases de negación: “sin”, “no”, “no lleva”, “sin llevar”, “sin colocar”.\n    Ejemplos: “sin faja” → no contar “faja”; “no lleva sobrecubierta” → no contar “sobrecubierta”; “no colocar topo” → no contar “topo”.\n    Si ves “guardas”: null, “sobrecubierta”: null, “faja”: null, no lo cuentes.\n\nPalabras clave por tipo\n\nFaja:\nPalabra clave: “faja”.\nSolo cuenta “faja” como palabra independiente.\nNo cuentes “fajilla” ni otras palabras más largas que contengan “faja”.\nSi hay una mención válida (no negada), añade “Colocar faja” al array peticionesEspeciales.\n\nTopo:\nPalabra clave: “topo”.\nSolo cuenta “topo” como palabra independiente.\nSi hay una mención válida (no negada), añade “Colocar topo” al array peticionesEspeciales.\n\nSobrecubierta:\nPalabra clave: “sobrecubierta”.\nAcepta como equivalentes las variantes con espacio o guion: “sobre cubierta”, “sobre-cubierta”.\nNo cuentes “cubierta” sola.\nNo deduzcas nunca que hay sobrecubierta por tipo de encuadernación, UVI, plastificado, cartoné, guardas, faja o fajilla. Solo cuenta si aparece literalmente “sobrecubierta” (o sus variantes indicadas).\nSi hay una mención válida (no negada), añade “Colocar Sobrecubierta” al array peticionesEspeciales.\n\nCuadernillo:\nPalabra clave: “cuadernillo”.\nSi hay una mención válida (no negada), añade al array peticionesEspeciales la(s) frase(s) donde se mencione “cuadernillo”, omitiendo referencias a papel (tipo de papel, gramaje, etc.).\n\nEncarte:\nPalabra clave: “encarte”.\nSi hay una mención válida (no negada), añade al array peticionesEspeciales la(s) frase(s) donde se mencione “encarte”, omitiendo referencias a papel.\n\nPliego:\nPalabra clave: “pliego”.\nSi hay una mención válida (no negada), añade al array peticionesEspeciales la(s) frase(s) donde se mencione “pliego”, omitiendo referencias a papel.\n\nConstrucción de peticionesEspeciales:\npeticionesEspeciales es un array de cadenas.\nPuede contener:\n\n“Colocar faja”\n\n“Colocar topo”\n\n“Colocar Sobrecubierta”\n\nLas frases correspondientes a Cuadernillo, Encarte y Pliego (sin referencias a papel).\n\nCada tipo de elemento solo puede aparecer una vez en el array.\nEl array debe respetar el orden en el que se detecta cada elemento por primera vez en el documento.\nSi un elemento no aparece o solo aparece en forma negada, no lo añadas al array.\n\nProhibiciones\nNo inventes elementos especiales si no aparecen las palabras clave explícitas.\nNo infieras Faja, Topo, Sobrecubierta, Cuadernillo, Encarte o Pliego por contexto, tipo de libro, UVI, plastificado, cartoné, fajilla, etc.\nNo cuentes menciones negadas.\nNo generes texto extra fuera de la estructura de salida.\n\nSalida esperada (solo esto):\nUn objeto JSON con:\n“peticionesEspeciales”: array de cadenas.\n\n### DIRECCIONES:\n\n      Reglas:\n          Buscar si existe un alias exacto en el PDF:\n              Usa coincidencia insensible a mayúsculas/minúsculas, acentos y elimina espacios extra.\n              La coincidencia debe ser por frase completa (no dentro de otras palabras).\n          En caso de empate:\n              Prefiere alias completo exacto.\n              Luego la cadena coincidente más larga.\n              Luego el menor direccionId.\n          Si se encuentra un alias:\n            Devuelve un objeto con:\n              \"direccionId\" correspondiente del mapa.\n              Solo el campo \"ejemplares\" con el número de tirada.\n              Todos los demás campos deben ir vacíos (\"\") o en 0.\n              Si NO se encuentra alias:\n              Usa \"direccionId\": 0.\n              Extrae del PDF todos los campos posibles:\n              via, numero, piso, puerta, cp, localidad, provincia, pais, contacto, telefonos, pallet, encajado, ejemplaresPaquete, ejemplares, envioResto, modelos, observaciones.\n              Si algún campo no aparece, déjalo vacío (\"\") o en 0.\n              Regla adicional \"Sin muestras\" o \"Sin muestra\":\n              Si NO se encuentra la referencia \"Sin muestras\" o \"Sin muestra\" en observaciones:\n\n            Mapa → direccionId:\n                  GETAFE = 2\n                  OFICINA = 3\n                  TRACTILPACK = 52\n                  GAMAN ENCUADERNACIÓN = 221\n\n      Formato de salida (idéntico a este):\n      Si encuentras direccionId devuleve:\n      {\n        \"direcciones\": [\n          {\n            \"direccionId\": 0,\n            \"ejemplares\": 0\n          }\n        ]\n      }\n      \n      Si no completa este:    \n      {\n        \"direcciones\": [\n          {\n            \"direccionId\": 0,\n            \"destinatario\": \"\",\n            \"via\": \"\",\n            \"numero\": \"\",\n            \"piso\": \"\",\n            \"puerta\": \"\",\n            \"cp\": \"\",\n            \"localidad\": \"\",\n            \"provincia\": \"\",\n            \"pais\": \"\",\n            \"contacto\": \"\",\n            \"telefonos\": \"\",\n            \"pallet\": 0,\n            \"encajado\": 0,\n            \"ejemplaresPaquete\": 0,\n            \"ejemplares\": 0,\n            \"envioResto\": 0,\n            \"modelos\": 0,\n            \"observaciones\": \"\"\n          }\n        ]\n      }\n\n",
              "type": "string"
            },
            {
              "id": "cc2cb1a8-001c-47c2-905c-932fb95e2f0a",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        -880
      ],
      "id": "0902a6ce-cf8d-4079-a389-65cf0141f2f4",
      "name": "PromptConfig_ANAYA"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c50ac2fc-7702-478c-bb8a-fe568b6229b8",
              "name": "asunto",
              "value": "=Error con el prefijo del nombre del fichero",
              "type": "string"
            },
            {
              "id": "a7625554-7c62-408b-965c-183c852a901d",
              "name": "texto",
              "value": "=El pedido ",
              "type": "string"
            },
            {
              "id": "3352ce0f-a77e-4162-8e27-c2f69a4c14dd",
              "name": "json",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        -64
      ],
      "id": "c47d2990-b03c-49a6-baca-4f5a3cdcaf5c",
      "name": "INFORME DE REGISTRO 1"
    },
    {
      "parameters": {
        "content": "## Texto Informe\nNo existe el prefijo",
        "height": 304,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        -160
      ],
      "id": "76762173-21c9-48b4-86dc-6a0038a32568",
      "name": "Sticky Note12"
    }
  ],
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "Parse output_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Body (schema)": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse output_text": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir PDF a OpenAI": {
      "main": [
        [
          {
            "node": "openaiFileId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extraer prefijo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openaiFileId": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Parse output_text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Body (schema)1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse output_text1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Parse output_text2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Body (schema)2": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse output_text2": {
      "main": [
        [
          {
            "node": "Calcular tecnologia (cubierta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "Parse output_text3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Body (schema)3": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse output_text3": {
      "main": [
        [
          {
            "node": "Build JSON completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF - Base64": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build JSON completo": {
      "main": [
        []
      ]
    },
    "API Pedidos": {
      "main": [
        [
          {
            "node": "Validar duplicados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar pedido": {
      "main": [
        [
          {
            "node": "API Pedidos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Unir pedido + stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar duplicados": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿papel_id > 0?": {
      "main": [
        [
          {
            "node": "json para email1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API Bobinas Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Bobinas Stock": {
      "main": [
        [
          {
            "node": "Agrupar stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar stock": {
      "main": [
        [
          {
            "node": "Unir pedido + stock",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Unir pedido + stock": {
      "main": [
        [
          {
            "node": "Seleccionar bobina (JS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleccionar bobina (JS)": {
      "main": [
        [
          {
            "node": "json para email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "¿papel_id > 0?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular UPS (interiores)": {
      "main": [
        []
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Calcular UPS (interiores)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PromptConfig_RANDOM": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "OT_DUPLICADA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ISBN_EN_PRODUCCION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DATOS_INCOMPLETOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OT_DUPLICADA": {
      "main": [
        [
          {
            "node": "email AUTOMATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ISBN_EN_PRODUCCION": {
      "main": [
        [
          {
            "node": "email AUTOMATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATOS_INCOMPLETOS": {
      "main": [
        [
          {
            "node": "email AUTOMATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desarrollo1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Producción1": {
      "main": [
        []
      ]
    },
    "Desarrollo": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INFORME DE REGISTRO 2": {
      "main": [
        [
          {
            "node": "email AUTOMATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Producción": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "PDF - Base64",
            "type": "main",
            "index": 0
          },
          {
            "node": "prefijo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "solo PDF": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Renombrar binario",
            "type": "main",
            "index": 0
          },
          {
            "node": "PDF - Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "solo PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "json para email": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "INFORME DE REGISTRO 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renombrar binario": {
      "main": [
        [
          {
            "node": "Subir PDF a OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "json para email1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INFORME DE REGISTRO ": {
      "main": [
        [
          {
            "node": "email AUTOMATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "INFORME DE REGISTRO ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prefijo": {
      "main": [
        [
          {
            "node": "Renombrar binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer prefijo": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "PromptConfig_RANDOM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PromptConfig_ANAYA",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "INFORME DE REGISTRO 1": {
      "main": [
        [
          {
            "node": "email AUTOMATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PromptConfig_ANAYA": {
      "main": [
        [
          {
            "node": "Build OpenAI Body (schema)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build OpenAI Body (schema)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build OpenAI Body (schema)2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build OpenAI Body (schema)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "51HtRNdqJ20cKFay"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-12-23T12:59:06Z"
    },
    "node:Google Drive": {
      "lastTimeChecked": "2025-12-30T08:44:59Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "34e42e3d-8867-4158-aa40-5d951eb82cd4",
  "activeVersionId": null,
  "versionCounter": 368,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-02T12:36:10.756Z",
      "createdAt": "2026-01-02T12:36:10.756Z",
      "role": "workflow:owner",
      "workflowId": "eEaOkQz1URjwHDB9",
      "projectId": "5DRxsE1egf1baMP6",
      "project": {
        "updatedAt": "2025-12-16T07:05:26.416Z",
        "createdAt": "2025-12-16T07:00:37.382Z",
        "id": "5DRxsE1egf1baMP6",
        "name": "P GA <procesos@gomezaparicio.es>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-16T07:00:37.382Z",
            "createdAt": "2025-12-16T07:00:37.382Z",
            "userId": "9a4e2f29-7a97-4add-ba5c-b1a99dee84e7",
            "projectId": "5DRxsE1egf1baMP6",
            "user": {
              "updatedAt": "2026-01-03T06:48:17.640Z",
              "createdAt": "2025-12-16T07:00:36.626Z",
              "id": "9a4e2f29-7a97-4add-ba5c-b1a99dee84e7",
              "email": "procesos@gomezaparicio.es",
              "firstName": "P",
              "lastName": "GA",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "gR8RJ0nGarvRBlGa",
                "userActivatedAt": 1766491998544
              },
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2026-01-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}