workflows/lfv0rTCaOfXHmPaT__random-v2.json
{
  "updatedAt": "2025-12-24T09:41:21.887Z",
  "createdAt": "2025-12-17T08:59:45.912Z",
  "id": "lfv0rTCaOfXHmPaT",
  "name": "Random v2",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1525afR3nUoeuGgmrjC8_SZgsJlPqvAO6",
          "mode": "list",
          "cachedResultName": "Random",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1525afR3nUoeuGgmrjC8_SZgsJlPqvAO6"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        -512
      ],
      "id": "2be0301b-e233-4117-8866-e8bd696519d1",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleApi": {
          "id": "UYxtbEdIRgABKCQN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -832,
        -528
      ],
      "id": "4d161d34-f2c5-4561-8d15-760bf64f41a5",
      "name": "Download file",
      "alwaysOutputData": false,
      "credentials": {
        "googleApi": {
          "id": "UYxtbEdIRgABKCQN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.openaiBody}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        -528
      ],
      "id": "d2a25e7a-40ad-4db2-971e-e29d282b82c3",
      "name": "OpenAI",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "Fb5EZ7r56FOl5M3A",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "Recoge el PDF de la carpeta y lo sube a OpenAI",
        "height": 224,
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1216,
        -576
      ],
      "id": "a325567b-d258-4f7a-9187-2ee00089c750",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fileId = $json.id;\nconst prompt = ($json.promptCabecera || $node[\"PromptConfig\"].json.promptCabecera || \"\").trim();\n\nif (!fileId) throw new Error(\"No llega el fileId ($json.id) desde /v1/files\");\nif (!prompt) throw new Error(\"No llega el prompt (promptCabecera). Revisa PromptConfig\");\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    cliente: { type: \"string\" },\n    contacto: { type: \"string\" },\n    suReferencia: { type: \"string\" },\n    numeroOf: { type: \"integer\" },\n    numeroOtCliente: { type: \"string\" },\n    isbnPack: { type: \"string\" },\n    fechaEntrega: { type: \"string\" },\n    sinRetraso: { type: \"boolean\" },\n    tirada: { type: \"integer\" },\n    quiereVerFerros: { type: \"integer\" },\n    certificacion: { type: \"integer\" },\n    observacionesPedido: { type: \"string\" },\n    titulo: { type: \"string\" },\n    sello: { type: \"string\" },\n    isbn: { type: \"string\" },\n    codProyecto: { type: \"string\" },\n    anchoPaginaCm: { type: \"number\" },\n    altoPaginaCm: { type: \"number\" },\n    unionPliegos: { type: \"integer\" },\n    encuadernacion: { type: \"integer\" },\n    solapa: { type: \"boolean\" },\n    hendidoCortesia: { type: \"boolean\" },\n    observacionesEncuadernacion: { type: \"string\" }\n  },\n  required: [] // nada requerido\n};\n\nreturn {\n  openaiBody: {\n    model: \"gpt-4o-mini\",\n    input: [{\n      role: \"user\",\n      content: [\n        { type: \"input_file\", file_id: fileId },\n        { type: \"input_text\", text: prompt }\n      ]\n    }],\n    text: {\n      format: {\n        type: \"json_schema\",\n        name: \"cabecera_pedido\",\n        strict: false,\n        schema\n      }\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -528
      ],
      "id": "63ea947f-d80d-4d32-ad51-fd220cac4141",
      "name": "Build OpenAI Body (schema)"
    },
    {
      "parameters": {
        "jsCode": "// Soporta \"Full Response\" ON/OFF:\nconst body = $json.body ?? $json;\n\nconst text =\n  body.output?.flatMap(o => o.content || [])\n    ?.find(c => c.type === \"output_text\")\n    ?.text;\n\nif (!text) throw new Error(\"No encuentro output_text en la respuesta de OpenAI\");\n\nlet data;\ntry {\n  data = JSON.parse(text);\n} catch (e) {\n  throw new Error(\"El output_text no es JSON parseable: \" + e.message + \"\\n\\n\" + text);\n}\n\n// Limpieza: borra 0, \"\", null, [], {} EXCEPTO estos campos:\nconst keepAlways = new Set([\n  \"cliente\", \"contacto\", \"sinRetraso\", \"unionPliegos\", \"encuadernacion\", \"solapa\", \"hendidoCortesia\"\n]);\n\nfunction isEmpty(v) {\n  if (v === null || v === undefined) return true;\n  if (typeof v === \"string\" && v.trim() === \"\") return true;\n  if (typeof v === \"number\" && v === 0) return true;\n  if (Array.isArray(v) && v.length === 0) return true;\n  if (typeof v === \"object\" && !Array.isArray(v) && Object.keys(v).length === 0) return true;\n  return false;\n}\n\nfor (const k of Object.keys(data)) {\n  if (keepAlways.has(k)) continue;\n  if (isEmpty(data[k])) delete data[k];\n}\n\nreturn [{ json: data }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -528
      ],
      "id": "384b2ffc-c6f4-4979-8444-e0e176b7d119",
      "name": "Parse output_text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d0cde515-9ba1-4c2a-9753-3e96c5806967",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1008,
        -512
      ],
      "id": "da7a1a99-e2bf-480e-b8ed-01e3500278c8",
      "name": "solo PDF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "user_data"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -640,
        -528
      ],
      "id": "d618098e-b9b6-4fce-8709-6c8ef5321a69",
      "name": "Subir PDF a OpenAI",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "Fb5EZ7r56FOl5M3A",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0ce385a-7aee-445a-9af9-1acee2a8952e",
              "name": "promptCabecera",
              "value": "Actúa como un extractor de datos. Tu tarea es analizar el PDF adjunto y devolver exclusivamente un JSON válido conforme al siguiente esquema:\n\n### MODELO DE SALIDA:\n{\n \"cliente\": 0,\n  \"contacto\": 0,\n  \"suReferencia\": \"\", // siempre vacío\n  \"numeroOf\": 001/001,\n  \"numeroOtCliente\": \"\",\n  \"isbnPack\": \"\",\n  \"fechaEntrega\": \"\",\n  \"sinRetraso\": false,\n  \"tirada\": 0,\n  \"precioUnitarioSinIVA\": 0,\n  \"precioToltalSinIVA\": 0,\n  \"quiereVerFerros\": 0,\n  \"certificacion\": 0,\n  \"observacionesPedido\": \"\",\n  \"titulo\": \"\",\n  \"sello\": \"\",\n  \"isbn\": \"9783161484100\",\n  \"codProyecto\": \"\",\n  \"anchoPaginaCm\": 0.0,\n  \"altoPaginaCm\": 0.0,\n  \"unionPliegos\": 0,\n  \"encuadernacion\": 0,\n  \"cabezada\": 0,\n  \"cabezadaColor\": 0, // siempre vacío\n  \"cabezadaColorOtro\": \"\", \n  \"guardasAparte\": 0, \n  \"guardasImpresas\": 0, \n  \"cintaRegistro\": 0, \n  \"cintaRegistroColor\": 0, // siempre vacío\n  \"cintaRegistroColorOtro\": \"\", \n  \"calibreCarton\": 0, \n  \"tipoLomo\": 0, \n  \"solapa\": false, // siempre tiene que aparecer\n  \"hendidoCortesia\": false, // siempre tiene que aparecer\n  \"espiralMaterial\": 0, // siempre vacío\n  \"espiralColor\": 0, // siempre vacío\n  \"espiralColorOtro\": \"\", // siempre vacío\n  \"espiralLado\": 0, // siempre vacío\n  \"wireoMaterial\": 0, // siempre vacío\n  \"wireoColor\": 0, // siempre vacío\n  \"wireoColorOtro\": \"\", // siempre vacío\n  \"wireoLado\": 0, // siempre vacío\n  \"observacionesEncuadernacion\": \"\"\n}\n\n### INSTRUCCIONES GENERALES:\n1. Devuelve solo los campos definidos en el JSON.\n2. Elimina las propiedades con valor 0, \"\", null, [], {} excepto:\n   - \"solapa\", \"hendidoCortesia\", \"cliente\", \"contacto\", \"sinRetraso\", \"unionPliegos\", \"encuadernacion\".\n\n### VARIABLES Y PROMPTS AUXILIARES:\n- Reglas: \n      - Si un dato no está en el PDF, deja el valor por defecto.\n      - Entrega un JSON válido, sin texto adicional ni explicaciones.\n      - Mantén exactamente la estructura del modelo proporcionado (no agregues ni elimines campos).\n      - Formatea todas las fechas en formato ISO: AAAA-MM-DD.\n      - Si un campo indica \"siempre vacío\", debe devolverse como cadena vacía (\"\") aunque se detecte contenido.\n      - Si un texto contiene comillas internas, escápalas con una barra invertida: \\\"\n      - Recuerda eliminar todas las propiedades con 0, \"\", null, [], {} del JSON de salida\n- Contacto: \n      Busca en el PDF solo en la parte inferior de la orden (el último cuarto de la página). Dentro de ese bloque, localiza el nombre y apellidos juntos.\n      Reglas:\n      Coincidencia sin distinguir mayúsculas/minúsculas.\n      Ignora acentos/diacríticos (Á= A, É= E, Í= I, Ó= O, Ú= U, Ü= U, Ñ= N).\n      Colapsa espacios múltiples y recorta espacios sobrantes.\n      Si varias líneas del mapa coinciden tras normalizar (por ejemplo, duplicados con y sin acento), devuelve el usuarioId menor.\n      Si no hay coincidencia, devuelve 0.\n      Salida: devuelve solo el número usuarioId (entero, sin comillas).\n      Mapa nombre → usuarioId:\n      Marta Álvarez = 3\n      Víctor Benayas = 4\n      Raúl Bernardo = 5\n      José Antonio Cabezas = 7\n      Sonia López = 18\n      Rocío Martínez = 21\n      Daniel Pamos = 26\n      Víctor Benayas = 38\n      Guillermo Manzano = 283\n      Cecilia Porzio = 335\n      Wilfred Santana = 415\n      Sarai Paz = 477\n      Juan Jose Hernandez = 485\n      Judit Franco = 498\n      CAROLINA JIMÉNEZ = 507\n      Devuelve únicamente el número.\n- Certificación:\n      Identifica el bloque correcto “Descripción (del artículo)” siguiendo esta lógica:\n      1. LOCALIZACIÓN DEL BLOQUE:\n      - Busca una línea exacta con el texto “Descripción”.\n      - Dentro de las 10 líneas siguientes, debe aparecer al menos uno de estos rótulos de ficha: \n        Autor, Ed/Enc, Colección, Tiraje, Formato, Nº Páginas, Solapa, Grosor, Código Barras.\n      - Si “Descripción” forma parte de una tabla o cabecera (por ejemplo en “Servicios” o “Componentes”), descártalo: no es el bloque de ficha del artículo.\n      2. DEFINICIÓN DEL BLOQUE:\n      - El bloque comienza en la línea inmediatamente posterior a “Descripción”.\n      - Finaliza al encontrar alguno de estos rótulos: \n        Autor, Ed/Enc, Colección, Tiraje, Formato, Nº Páginas, Solapa, Grosor, Código Barras, Servicios, Componentes, Observaciones.\n      3. ALCANCE DE BÚSQUEDA:\n      - La búsqueda de certificación se limita **únicamente** a ese bloque validado.\n      4. DETECCIÓN DE CERTIFICACIÓN (valores literales y sensibles a mayúsculas/minúsculas):\n      - Si aparece exactamente “FSC Mix” ⇒ devuelve 2.\n      - Si **no** aparece “FSC Mix” pero sí aparece exactamente “PEFC” ⇒ devuelve 4.\n      - En cualquier otro caso ⇒ devuelve 0.\n      - Si ambos aparecen ⇒ da prioridad a “FSC Mix” (devuelve 2).\n      5. EXCLUSIONES EXPLÍCITAS:\n      Ignora cualquier mención a “FSC”, “FSC®”, “FSC Mix”, “PEFC” si:\n      - Está en cabeceras, pies de página o notas legales (ej.: “empresa certificada FSC®…”).\n      - Está dentro de las tablas o secciones “Servicios” o “Componentes” (ej.: “MB PRIME BRIGHT… (FSC)”).\n      6. SALIDA:\n      Devuelve **únicamente** el valor en “certificacion”: 2, 4 o 0. No devuelvas ningún texto adicional.\n- Observaciones: \n      Objetivo: SIEMPRE devuelve las dos primeras líneas del bloque “Observaciones”. Si hay un renglón vacio entre ellas no lo cuentes, devuelve las dos primeras con texto.\n      Analiza el resto y solo devuelve lo relacionado con Urgencias, Modelos, indicaciones de cuidado o advertencias, nada más.\n      Palabra clave: “topo”: Solo cuenta “topo” como palabra independiente. Si hay una mención válida (no negada), añade solo “Colocar topo”.\n      Estilo de salida:\n      Elimina relleno (“gracias”, “saludos”) y frases irrelevantes.\n      Mantén ortografía original salvo limpieza mínima de espacios.\n      Reglas de calidad:\n      Prioriza claridad y concisión. Une frases relacionadas en una sola línea si procede.\n      No inventes datos; no infieras campos técnicos.\n      No repitas información ya cubierta por los datos estructurados del pedido.\n      Acuerdate de registrar las dos primeras lineas de Observaciones siempre\n\n### REGLAS POR CAMPO:\n- \"cliente\": Devuelve 18.\n- \"contacto\": Usa el prompt de contacto.\n- \"numeroOf\": Números debajo de Ed/Enc (ej.: \"001/001\").\n- \"numeroOtCliente\": Número de Pedido.\n- \"fechaEntrega\": Fecha prevista fin (AAAA-MM-DD).\n- \"sinRetraso\": true si aparece la palabra literal \"URGENTE\", si no aparece ninguna refenrencia devuelve false.\n- \"tirada\": Valor del tiraje.\n- \"precioUnitarioSinIVA\": 0, // no devuelvas nada. Dejalo a 0.\n- \"precioToltalSinIVA\": 0, // Valor de precio, devuelve solo la cifra con dos decimales.\n- \"quiereVerFerros\": 1 = “ferro digital”, 2 = “ferro físico”, 3 si no se menciona.\n- \"certificacion\": Usa el prompt correspondiente.\n- \"titulo\": Descripción del artículo. Si aparece FSC Mix al lado o debajo, ignóralo.\n- \"isbn\": segunda línea debajo de Código Artículo,\n- \"codProyecto\": primera línea debajo de Código Artículo,\n- \"anchoPaginaCm\"/\"altoPaginaCm\": Convierte mm a cm (1 decimal. Si decimal es 0, devuelve entero).\n- \"unionPliegos\": 2 si contiene “FRESADO”, 1 si contiene “COSIDO”.\n- \"encuadernacion\": 1=Cartoné, 2=Flexible, 3=Rústica, 4=Espiral, 5=Grapa, 6=Wire-o, 7=Otro.\n- \"cabezada\": 1 si aparece \"Cabezada SI\" y encuadernación es 1 o 2, si no 0.\n- \"cabezadaColorOtro\": Si cabezada=1, busca el color y devuélvelo. Si hay observaciones relacionadas tambien devuelvelas.\n- \"guardasAparte\": 1 si encuadernación ∈ {1,2}, si no 0.\n- \"guardasImpresas\": 1 si aparece “guardas impresas” y encuadernación ∈ {1,2}, si no 0.\n- \"cintaRegistro\": 1 si aparece “Cinta de registro SI” o \"Cinta registro SI\" y encuadernación ∈ {1,2}, si aparece “Cinta de registro NO\" o \"Cinta registro NO\" devuelve 0. Si no encuentras color tambien devuelve 0.\n- \"cintaRegistroColorOtro\": Si cintaRegistro=1, busca el color y devuélvelo. Si hay observaciones relacionadas tambien devuelvelas.\n- Calibre: Objetivo:\n      Devuelve exclusivamente el ID correspondiente al calibreCarton según la tabla.  \n      Si no se encuentra una coincidencia inequívoca, devuelve 0.\n      ### MAPEO (calibre → ID):\n      - 1,5 → 1\n      - 2,0 → 2\n      - 2,5 → 3\n      - 3,0 → 4\n      - 2,0 + espuma 3 → 5\n      - 2,5 + espuma 3 → 6\n      - 3,0 + espuma 3 → 7\n      - 1,75 → 8\n      - 2,25 → 9\n      - 2,75 → 10\n      ### REGLAS DE DETECCIÓN:\n      1. **Scope**:\n        - Prioriza coincidencias cercanas a palabras clave como: “calibre”, “cartón”, “cartone”, “tapa”, “cubierta”, “caja rígida”.\n        - Si no se encuentran cerca de esas palabras, busca en todo el PDF.\n      2. **Normalización previa**:\n        - Ignora mayúsculas, minúsculas y acentos.\n        - Considera \".\" igual a \",\" (ej.: “2.5” se interpreta como “2,5”).\n        - Elimina espacios innecesarios.\n        - “foam”, “esp.” y “espuma” se consideran equivalentes.\n        - “mm” es opcional y puede omitirse.\n      3. **Orden de detección (prioridad)**:\n        a) Detecta primero patrones que indiquen combinaciones con espuma 3 (acepta formatos con \"+\", \"con\", \"y\", incluso en orden invertido).  \n        b) Si no hay espuma, busca solo el calibre exacto (usando el mapeo anterior).\n      4. **Desempate**:\n        - Si aparecen varios valores posibles:\n          - Prioriza el más específico (el que incluye espuma).\n          - Si tienen misma especificidad, elige el más cercano al contexto (palabras clave del Scope).\n          - Si persiste el empate → devuelve 0.\n      ### SALIDA:\n      Devuelve únicamente el número del ID (ej.: 3).  \n      Si no hay coincidencia inequívoca, devuelve 0.\n      ### EJEMPLOS:\n      - “2,5 mm” → 3  \n      - “3,0 + espuma 3” → 7  \n      - “2.0 + FOAM 3” → 5  \n      - “1,75” → 8  \n      - “2,0 y 2,5 sin claridad” → 0\n      solo si encuadernación ∈ {1,2}, si no 0.\n- \"tipoLomo\": 1 = “lomo cuadrado”, 2 = “lomo redondo” y encuadernación ∈ {1,2}, si no 0\n- \"solapa\": Devuelve siempre este campo. true si aparece literalmente \"CON SOLAPA\" o \"CON SOLAPAS\". false si aparece \"SIN SOLAPA\", \"SIN SOLAPAS\" o no aparece nada. Coincidencia insensible a mayúsculas/minúsculas ni acentos..\n- \"hendidoCortesia\": Devuelve siempre este campo. true si aparece literalmente \"CON HENDIDO\" o no aparece nada. false si aparece \"SIN HENDIDO\" o encuadernación = Cartoné, Flexible, Espiral. Coincidencia insensible a mayúsculas/minúsculas ni acentos. Si aparece \"HENDIDO\" y no aparece CON o SIN devuelve true.\n- Los campos como “espiral...” o “wireo...” solo se rellenan si aparecen explícitamente en el PDF, si no mantener en 0 o \"\".\n- \"observacionesEncuadernacion\": Solo si detectas \"Guardas impresas NO\" busca referencia al material de impresión, ejemplo \"Geltex\".\n\nRecuerda eliminar todas las propiedades con 0, \"\", null, [], {} del JSON de salida",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -528
      ],
      "id": "eaefc114-5eae-454f-a41d-1d1c26a49eb3",
      "name": "PromptConfig"
    },
    {
      "parameters": {
        "content": "Prompts",
        "height": 224,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -576
      ],
      "typeVersion": 1,
      "id": "f661f2d0-f6fb-4c5c-8960-efb2ced90b0b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Cabecera",
        "height": 224,
        "width": 528,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -576
      ],
      "id": "dcd4ed32-b886-481d-a26e-e6ba1c20bb1d",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "solo PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Subir PDF a OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Parse output_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Body (schema)": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse output_text": {
      "main": [
        []
      ]
    },
    "solo PDF": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir PDF a OpenAI": {
      "main": [
        [
          {
            "node": "PromptConfig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PromptConfig": {
      "main": [
        [
          {
            "node": "Build OpenAI Body (schema)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e23bcfb6-0f91-49f4-8afb-b915f001cf86",
  "activeVersionId": null,
  "versionCounter": 51,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-17T08:59:45.912Z",
      "createdAt": "2025-12-17T08:59:45.912Z",
      "role": "workflow:owner",
      "workflowId": "lfv0rTCaOfXHmPaT",
      "projectId": "5DRxsE1egf1baMP6",
      "project": {
        "updatedAt": "2025-12-16T07:05:26.416Z",
        "createdAt": "2025-12-16T07:00:37.382Z",
        "id": "5DRxsE1egf1baMP6",
        "name": "P GA <procesos@gomezaparicio.es>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-16T07:00:37.382Z",
            "createdAt": "2025-12-16T07:00:37.382Z",
            "userId": "9a4e2f29-7a97-4add-ba5c-b1a99dee84e7",
            "projectId": "5DRxsE1egf1baMP6",
            "user": {
              "updatedAt": "2026-01-03T06:48:17.640Z",
              "createdAt": "2025-12-16T07:00:36.626Z",
              "id": "9a4e2f29-7a97-4add-ba5c-b1a99dee84e7",
              "email": "procesos@gomezaparicio.es",
              "firstName": "P",
              "lastName": "GA",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "gR8RJ0nGarvRBlGa",
                "userActivatedAt": 1766491998544
              },
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2026-01-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}