workflows/N1mjRLtKcKtNX2HC__duplicidad.json
{
  "updatedAt": "2025-12-25T10:25:58.276Z",
  "createdAt": "2025-12-21T10:33:36.677Z",
  "id": "N1mjRLtKcKtNX2HC",
  "name": "Duplicidad",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Conexión con Google DRIVE\nRecoge el PDF de la carpeta ",
        "height": 288,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1792,
        -80
      ],
      "id": "445e5ddf-51df-448f-9fc5-e90c13da2ed8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "14DB1bhhOzzGnRrihukAgi1Xt0XbTfeNL",
          "mode": "list",
          "cachedResultName": "RandomJSON",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14DB1bhhOzzGnRrihukAgi1Xt0XbTfeNL"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1728,
        16
      ],
      "id": "91157d82-cc60-4079-bc0b-e21bee7408d5",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleApi": {
          "id": "ePv2Ty1cw3gq6g7N",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1456,
        16
      ],
      "id": "4995002e-9668-4ac6-bee9-cb59460f32c7",
      "name": "Download file1",
      "alwaysOutputData": false,
      "credentials": {
        "googleApi": {
          "id": "ePv2Ty1cw3gq6g7N",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://liberdigital.gomezaparicio.es/sw/automatizacion/pedidos/digital",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -624,
        16
      ],
      "id": "6cbd7d79-8b63-48c0-87f0-1cc1e0c47555",
      "name": "API Pedidos",
      "credentials": {
        "httpBasicAuth": {
          "id": "EGTFeBpcDKH8NdqZ",
          "name": "Apis Libernet"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nconst numeroOtCliente =\n  input.numeroOtCliente ??\n  input.numeroOTcliente ??\n  null;\n\nconst isbnRaw = (input.isbn ?? '').toString();\nconst isbn = isbnRaw.replace(/[^0-9Xx]/g, '').toUpperCase();\n\nreturn [{\n  ...input,\n  numeroOtCliente: numeroOtCliente?.toString().trim(),\n  isbn,\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        16
      ],
      "id": "a8198913-26a1-42bd-80a6-8366ad048f23",
      "name": "Normalizar pedido"
    },
    {
      "parameters": {
        "jsCode": "function normStr(v) {\n  return (v ?? '').toString().trim();\n}\nfunction normIsbn(v) {\n  return normStr(v).replace(/[^0-9Xx]/g, '').toUpperCase();\n}\n\nconst pedido = $items(\"Normalizar pedido\")[0]?.json;\nif (!pedido) throw new Error('No encuentro el item del nodo \"Normalizar pedido\". Revisa el nombre del nodo.');\n\nconst otPedido = normStr(pedido.numeroOtCliente); // puede ser \"\"\nconst isbnPedido = normIsbn(pedido.isbn);\n\n// ISBN es obligatorio para la validación\nif (!isbnPedido) {\n  return [{\n    allowCreate: false,\n    reason: \"DATOS_INCOMPLETOS\",\n    message: \"Falta ISBN en el pedido, no se puede validar duplicados.\",\n    pedido: { numeroOtCliente: otPedido || null, isbn: null, titulo: pedido.titulo },\n    match: null,\n  }];\n}\n\nconst registros = $input.all().map(i => i.json);\n\n// ===============\n// 1) OTcliente (solo si viene informado)\n// ===============\nif (otPedido) {\n  const matchOt = registros.find(r => normStr(r.numeroOTcliente) === otPedido);\n  if (matchOt) {\n    // Si existe OTcliente => AVISO y STOP. NO se mira ISBN.\n    return [{\n      allowCreate: false,\n      reason: \"OT_DUPLICADA\",\n      pedido: { numeroOtCliente: otPedido, isbn: isbnPedido, titulo: pedido.titulo },\n      match: {\n        numeroPedido: matchOt.numeroPedido,\n        numeroOTcliente: matchOt.numeroOTcliente,\n        titulo: matchOt.titulo,\n        faseInterior1: matchOt.faseInterior1,\n        fechaEntrega: matchOt.fechaEntrega,\n        isbn: matchOt.isbn,\n      },\n    }];\n  }\n}\n\n// ===============\n// 2) ISBN (siempre se comprueba)\n// ===============\nconst estadosFinalizados = new Set([\n  \"10.0. Facturado\",\n  \"99.0. Cancelado\",\n  \"9.0. Mercancía entregada\",\n]);\n\nconst activosPorIsbn = registros.filter(r => {\n  const risbn = normIsbn(r.isbn);\n  if (risbn !== isbnPedido) return false;\n\n  const fase = normStr(r.faseInterior1);\n  if (!fase) return false;\n\n  return !estadosFinalizados.has(fase);\n});\n\nif (activosPorIsbn.length > 0) {\n  const ej = activosPorIsbn[0];\n  return [{\n    allowCreate: false,\n    reason: \"ISBN_EN_PRODUCCION\",\n    pedido: { numeroOtCliente: otPedido || null, isbn: isbnPedido, titulo: pedido.titulo },\n    match: {\n      numeroPedido: ej.numeroPedido,\n      numeroOTcliente: ej.numeroOTcliente,\n      titulo: ej.titulo,\n      faseInterior1: ej.faseInterior1,\n      fechaEntrega: ej.fechaEntrega,\n      isbn: ej.isbn,\n    },\n    activosCount: activosPorIsbn.length,\n  }];\n}\n\n// OK\nreturn [{\n  allowCreate: true,\n  reason: \"OK\",\n  pedido: { numeroOtCliente: otPedido || null, isbn: isbnPedido, titulo: pedido.titulo },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        16
      ],
      "id": "bd0b6f8f-b247-4619-9dc9-13f1c8c1a28e",
      "name": "Validar duplicados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8dbabbf5-f37b-475a-b6df-aea5e1d70401",
              "leftValue": "={{$json.allowCreate}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        16
      ],
      "id": "033f4605-319e-476d-a732-de026c189e26",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## DUPLICIDAD\n**Comprueba si el PEDIDO existe o el ISBN",
        "height": 288,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1152,
        -80
      ],
      "id": "f7b73189-6e3d-4703-aa76-a2765591b2ab",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "// Lee el binario real aunque n8n lo guarde en filesystem\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nconst text = buffer\n  .toString('utf8')\n  .replace(/^\\uFEFF/, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  throw new Error(`El archivo no es JSON válido: ${e.message}. Inicio: ${text.slice(0, 200)}`);\n}\n\nreturn Array.isArray(parsed) ? parsed : [parsed];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        16
      ],
      "id": "d1934476-f1ce-48ec-950c-9cbb57548e4b",
      "name": "Parse JSON pedido",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.reason}}",
                    "rightValue": "OT_DUPLICADA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "98b4a8f0-04dd-4ecc-9b9e-8b88b9a95904"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "386d49ea-5349-42ea-9685-17312f4ca29a",
                    "leftValue": "={{$json.reason}}",
                    "rightValue": "ISBN_EN_PRODUCCION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fbc0c780-bcde-4640-9e57-00ca9d6c0282",
                    "leftValue": "={{$json.reason}}",
                    "rightValue": "DATOS_INCOMPLETOS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        128,
        128
      ],
      "id": "6ac50cf3-130a-4f5e-89ef-06854eb320f6",
      "name": "Switch"
    }
  ],
  "connections": {
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Pedidos": {
      "main": [
        [
          {
            "node": "Validar duplicados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar pedido": {
      "main": [
        [
          {
            "node": "API Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar duplicados": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Parse JSON pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON pedido": {
      "main": [
        [
          {
            "node": "Normalizar pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "60a5e390-2ce1-4652-a11b-2b491fa1668f",
  "activeVersionId": null,
  "versionCounter": 23,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-21T10:33:36.677Z",
      "createdAt": "2025-12-21T10:33:36.677Z",
      "role": "workflow:owner",
      "workflowId": "N1mjRLtKcKtNX2HC",
      "projectId": "5DRxsE1egf1baMP6",
      "project": {
        "updatedAt": "2025-12-16T07:05:26.416Z",
        "createdAt": "2025-12-16T07:00:37.382Z",
        "id": "5DRxsE1egf1baMP6",
        "name": "P GA <procesos@gomezaparicio.es>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-16T07:00:37.382Z",
            "createdAt": "2025-12-16T07:00:37.382Z",
            "userId": "9a4e2f29-7a97-4add-ba5c-b1a99dee84e7",
            "projectId": "5DRxsE1egf1baMP6",
            "user": {
              "updatedAt": "2026-01-10T09:25:11.629Z",
              "createdAt": "2025-12-16T07:00:36.626Z",
              "id": "9a4e2f29-7a97-4add-ba5c-b1a99dee84e7",
              "email": "procesos@gomezaparicio.es",
              "firstName": "P",
              "lastName": "GA",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "gR8RJ0nGarvRBlGa",
                "userActivatedAt": 1766491998544
              },
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2026-01-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}