workflows/R2WKD5gIegY9tpV8__backup-con-github.json
{
  "updatedAt": "2026-01-03T20:55:15.233Z",
  "createdAt": "2025-12-27T10:57:29.154Z",
  "id": "R2WKD5gIegY9tpV8",
  "name": "Backup con Github",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        368,
        -704
      ],
      "id": "8fd543b8-707e-41dc-9452-7bfb650b0109",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        624,
        -704
      ],
      "id": "20d76f95-f74c-4b59-a9f1-b2b2450c95a8",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "s5G9sfPMKURyuvag",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55545910-419f-4407-b26d-9bcf72aa07f5",
              "name": "repo.owner",
              "value": "procesosAut",
              "type": "string"
            },
            {
              "id": "d7957408-27a4-400e-862a-fd0f42e95fca",
              "name": "repo.name",
              "value": "n8nBACKUP",
              "type": "string"
            },
            {
              "id": "33b659ae-c1da-45cb-a6f3-6d609b47b73b",
              "name": "repo.path",
              "value": "=={{ \"workflows/\" + $json.id + \".json\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1408,
        -688
      ],
      "id": "cb5b66a1-2318-4d20-b22c-da9b800119f0",
      "name": "Info"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "=={{$json.repo.owner}}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "=={{$json.repo.name}}",
          "mode": "name"
        },
        "filePath": "=={{$json.repo.path}}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1184,
        -688
      ],
      "id": "d4d9b109-2c7f-4c73-a20c-73b0536d17fa",
      "name": "Get a file",
      "webhookId": "3099b7b9-8f33-497d-8c82-b0bad99c0993",
      "credentials": {
        "githubApi": {
          "id": "LEIE04CpazTBsgn7",
          "name": "GitHub anaya"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1168,
        -464
      ],
      "id": "49a88a10-ddc4-43bf-9933-21ff2f1c47cd",
      "name": "Get a workflow",
      "credentials": {
        "n8nApi": {
          "id": "s5G9sfPMKURyuvag",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const wf = $json;\n\n// Repo (los tuyos)\nconst owner = \"procesosAut\";\nconst repo = \"n8nBACKUP\";\nconst branch = \"main\"; // o master\n\n// Ruta estable por ID\nconst path = `workflows/${wf.id}.json`;\n\n// Contenido \"estable\" (siempre igual formato)\nconst contentText = JSON.stringify(wf, null, 2);\nconst contentBase64 = Buffer.from(contentText, \"utf8\").toString(\"base64\");\n\nreturn [{\n  json: {\n    ...wf,\n    repo: { owner, name: repo, path, branch },\n    local: { contentText, contentBase64 },\n    commitMsg: `backup(n8n): ${wf.id} ${wf.name || \"\"}`.trim(),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        -688
      ],
      "id": "eb7af7f1-e04b-43ee-b3f2-e1bf45c09893",
      "name": "Prep local"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4821040f-1090-4274-8869-56743bbe686d",
              "leftValue": "=={{$binary.data !== undefined}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -960,
        -688
      ],
      "id": "3302e6b1-f16e-4736-bff7-ecbd2dde3649",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "procesosAut",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nBACKUP",
          "mode": "name"
        },
        "filePath": "workflows/"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -288,
        -128
      ],
      "id": "1cf2242e-cd52-45f4-ab9b-11d4a17749f6",
      "name": "List files",
      "webhookId": "5e5e674d-a4e4-47d2-8ce3-e50cd36a56f8",
      "credentials": {
        "githubApi": {
          "id": "gBIpGSWvt2k6gco0",
          "name": "GitHub backup"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c117e2b1-bb20-4849-806d-f5d4a5185b01",
              "leftValue": "={{ $json.existsSha !== null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2272,
        384
      ],
      "id": "7974eec7-d591-43cc-abd1-58329d0f9ba0",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Si el nodo GitHub List falló con Continue On Fail, a veces tendrás un item con error.\n// Detectamos eso y devolvemos 0 items para borrar.\nif (items.length === 1 && (items[0].json?.status === 404 || items[0].json?.message === 'Not Found')) {\n  return [];\n}\n\nconst out = [];\n\nfor (const item of items) {\n  const f = item.json;\n  // Solo archivos\n  if (f.type !== 'file') continue;\n\n  // Opcional: NO borrar el .gitkeep\n  if (f.name === '.gitkeep') continue;\n\n  out.push({\n    json: {\n      path: f.path,\n      sha: f.sha,\n    }\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -128
      ],
      "id": "1c8f536d-48e0-4fa5-b6ba-ed648422aa77",
      "name": "Files to delete"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        176,
        -128
      ],
      "id": "071eae3b-da35-48ca-bbb0-2303e776d1a7",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "procesosAut",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nBACKUP",
          "mode": "name"
        },
        "filePath": "={{$json.path}}",
        "commitMessage": "Cleanup workflows folder"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        432,
        80
      ],
      "id": "ab501097-20f5-4f5d-ab81-e9923f136eaa",
      "name": "Delete a file",
      "webhookId": "6b395419-7c68-4bc6-b17a-66a4b2a017d2",
      "credentials": {
        "githubApi": {
          "id": "gBIpGSWvt2k6gco0",
          "name": "GitHub backup"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        -704
      ],
      "id": "fb4e7e20-839f-42c6-9930-c7519f26f583",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "jsCode": "function slugify(str = '') {\n  return str\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/(^-|-$)+/g, '')\n    .slice(0, 80);\n}\n\nconst wf = $json;\n\nconst id = String(wf.id ?? 'unknown');\nconst safeName = slugify(wf.name || 'workflow');\n\nreturn [{\n  json: {\n    id: wf.id,\n    name: wf.name,\n    filePath: `workflows/${id}__${safeName}.json`,\n    content: JSON.stringify(wf, null, 2),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        -464
      ],
      "id": "ce86bded-0ecd-4571-8d56-1f86f8eb246b",
      "name": "Build file"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "procesosAut",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nBACKUP",
          "mode": "name"
        },
        "filePath": "={{$json.filePath}}",
        "additionalParameters": {
          "reference": "main"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1632,
        -464
      ],
      "id": "a26872d2-cb6b-4f56-9bc2-aa6425ff59cb",
      "name": "GitHub → File → Get",
      "webhookId": "6b395419-7c68-4bc6-b17a-66a4b2a017d2",
      "retryOnFail": false,
      "credentials": {
        "githubApi": {
          "id": "gBIpGSWvt2k6gco0",
          "name": "GitHub backup"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4336855d-aa8a-47f4-8f48-c02e431d65ab",
              "leftValue": "={{ !$json.message && $json.type === 'file' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1840,
        -464
      ],
      "id": "e0225659-9742-4364-aa4e-57712fc81488",
      "name": "If2"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "procesosAut",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nBACKUP",
          "mode": "name"
        },
        "filePath": "={{$node[\"Build file\"].json.filePath}}",
        "fileContent": "={{$node[\"Build file\"].json.content}}",
        "commitMessage": "=Backup workflow {{$node[\"Build file\"].json.name}} ({{$node[\"Build file\"].json.id}})",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2112,
        -704
      ],
      "id": "df48dcbc-fe75-4e54-8860-3ffa1544a208",
      "name": "GitHub → File → Edit",
      "webhookId": "6b395419-7c68-4bc6-b17a-66a4b2a017d2",
      "retryOnFail": false,
      "credentials": {
        "githubApi": {
          "id": "gBIpGSWvt2k6gco0",
          "name": "GitHub backup"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "procesosAut",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nBACKUP",
          "mode": "name"
        },
        "filePath": "={{$node[\"Build file\"].json.filePath}}",
        "fileContent": "={{$node[\"Build file\"].json.content}}",
        "commitMessage": "=Backup workflow {{$node[\"Build file\"].json.name}} ({{$node[\"Build file\"].json.id}})",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2128,
        -336
      ],
      "id": "77e5d768-94e9-4c06-905d-43d2edbfa781",
      "name": "GitHub → File → Create",
      "webhookId": "6b395419-7c68-4bc6-b17a-66a4b2a017d2",
      "retryOnFail": false,
      "credentials": {
        "githubApi": {
          "id": "gBIpGSWvt2k6gco0",
          "name": "GitHub backup"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a workflow": {
      "main": [
        [
          {
            "node": "Build file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep local": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Files to delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Files to delete": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Get a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build file": {
      "main": [
        [
          {
            "node": "GitHub → File → Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub → File → Get": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "GitHub → File → Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub → File → Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub → File → Create": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub → File → Edit": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d4944076-d534-42a3-98f4-4ebd2d1b1cdc",
  "activeVersionId": null,
  "versionCounter": 25,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-27T10:57:29.154Z",
      "createdAt": "2025-12-27T10:57:29.154Z",
      "role": "workflow:owner",
      "workflowId": "R2WKD5gIegY9tpV8",
      "projectId": "5DRxsE1egf1baMP6",
      "project": {
        "updatedAt": "2025-12-16T07:05:26.416Z",
        "createdAt": "2025-12-16T07:00:37.382Z",
        "id": "5DRxsE1egf1baMP6",
        "name": "P GA <procesos@gomezaparicio.es>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-16T07:00:37.382Z",
            "createdAt": "2025-12-16T07:00:37.382Z",
            "userId": "9a4e2f29-7a97-4add-ba5c-b1a99dee84e7",
            "projectId": "5DRxsE1egf1baMP6",
            "user": {
              "updatedAt": "2026-01-03T06:48:17.640Z",
              "createdAt": "2025-12-16T07:00:36.626Z",
              "id": "9a4e2f29-7a97-4add-ba5c-b1a99dee84e7",
              "email": "procesos@gomezaparicio.es",
              "firstName": "P",
              "lastName": "GA",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "gR8RJ0nGarvRBlGa",
                "userActivatedAt": 1766491998544
              },
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2026-01-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}