workflows/VoMaNkOQM4qbQ5Jr__random-v2-1.json
{
  "updatedAt": "2025-12-24T09:41:35.209Z",
  "createdAt": "2025-12-17T11:44:56.137Z",
  "id": "VoMaNkOQM4qbQ5Jr",
  "name": "Random v2.1",
  "description": "",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1525afR3nUoeuGgmrjC8_SZgsJlPqvAO6",
          "mode": "list",
          "cachedResultName": "Random",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1525afR3nUoeuGgmrjC8_SZgsJlPqvAO6"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        -512
      ],
      "id": "b5a8ddfc-16f0-4975-a624-2ab42099dc9a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleApi": {
          "id": "UYxtbEdIRgABKCQN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -832,
        -528
      ],
      "id": "4b3100e3-92d9-486a-ae7f-22bca4f711a6",
      "name": "Download file",
      "alwaysOutputData": false,
      "credentials": {
        "googleApi": {
          "id": "UYxtbEdIRgABKCQN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.openaiBody}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        -912
      ],
      "id": "288f4cc3-b3d7-4225-be21-bd23ed196711",
      "name": "OpenAI",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "Fb5EZ7r56FOl5M3A",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "Recoge el PDF de la carpeta ",
        "height": 224,
        "width": 544,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1216,
        -576
      ],
      "id": "1d46d5b6-1656-4bc8-9b45-d2603f1a3b2f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fileId = $items(\"Subir PDF a OpenAI\")[0].json.id;  // ✅ file-...\nconst prompt = ($node[\"PromptConfig\"].json.promptCabecera || \"\").trim();\n\nif (!fileId?.startsWith(\"file-\")) {\n  throw new Error(`fileId inválido (esperaba file-...): ${fileId}`);\n}\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    cliente: { type: \"string\" },\n    contacto: { type: \"string\" },\n    suReferencia: { type: \"string\" },\n    numeroOf: { type: \"integer\" },\n    numeroOtCliente: { type: \"string\" },\n    isbnPack: { type: \"string\" },\n    fechaEntrega: { type: \"string\" },\n    sinRetraso: { type: \"boolean\" },\n    tirada: { type: \"integer\" },\n    quiereVerFerros: { type: \"integer\" },\n    certificacion: { type: \"integer\" },\n    observacionesPedido: { type: \"string\" },\n    titulo: { type: \"string\" },\n    sello: { type: \"string\" },\n    isbn: { type: \"string\" },\n    codProyecto: { type: \"string\" },\n    anchoPaginaCm: { type: \"number\" },\n    altoPaginaCm: { type: \"number\" },\n    unionPliegos: { type: \"integer\" },\n    encuadernacion: { type: \"integer\" },\n    solapa: { type: \"boolean\" },\n    hendidoCortesia: { type: \"boolean\" },\n    observacionesEncuadernacion: { type: \"string\" }\n  },\n  required: [] // nada requerido\n};\n\n\nreturn {\n  openaiBody: {\n    model: \"gpt-5.1\",\n    input: [{\n      role: \"user\",\n      content: [\n        { type: \"input_file\", file_id: fileId },\n        { type: \"input_text\", text: prompt }\n      ]\n    }],\n    text: {\n      format: {\n        type: \"json_schema\",\n        name: \"cabecera_pedido\",\n        strict: false,\n        schema\n      }\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -912
      ],
      "id": "b691e694-eb04-4068-ae6b-e6e63c6f41b9",
      "name": "Build OpenAI Body (schema)"
    },
    {
      "parameters": {
        "jsCode": "// Soporta \"Full Response\" ON/OFF:\nconst body = $json.body ?? $json;\n\nconst text =\n  body.output?.flatMap(o => o.content || [])\n    ?.find(c => c.type === \"output_text\")\n    ?.text;\n\nif (!text) throw new Error(\"No encuentro output_text en la respuesta de OpenAI\");\n\nlet data;\ntry {\n  data = JSON.parse(text);\n} catch (e) {\n  throw new Error(\"El output_text no es JSON parseable: \" + e.message + \"\\n\\n\" + text);\n}\n\n// Limpieza: borra 0, \"\", null, [], {} EXCEPTO estos campos:\nconst keepAlways = new Set([\n  \"cliente\", \"contacto\", \"sinRetraso\", \"unionPliegos\", \"encuadernacion\", \"solapa\", \"hendidoCortesia\"\n]);\n\nfunction isEmpty(v) {\n  if (v === null || v === undefined) return true;\n  if (typeof v === \"string\" && v.trim() === \"\") return true;\n  if (typeof v === \"number\" && v === 0) return true;\n  if (Array.isArray(v) && v.length === 0) return true;\n  if (typeof v === \"object\" && !Array.isArray(v) && Object.keys(v).length === 0) return true;\n  return false;\n}\n\nfor (const k of Object.keys(data)) {\n  if (keepAlways.has(k)) continue;\n  if (isEmpty(data[k])) delete data[k];\n}\n\nreturn [{ json: data }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -912
      ],
      "id": "159469c1-1e53-442e-8c1d-4a5ae832a896",
      "name": "Parse output_text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d0cde515-9ba1-4c2a-9753-3e96c5806967",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1008,
        -512
      ],
      "id": "9b8eb42e-3165-48f3-9ab9-018565b325e5",
      "name": "solo PDF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "user_data"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -608,
        -416
      ],
      "id": "9753885a-2828-408e-8b49-c65bb2ef24ed",
      "name": "Subir PDF a OpenAI",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "Fb5EZ7r56FOl5M3A",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0ce385a-7aee-445a-9af9-1acee2a8952e",
              "name": "promptCabecera",
              "value": "Actúas como un extractor de datos de documentos. Tu tarea es analizar el PDF adjunto y devolver EXCLUSIVAMENTE un JSON válido que cumpla ESTRICTAMENTE el esquema proporcionado.\n\n### REGLAS OBLIGATORIAS:\n1) Devuelve SOLO JSON. Sin texto adicional. Sin markdown. Sin explicaciones.\n2) El JSON debe ser válido (comillas dobles, sin trailing commas).\n3) Cumple el esquema al 100%:\n   - No inventes campos que no existan en el esquema.\n   - No devuelvas claves extra fuera del esquema.\n   - Respeta tipos (string/number/boolean/array/object) y enum si existen.\n4) Si un dato no aparece en el PDF:\n   - Usa null si el esquema lo permite.\n   - Si NO permite null, usa el valor vacío adecuado: \"\" para string, 0 para number, false para boolean, [] para arrays, {} para objetos (solo si el esquema lo permite).\n   - Si un campo indica \"siempre vacío\", debe devolverse como cadena vacía (\"\") aunque se detecte contenido.\n5) Normalización:\n   - Fechas en formato \"YYYY-MM-DD\" si el esquema no indica otro.\n   - Importes numéricos sin símbolo de moneda (ej: 174.00).\n   - Medidas: conserva unidades solo si el esquema lo pide; si no, usa número limpio.\n   - En la recogida de datos mantén tildes y caracteres originales.\n   - Si un texto contiene comillas internas, escápalas con una barra invertida: \\\"\n    EN LA BUSQUEDA DE DATOS:\n        - Coincidencia sin distinguir mayúsculas/minúsculas.\n        - Ignora acentos/diacríticos\n        - Colapsa espacios múltiples y recorta espacios sobrantes\n6) Consistencia:\n   - Si hay tablas/listas (servicios, componentes, direcciones), devuélvelas como arrays.\n   - No mezcles datos de secciones distintas.\n7) Verificación final antes de responder:\n   - Revisa que el JSON parsea.\n   - Revisa que cumple el esquema.\n   - Revisa que no hay texto fuera del JSON.\n\n### MODELO DE SALIDA:\n{\n \"cliente\": 0,\n  \"contacto\": 0,\n  \"suReferencia\": \"\", // siempre vacío\n  \"numeroOf\": 001/001,\n  \"numeroOtCliente\": \"\",\n  \"isbnPack\": \"\",\n  \"fechaEntrega\": \"\",\n  \"sinRetraso\": false,\n  \"tirada\": 0,\n  \"precioUnitarioSinIVA\": 0,\n  \"precioToltalSinIVA\": 0,\n  \"quiereVerFerros\": 0,\n  \"certificacion\": 0,\n  \"observacionesPedido\": \"\",\n  \"titulo\": \"\",\n  \"sello\": \"\",\n  \"isbn\": \"9783161484100\",\n  \"codProyecto\": \"\",\n  \"anchoPaginaCm\": 0.0,\n  \"altoPaginaCm\": 0.0,\n  \"unionPliegos\": 0,\n  \"encuadernacion\": 0,\n  \"cabezada\": 0,\n  \"cabezadaColor\": 0, // siempre vacío\n  \"cabezadaColorOtro\": \"\", \n  \"guardasAparte\": 0, \n  \"guardasImpresas\": 0, \n  \"cintaRegistro\": 0, \n  \"cintaRegistroColor\": 0, // siempre vacío\n  \"cintaRegistroColorOtro\": \"\", \n  \"calibreCarton\": 0, \n  \"tipoLomo\": 0, \n  \"solapa\": false, // siempre tiene que aparecer\n  \"hendidoCortesia\": false, // siempre tiene que aparecer\n  \"espiralMaterial\": 0, // siempre vacío\n  \"espiralColor\": 0, // siempre vacío\n  \"espiralColorOtro\": \"\", // siempre vacío\n  \"espiralLado\": 0, // siempre vacío\n  \"wireoMaterial\": 0, // siempre vacío\n  \"wireoColor\": 0, // siempre vacío\n  \"wireoColorOtro\": \"\", // siempre vacío\n  \"wireoLado\": 0, // siempre vacío\n  \"observacionesEncuadernacion\": \"\"\n}\n\n### REGLAS POR CAMPO:\n   - \"cliente\": Devuelve 18.\n   - \"contacto\": \n            Busca en el PDF solo en la parte inferior de la orden (el último cuarto de la página). Dentro de ese bloque, localiza el nombre y apellidos juntos.\n            Reglas:\n                Coincidencia sin distinguir mayúsculas/minúsculas.\n                Ignora acentos/diacríticos (Á= A, É= E, Í= I, Ó= O, Ú= U, Ü= U, Ñ= N).\n                Colapsa espacios múltiples y recorta espacios sobrantes.\n                Si varias líneas del mapa coinciden tras normalizar (por ejemplo, duplicados con y sin acento), devuelve el usuarioId menor.\n                Si no hay coincidencia, devuelve 0.\n                Salida: devuelve solo el número usuarioId (entero, sin comillas).\n                Mapa nombre → usuarioId:\n                Marta Álvarez = 3\n                Víctor Benayas = 4\n                Raúl Bernardo = 5\n                José Antonio Cabezas = 7\n                Sonia López = 18\n                Rocío Martínez = 21\n                Daniel Pamos = 26\n                Víctor Benayas = 38\n                Guillermo Manzano = 283\n                Cecilia Porzio = 335\n                Wilfred Santana = 415\n                Sarai Paz = 477\n                Juan Jose Hernandez = 485\n                Judit Franco = 498\n                CAROLINA JIMÉNEZ = 507\n                Devuelve únicamente el número.\n   - \"numeroOf\": Números debajo de Ed/Enc (ej.: \"001/001\").\n   - \"numeroOtCliente\": Número de Pedido.\n   - \"fechaEntrega\": Fecha prevista fin (AAAA-MM-DD).\n   - \"sinRetraso\": Devuelve true si aparece la palabra literal \"URGENTE\" o \"URGENTES\", si no aparece ninguna refenrencia devuelve false.\n   - \"tirada\": Valor del tiraje.\n   - \"precioUnitarioSinIVA\": 0, // no devuelvas nada. Dejalo a 0.\n   - \"precioToltalSinIVA\": 0, // Valor de precio, devuelve solo la cifra con dos decimales.\n   - \"quiereVerFerros\": Devuelve el nñumero 1 = si detectas “ferro digital”, 2 = si detectas “ferro físico” o 3 si no se menciona o detectas nada.\n   - \"certificacion\": \n            Identifica el bloque correcto “Descripción (del artículo)” siguiendo esta lógica:\n                1. LOCALIZACIÓN DEL BLOQUE:\n                    - Busca una línea exacta con el texto “Descripción”.\n                    - Dentro de las 10 líneas siguientes, debe aparecer al menos uno de estos rótulos de ficha: Autor, Ed/Enc, Colección, Tiraje, Formato, Nº Páginas, Solapa, Grosor, Código Barras.\n                    - Si “Descripción” forma parte de una tabla o cabecera (por ejemplo en “Servicios” o “Componentes”), descártalo: no es el bloque de ficha del artículo.\n                2. DEFINICIÓN DEL BLOQUE:\n                    - El bloque comienza en la línea inmediatamente posterior a “Descripción”.\n                    - Finaliza al encontrar alguno de estos rótulos: Autor, Ed/Enc, Colección, Tiraje, Formato, Nº Páginas, Solapa, Grosor, Código Barras, Servicios, Componentes, Observaciones.\n                3. ALCANCE DE BÚSQUEDA:\n                    - La búsqueda de certificación se limita **únicamente** a ese bloque validado.\n                4. DETECCIÓN DE CERTIFICACIÓN (valores literales y sensibles a mayúsculas/minúsculas):\n                    - Si aparece exactamente “FSC Mix” ⇒ devuelve 2.\n                    - Si **no** aparece “FSC Mix” pero sí aparece exactamente “PEFC” ⇒ devuelve 4.\n                    - En cualquier otro caso ⇒ devuelve 0.\n                    - Si ambos aparecen ⇒ da prioridad a “FSC Mix” (devuelve 2).\n                5. EXCLUSIONES EXPLÍCITAS:\n                    Ignora cualquier mención a “FSC”, “FSC®”, “FSC Mix”, “PEFC” si:\n                    - Está en cabeceras, pies de página o notas legales (ej.: “empresa certificada FSC®…”).\n                    - Está dentro de las tablas o secciones “Servicios” o “Componentes” (ej.: “MB PRIME BRIGHT… (FSC)”).\n                6. SALIDA:\n                    Devuelve **únicamente** el valor en “certificacion”: 2, 4 o 0. No devuelvas ningún texto adicional.\n   - \"observacionesPedido\":\n            - Objetivo: SIEMPRE devuelve las dos primeras líneas del bloque “Observaciones”. Si hay un renglón vacio entre ellas no lo cuentes, devuelve las dos primeras con texto.\n            - Analiza el resto y solo devuelve lo relacionado con Urgencias, Modelos, indicaciones de cuidado o advertencias, nada más.\n            - Palabra clave: “topo”: Solo cuenta “topo” como palabra independiente. Si hay una mención válida (no negada), añade solo “Colocar topo”.\n            - Estilo de salida:\n                - Elimina relleno (“gracias”, “saludos”) y frases irrelevantes.\n                - Mantén ortografía original salvo limpieza mínima de espacios.\n                - Reglas de calidad:\n                - Prioriza claridad y concisión. Une frases relacionadas en una sola línea si procede.\n                - No inventes datos; no infieras campos técnicos.\n                - No repitas información ya cubierta por los datos estructurados del pedido.\n            - Acuerdate de registrar las dos primeras lineas de Observaciones siempre\n   - \"titulo\": Descripción del artículo. Si aparece FSC Mix al lado o debajo, ignóralo.\n   - \"isbn\": segunda línea debajo de Código Artículo,\n   - \"codProyecto\": primera línea debajo de Código Artículo,\n   - \"anchoPaginaCm\"/\"altoPaginaCm\": Convierte mm a cm (1 decimal. Si decimal es 0, devuelve entero).\n   - \"unionPliegos\": Devuelve 2 si detectas “FRESADO” o 1 si detectas “COSIDO”.\n   - \"encuadernacion\": Devuelve el número 1=Cartoné, 2=Flexible, 3=Rústica, 4=Espiral, 5=Grapa, 6=Wire-o, 7=Otro.\n   - \"cabezada\": Devuelve 1 si aparece \"Cabezada SI\" y encuadernación es igual a 1=Cartoné o 2=Flexible, si no 0.\n   - \"cabezadaColorOtro\": Si cabezada=1, busca el color y devuélvelo. Si hay observaciones relacionadas tambien devuelvelas.\n   - \"guardasAparte\": Devuelve 1 si encuadernación ∈ {1,2}, si no 0.\n   - \"guardasImpresas\": Devuelve 1 si aparece “guardas impresas” o \"guardas impresas SI\" y encuadernación ∈ {1,2}, si no 0.\n   - \"cintaRegistro\": Devuelve 1 si aparece “Cinta de registro SI” o \"Cinta registro SI\" y encuadernación ∈ {1,2}, si aparece “Cinta de registro NO\" o \"Cinta registro NO\" devuelve 0. Si no encuentras color tambien devuelve 0.\n   - \"cintaRegistroColorOtro\": Si cintaRegistro=1, busca el color y devuélvelo. Si hay observaciones relacionadas tambien devuelvelas.\n   - Calibre:\n        MAPEO (calibre → ID):\n            - 1,5 → 1\n            - 2,0 → 2\n            - 2,5 → 3\n            - 3,0 → 4\n            - 2,0 + espuma 3 → 5\n            - 2,5 + espuma 3 → 6\n            - 3,0 + espuma 3 → 7\n            - 1,75 → 8\n            - 2,25 → 9\n            - 2,75 → 10\n        REGLAS DE DETECCIÓN:\n               1. **Scope**:\n                  - Prioriza coincidencias cercanas a palabras clave como: “calibre”, “cartón”, “cartone”, “tapa”, “cubierta”, “caja rígida”.\n                  - Si no se encuentran cerca de esas palabras, busca en todo el PDF.\n               2. **Normalización previa**:\n                  - Ignora mayúsculas, minúsculas y acentos.\n                  - Considera \".\" igual a \",\" (ej.: “2.5” se interpreta como “2,5”).\n                  - Elimina espacios innecesarios.\n                  - “foam”, “esp.” y “espuma” se consideran equivalentes.\n                  - “mm” es opcional y puede omitirse.\n               3. **Orden de detección (prioridad)**:\n                  a) Detecta primero patrones que indiquen combinaciones con espuma 3 (acepta formatos con \"+\", \"con\", \"y\", incluso en orden invertido).  \n                  b) Si no hay espuma, busca solo el calibre exacto (usando el mapeo anterior).\n               4. **Desempate**:\n                  - Si aparecen varios valores posibles:\n                  - Prioriza el más específico (el que incluye espuma).\n                  - Si tienen misma especificidad, elige el más cercano al contexto (palabras clave del Scope).\n                  - Si persiste el empate → devuelve 0.\n        SALIDA:\n            Devuelve únicamente el número del ID (ej.: 3).  \n            Si no hay coincidencia inequívoca, devuelve 0.\n        EJEMPLOS:\n            - “2,5 mm” → 3  \n            - “3,0 + espuma 3” → 7  \n            - “2.0 + FOAM 3” → 5  \n            - “1,75” → 8  \n            - “2,0 y 2,5 sin claridad” → 0\n        Solo si encuadernación ∈ {1,2}, si no 0.\n        Devuelve exclusivamente el ID correspondiente al calibreCarton según la tabla.  \n        Si no se encuentra una coincidencia inequívoca, devuelve 0.\n    - \"tipoLomo\": Devuelve 1 = “lomo cuadrado”, 2 = “lomo redondo” si encuadernación ∈ {1,2}, si no 0\n    - \"solapa\": Devuelve siempre este campo. true si aparece literalmente \"CON SOLAPA\" o \"CON SOLAPAS\". false si aparece \"SIN SOLAPA\", \"SIN SOLAPAS\" o no aparece nada. Coincidencia insensible a mayúsculas/minúsculas ni acentos..\n    - \"hendidoCortesia\": Devuelve siempre este campo. true si aparece literalmente \"CON HENDIDO\" o no aparece nada. false si aparece \"SIN HENDIDO\" o encuadernación = Cartoné, Flexible, Espiral. Coincidencia insensible a mayúsculas/minúsculas ni acentos. Si aparece \"HENDIDO\" y no aparece CON o SIN devuelve true. Los campos como “espiral...” o “wireo...” solo se rellenan si aparecen explícitamente en el PDF, si no mantener en 0 o \"\".\n    - \"observacionesEncuadernacion\": Solo si detectas \"Guardas impresas NO\" busca referencia al material de impresión, ejemplo \"Geltex\".\n\n",
              "type": "string"
            },
            {
              "id": "c96c9a1c-073d-4f7e-b50a-3cd080f922a9",
              "name": "promptInteriores",
              "value": "Actúas como un extractor de datos de documentos. Tu tarea es analizar el PDF adjunto y devolver EXCLUSIVAMENTE un JSON válido que cumpla ESTRICTAMENTE el esquema proporcionado.\n\n### REGLAS OBLIGATORIAS:\n1) Devuelve SOLO JSON. Sin texto adicional. Sin markdown. Sin explicaciones.\n2) El JSON debe ser válido (comillas dobles, sin trailing commas).\n3) Cumple el esquema al 100%:\n   - No inventes campos que no existan en el esquema.\n   - No devuelvas claves extra fuera del esquema.\n   - Respeta tipos (string/number/boolean/array/object) y enum si existen.\n4) Si un dato no aparece en el PDF:\n   - Usa null si el esquema lo permite.\n   - Si NO permite null, usa el valor vacío adecuado: \"\" para string, 0 para number, false para boolean, [] para arrays, {} para objetos (solo si el esquema lo permite).\n   - Si un campo indica \"siempre vacío\", debe devolverse como cadena vacía (\"\") aunque se detecte contenido.\n5) Normalización:\n   - Fechas en formato \"YYYY-MM-DD\" si el esquema no indica otro.\n   - Importes numéricos sin símbolo de moneda (ej: 174.00).\n   - Medidas: conserva unidades solo si el esquema lo pide; si no, usa número limpio.\n   - En la recogida de datos mantén tildes y caracteres originales.\n   - Si un texto contiene comillas internas, escápalas con una barra invertida: \\\"\n    EN LA BUSQUEDA DE DATOS:\n        - Coincidencia sin distinguir mayúsculas/minúsculas.\n        - Ignora acentos/diacríticos\n        - Colapsa espacios múltiples y recorta espacios sobrantes\n6) Consistencia:\n   - Si hay tablas/listas (servicios, componentes, direcciones), devuélvelas como arrays.\n   - No mezcles datos de secciones distintas.\n7) Verificación final antes de responder:\n   - Revisa que el JSON parsea.\n   - Revisa que cumple el esquema.\n   - Revisa que no hay texto fuera del JSON\n\n### MODELO DE SALIDA:\n{\n  \"interiores\": [\n    {\n      \"papel_id\": 0,\n      \"propietarioPapel\": 0,\n      \"tipoImpresion\": 0,\n      \"calidad\": 0,\n      \"paginas\": 0,\n      \"plegadoOCortado\": 0,\n      \"maquina\": 0,\n      \"observaciones\": \"\",\n      \"papelPedido\": {\n        \"refPedido\": \"\",\n        \"gramaje\": 0,\n        \"anchoBobinaCm\": 0,\n        \"upsCalc\": 0,\n        \"ups\": 0,\n        \"metros\": 0,\n        \"kg\": 0\n      }\n    }\n  ]\n}\n\n### CAMPOS DE INTERIORES:\nBasate en este prompt modo\": \"interior\"\nSi detectas cualquier evidencia de cubierta, no devuelvas coincidencia; sigue buscando SOLO interiores.\n    1. NORMALIZACIÓN (BÁSICA)\n        3.1. Ignora mayúsculas/minúsculas y acentos.\n        3.2. Colapsa espacios/saltos múltiples a un solo espacio.\n        3.3. Elimina guiones de final de línea por OCR (ej.: ORI- A → ORIA).\n        3.4. Al comparar CÓDIGOS, ignora espacios y guiones internos (p. ej., MBBSTF SC-54 ≈ MBBSTFSC54).\n    2. MAPEO (CÓDIGO → ID)\n        4.1. MBBSTF → \"papel_id\":  634\n          Descripción equivalente: HOLMEN BOOK\n        4.2. YLTE-35 → \"papel_id\":  241\n          Descripción equivalente: HYLTE POCKET\n        4.3. AB0015- → \"papel_id\":  =570\n          Descripción equivalente: ORIA PRINTIVORY\n        4.4. ABALFO- → \"papel_id\":  =573\n          Descripción equivalente: ORIABULKIVORY\n        4.5. MBTRDH- → \"papel_id\":  =694\n          Descripción equivalente: HOLMEN BOOK CREAM\n    En la salida, papel_id debe ser igual a id y propietarioPapel = 2.\n    3. ORDEN DE BÚSQUEDA (PARA EN LA 1ª COINCIDENCIA)\n        5.1. Componentes → “Código”\n         a) Busca cualquiera de los 4 códigos del punto 4 (con la normalización del punto 3).\n         b) Si encuentras uno, devuelve el JSON con:\n          — id y papel_id según el mapeo.\n         c) Termina.\n        5.2. Componentes → “Descripción” (solo si 5.1 falló)\n         a) Busca una descripción equivalente del punto 4 (tolerante a espacios y pequeñas variaciones; no hace falta regex avanzada).\n         b) Si encuentras una, devuelve el JSON con:\n          — id y papel_id del mapeo correspondiente.\n          — codigo = el código equivalente (del punto 4).\n          — whereFound = \"Componentes.Descripción\".\n          — match = el fragmento exacto de la descripción.\n        c) Termina. \n    SI:\n    - \"papel_id\":  634 devuleve \"calidad\": \"Ahuesado volumen 2\", \"gramaje\": 55, \"refPedido\": \"Holmen Cream Mano 2 (RANDOM)\" y \"anchoBobinaCm\": 54\n    - \"papel_id\":  241 devuleve \"calidad\": \"Ahuesado volumen 1.8\", \"gramaje\": 70, \"refPedido\": \"Hylte Pocket Creamy 1.8 (RANDOM)\" y \"anchoBobinaCm\": 35\n    - \"papel_id\":  570 devuleve \"calidad\": \"Ahuesado\", \"gramaje\": 80, \"refPedido\": \"Ahuesado Oria (RANDOM)\" y \"anchoBobinaCm\": 38\n    - \"papel_id\":  573 devuleve \"calidad\": \"Ahuesado volumen 1.5\", \"gramaje\": 80, \"refPedido\": \"Oria Bulk Ivory Vol 1,5 (RANDOM)\" y \"anchoBobinaCm\": 35\n    - \"papel_id\":  694 devuleve \"calidad\": \"Ahuesado volumen 1.8\", \"gramaje\": 70, \"refPedido\": \"Holmen Book Cream 1.8 (RANDOM)\" y \"anchoBobinaCm\": 35\n\n    4. PROHIBICIONES\n        4.1. No uses “Observaciones” ni otras secciones para decidir la cubierta.\n        4.2. No devuelvas nada fuera del JSON indicado.\n        4.3. No inventes códigos/IDs que no estén en el mapeo del punto 4.\n            UNICAMENTE si no encuantras código o referencia, completa el json con los datos del papel que encuentres en observaciones basandote en la siguiente tabla.\n            devuleve literalmente \"Ahuesado\" si aparece solo la referencia ahuesado\n            devuleve literalmente \"Ahuesado volumen 1.5\" si aparece solo la referencia ahuesado mano 1.5 o ahuesado 1.5\n            devuleve literalmente \"Ahuesado volumen 1.6\" si aparece solo la referencia ahuesado mano 1.6 o ahuesado 1.6\n            devuleve literalmente \"Ahuesado volumen 1.8\" si aparece solo la referencia ahuesado mano 1.6 o ahuesado 1.8\n            devuleve literalmente \"Ahuesado volumen 2\" si aparece solo la referencia ahuesado mano 2.0 o ahuesado 2.0 o ahuesado 2\n            devuleve literalmente \"Estucado semimate\" si aparece solo la referencia Estudado o Estucado semimate\n            devuleve literalmente \"Offset blanco\" si aparece solo la referencia Offset blanco\n            devuleve literalmente \"Offset Blanco Volumen\" si aparece solo la referencia Offset Blanco Volumen\n            En estos casos deja \"papel_id\": 0 y propietarioPapel = 1.\n        4.4. Filtro anti-cubierta (obligatorio)\n            Antes de aceptar una coincidencia, verifica que el texto NO contiene ninguna señal de cubierta:\n            Códigos: C1SBSFG, FBEXFSC.\n            Términos: SBS, CARTULINA, SUPREMO, BRIGHT NEW, 2/C, 4/0, 4/1, 4/4, PLASTIFICAD(O|A).\n            Si aparece cualquiera de las anteriores ⇒ descarta la coincidencia para interiores.\n        4.5. Ámbito de búsqueda preferente (interiores)\n            Prioriza zonas con “TRIPA”, “INTERIOR”, “Componentes” de interiores, o entorno del bloque donde se listan páginas y impresión (suele estar cerca del interior).\n            Evita filas de Componentes con gramajes ≥ 200 g salvo que el texto contenga palabras típicas de interiores (p. ej., “offset book”, “ahuesado”, “bulk”, “ivory”). (Heurística: cubierta suele ir ≥200 g, interior mucho más bajo.)\n        4.6. Exclusión de cubierta\n            Si en el documento aparece FBEXFSC o C1SBSFG, ignora ese bloque por completo al extraer interiores (son referencias de cubierta).\n    5. Tipo de impresión (interiores)\n        Si ves 1/1 o la palabra NEGRO (o “Inkjet Premium” en impresión interior), devuelve tipoImpresion = 2; si no, 1.\n    6. \"ups\": // Usa este prompt Quiero que calcules el campo \"ups\" dentro de cada objeto \"papelPedido\" del JSON que te envío.\n            REGLAS IMPORTANTES (SÍGUELAS SIEMPRE):\n                1. Fórmula base del cálculo:\n                ups = parte_entera( anchoBobinaCm / (anchoPaginaCm + 1) )\n                - Primero suma 1 a anchoPaginaCm.\n                - Después divide anchoBobinaCm entre ese resultado.\n                - Después quédate SOLO con la parte entera (sin decimales, sin redondear).\n                2. Reglas según \"unionPliegos\":\n                - Si unionPliegos = 2 (FRESADO), deja ups tal y como salga de la fórmula.\n                - Si unionPliegos = 1 (COSIDO), ups solo puede ser 0, 2 o 4:\n                    * Si el valor calculado por la fórmula es mayor o igual que 4 → ups = 4.\n                    * Si es mayor o igual que 2 y menor que 4 → ups = 2.\n                    * Si es menor que 2 → ups = 0.\n                3. Muy importante:\n                - Haz los cálculos numéricos con precisión.\n                - NO inventes números.\n                - NO redondees; solo toma la parte entera.\n                - No cambies ningún otro valor del JSON, solo añade o modifica el campo \"ups\" donde corresponda.\n                4. Ejemplo de comprobación (úsalo como referencia interna):\n                - Si anchoBobinaCm = 54, anchoPaginaCm = 12.5 y unionPliegos = 2:\n                    * anchoPaginaCm + 1 = 13.5\n                    * 54 / 13.5 = 4\n                    * ups = 4\n            Devuélveme el MISMO JSON de entrada, solo añadiendo o actualizando el campo \"ups\" correcto en cada \"papelPedido\". Para indicar el número de ups, tiene que ser mayor que 1. Siempre tiene que salir valor.\n    7.  Solo usar “Observaciones” si no hay código\n        Mantén tu regla: si no hay código/descr. del mapeo (punto 4), entonces sí toma la descripción y gramaje de Observaciones, pero con papel_id = 0 y propietarioPapel = 1.\n            \"interiores\": [\n                {\n                \"papel_id\": 0, // solo estas referencias 634, 241, 570, 573 o 694, si no 0\n                \"propietarioPapel\": 0,     \n                \"tipoImpresion\": 0, // si aparece 1/1 o la palabra NEGRO devuelve 2, si no devuelve 1\n                \"calidad\": \"\" // devuelve descripción del papel si no hay id de papel,\n                \"paginas\": 0, // Basate en este prompt TAREA: Devuelve el siguiente campo:\n                \"paginas\": <número entero>\n                            REGLAS (aplica en este orden, sin distinguir mayúsculas/minúsculas ni acentos):\n                            1) DETECCIÓN DEL TOTAL DE PÁGINAS:\n                            - Busca una línea que indique el total de páginas del interior.\n                            - Prioriza rótulos como: “Nº Páginas”, “No Páginas”, “Número de páginas” o similares.\n                            - Si hay múltiples coincidencias, usa la más clara o la que esté en tablas o encabezados.\n                            - Extrae solo los dígitos. Ejemplo: si dice “0128” → devuelve 128.\n                            2) DETECCIÓN DE ENCUADERNACIÓN:\n                            - Busca una línea que indique el tipo de encuadernación.\n                            - Considera \"Cartoné\" como igual a \"Cartone\" (ignorar acentos y mayúsculas).\n                            3) DETECCIÓN DE GUARDAS INCLUIDAS:\n                            - Sólo cuenta como afirmativo si aparece exactamente una de las siguientes frases:\n                            • “Guardas incluidas: SI”\n                            • “Incluye guardas: SI”\n                            • “Con guardas: SI”\n                            - Si aparece “NO” o “Sin guardas”, cuenta como NO.\n                            - Si no aparece nada, asume NO.\n                            4) DETECCIÓN DE GUARDAS NO INCLUIDAS:\n                            - Sólo se considera afirmativo si aparece:\n                            • “Guardas incluidas: NO”\n                            • “Guardas aparte: SI”\n                            5) CÁLCULO DEL VALOR DE “paginas”:\n                            - Si (Encuadernación = Cartoné) Y (Guardas incluidas = SI) ⇒ paginas = total - 8\n                            - En cualquier otro caso ⇒ paginas = total\n                            6) SALIDA:\n                            Devuelve sólo el siguiente objeto:\n                            { \"paginas\": <número> }\n                            EJEMPLOS:\n                            - Encuadernación: Cartoné; Guardas incluidas: SI; Nº Páginas: 272 → { \"paginas\": 264 }\n                            - Encuadernación: Cartoné; Guardas incluidas: NO; Nº Páginas: 272 → { \"paginas\": 272 }\n                            - Encuadernación: Cartoné; Guardas aparte: SI; Nº Páginas: 272 → { \"paginas\": 272 }\n                            - Encuadernación: Rústica; (sin mención de guardas); Nº Páginas: 128 → { \"paginas\": 128 }\n                            - Encuadernación: Cartoné; (sin mención de guardas); Nº Páginas: 160 → { \"paginas\": 160 }\n                            para obtener número de páginas,\n                \"plegadoOCortado\": 0, // siempre vacío\n                \"maquina\": 0, // siempre vacío\n                \"observaciones\": \"\", // siempre vacío\n                \"papelPedido\": {\n                \"refPedido\": \"\", // siempre vacío\n                \"gramaje\": 0, // devuelve gramaje del papel,\n                \"anchoBobinaCm\": 0, // siempre tiene que aparecer,\n                \"ups\": 0,\n                \"metros\": 0.0, // siempre vacío\n                \"kg\": 0.0 // devuelve el dato que aparece en Cantidad (Ud) del pedido que corresponde a los kilos de papel, aparece con KG, ejemplo 308KG. Si no lo encuentras devuelve 0.0.\n            },\n    }\n  ]\n\n\n\n### ESTO LO CALCULAMOS EN N8N:\n\n                  \"ups\": 0, // Quiero que calcules el campo \"ups\" dentro de cada objeto \"papelPedido\" del JSON que te envío.\n                            REGLAS IMPORTANTES (SÍGUELAS SIEMPRE):\n                                1. Fórmula base del cálculo:\n                                    ups = parte_entera( anchoBobinaCm / (anchoPaginaCm + 1) )\n                                    - Primero suma 1 a anchoPaginaCm.\n                                    - Después divide anchoBobinaCm entre ese resultado.\n                                    - Después quédate SOLO con la parte entera (sin decimales, sin redondear).\n                                2. Reglas según \"unionPliegos\":\n                                    - Si unionPliegos = 2 (FRESADO), deja ups tal y como salga de la fórmula.\n                                    - Si unionPliegos = 1 (COSIDO), ups solo puede ser 0, 2 o 4:\n                                        * Si el valor calculado por la fórmula es mayor o igual que 4 → ups = 4.\n                                        * Si es mayor o igual que 2 y menor que 4 → ups = 2.\n                                        * Si es menor que 2 → ups = 0.\n                                3. Muy importante:\n                                    - Haz los cálculos numéricos con precisión.\n                                    - NO inventes números.\n                                    - NO redondees; solo toma la parte entera.\n                                    - No cambies ningún otro valor del JSON, solo añade o modifica el campo \"ups\" donde corresponda.\n                                4. Ejemplo de comprobación (úsalo como referencia interna):\n                                    - Si anchoBobinaCm = 54, anchoPaginaCm = 12.5 y unionPliegos = 2:\n                                        * anchoPaginaCm + 1 = 13.5\n                                        * 54 / 13.5 = 4\n                                        * ups = 4\n                            Devuélveme el MISMO JSON de entrada, solo añadiendo o actualizando el campo \"ups\" correcto en cada \"papelPedido\".\n                            para poder sacar las ups,\n",
              "type": "string"
            },
            {
              "id": "61b81b8a-7210-47b0-8839-f6cf5cb901c4",
              "name": "promptCubierta",
              "value": "Actúas como un extractor de datos de documentos. Tu tarea es analizar el PDF adjunto y devolver EXCLUSIVAMENTE un JSON válido que cumpla ESTRICTAMENTE el esquema proporcionado.\n\n### MODELO DE SALIDA:\n{\n  \"cubierta\": {\n    \"materialCubierta\": 0,         \n    \"propietarioPapel\": 0,         \n    \"plastificado\": 0,             \n    \"uvi\": 0,                  \n    \"impresion\": \"1/1\",           \n    \"codDescarga\": 0,           \n    \"tecnologia\": 0,              \n    \"observaciones\": \"\" \n  }\n}\n\n### REGLAS OBLIGATORIAS:\n1) Devuelve SOLO JSON. Sin texto adicional. Sin markdown. Sin explicaciones.\n2) El JSON debe ser válido (comillas dobles, sin trailing commas).\n3) Cumple el esquema al 100%:\n   - No inventes campos que no existan en el esquema.\n   - No devuelvas claves extra fuera del esquema.\n   - Respeta tipos (string/number/boolean/array/object) y enum si existen.\n4) Si un dato no aparece en el PDF:\n   - Usa null si el esquema lo permite.\n   - Si NO permite null, usa el valor vacío adecuado: \"\" para string, 0 para number, false para boolean, [] para arrays, {} para objetos (solo si el esquema lo permite).\n   - Si un campo indica \"siempre vacío\", debe devolverse como cadena vacía (\"\") aunque se detecte contenido.\n5) Normalización:\n   - Fechas en formato \"YYYY-MM-DD\" si el esquema no indica otro.\n   - Importes numéricos sin símbolo de moneda (ej: 174.00).\n   - Medidas: conserva unidades solo si el esquema lo pide; si no, usa número limpio.\n   - En la recogida de datos mantén tildes y caracteres originales.\n   - Si un texto contiene comillas internas, escápalas con una barra invertida: \\\"\n    EN LA BUSQUEDA DE DATOS:\n        - Coincidencia sin distinguir mayúsculas/minúsculas.\n        - Ignora acentos/diacríticos\n        - Colapsa espacios múltiples y recorta espacios sobrantes\n6) Consistencia:\n   - Si hay tablas/listas (servicios, componentes, direcciones), devuélvelas como arrays.\n   - No mezcles datos de secciones distintas.\n7) Verificación final antes de responder:\n   - Revisa que el JSON parsea.\n   - Revisa que cumple el esquema.\n   - Revisa que no hay texto fuera del JSON\n\n\n### DATOS DE CUBIERTA:\n    Extrae los valores de:\n    - \"propietarioPapel\"\n    - \"plastificado\"\n    - \"uvi\"\n    - \"impresion\"\n    - \"codDescarga\"\n    - \"observaciones\"\n            Usa como referencia el contenido definido en:\n            modo\": \"cubierta\"\n            Si detectas cualquier evidencia de interior, no devuelvas coincidencia; sigue buscando SOLO cubierta.\n\n            NORMALIZACIÓN PREVIA (muy importante para OCR):\n            - Trabaja sin distinguir mayúsculas/minúsculas ni acentos.\n            - Unifica espacios múltiples y saltos de línea en un solo espacio.\n            - Elimina guiones de final de línea por corte (ej.: \"SU- premo\" -> \"Supremo\").\n            - Normaliza símbolos: \"1 / C\" == \"1/C\"; \"GR\" == \"G/GR\".\n            - Cuando compares, usa expresiones tolerantes a espacios, barras y saltos: p.ej. `Supremo\\\\s*SBS\\\\s*1\\\\s*/\\\\s*C\\\\s*250\\\\s*GR` - `MB\\\\s*PRIME\\\\s*BRIGHT\\\\s*NEW\\\\s*235\\\\s*GR` - `CARTULINA\\\\s*DIVA\\s*ART\\\\s*250\\\\s*GR.\n\n            ÁMBITO A IGNORAR:\n            - NO uses texto dentro de la sección \"Observaciones\" para decidir el papel de cubierta.\n            - NO busques frases genéricas del tipo “Material cubierta Cartulina 240 g…”.\n\n            ZONA INICIAL DE ESCANEO RÁPIDO:\n            - Empieza en la página 1, en la mitad de la página (donde suelen aparecer Componentes).\n\n            ORDEN DE BÚSQUEDA (detente en la primera coincidencia):\n\n            1) TABLA \"Componentes\" → columna \"Código\"\n              - Busca C1SBSFG o FBEXFSC (insensible a mayúsculas/acentos y tolerante a espacios/ saltos).\n              - Si encuentras:\n                  • C1SBSFG  ⇒ id=17, materialCubierta=17, propietarioPapel=2\n                  • FBEXFSC  ⇒ id=10, materialCubierta=10, propietarioPapel=2\n                  • C1SBSFG DIVA  ⇒ id=13, materialCubierta=13, propietarioPapel=2\n                Devuelve el JSON y termina.\n\n            2) TABLA \"Componentes\" → columna \"Descripción\" (BÚSQUEDA COMPLEMENTARIA/RESPALDO)\n              - Si NO encontraste códigos en 1), busca las referencias de respaldo:\n                  • \"Supremo SBS 1/C 250GR\"     (también puede verse como \"Supremo SBS 1 / C 250 GR\")\n                    ⇒ corresponde a C1SBSFG ⇒ id=17, materialCubierta=17, propietarioPapel=2\n                  • \"MB PRIME BRIGHT NEW 235 GR\" (también \"MB PRIME BRIGHT NEW 235GR\")\n                    ⇒ corresponde a FBEXFSC ⇒ id=10, materialCubierta=10, propietarioPapel=2\n                  • \"CARTULINA DIVA ART 250 1/C FSC\" (también \"CARTULINA DIVA ART 250 1/C FSC\")\n                    ⇒ corresponde a C1SBSFG-DIVA ⇒ id=13, materialCubierta=13, propietarioPapel=2\n                En cuanto una coincida, devuelve el JSON y termina.\n\n            3) CONFIRMACIÓN Y BÚSQUEDA GLOBAL (solo si 1) y 2) fallan)\n              - Confirma internamente: “no encontrados en Componentes”.\n              - Recorre el documento completo (excluye \"Observaciones\") por si aparecieran los mismos códigos o referencias.\n              - Si encuentras alguna, devuelve el JSON y termina.\n\n            4) SI AÚN ASÍ NO HAY NADA\n              - Entonces aplica las equivalencias genéricas del v2 en TODO el documento (excluye \"Observaciones\"):\n                  • \"ESTUCADO 150 G/GR\"        ⇒ materialCubierta=2  ⇒ propietarioPapel=1\n                  • \"ESTUCADO 170 G/GR\"        ⇒ materialCubierta=15 ⇒ propietarioPapel=1\n                  • \"ESTUCADO 300 G/GR\"        ⇒ materialCubierta=3  ⇒ propietarioPapel=1\n                  • \"SIN CUBIERTA\"             ⇒ materialCubierta=4  ⇒ propietarioPapel=0\n                  • \"CARTULINA 240 G/GR\"       ⇒ materialCubierta=1  ⇒ propietarioPapel=1\n\n            REGLAS DE PARADA:\n            - En cuanto encuentres la primera coincidencia válida en los pasos 1), 2) o 3) o 4), detén TODA búsqueda y devuelve SOLO el JSON.\n\n            EJEMPLOS DE MAPEOS ESPERADOS (basado en PDFs reales)\n              Si ves en Componentes el código FBEXFSC y en descripción “MB PRIME BRIGHT NEW 235 GR (FSC)” ⇒ id=10.\n              Si ves en Componentes el código C1SBSFG y en descripción “SUPREMO SBS 1/C 250GR (FSC)” ⇒ id=17.\n\n      OTROS CAMPOS:\n          - PLASTIFICADO (más específico → genérico; insensible a mayúsculas/acentos):\n                \"MATE SEDOSO\"→3\n                \"MATE ANTIRRAYA\"→4\n                \"BRILLO DIGITAL\"→7\n                \"MATE DIGITAL\"→8,\n                \"GOFRADO\"→5\n                \"NATUREFLEX\"→9\n                \"SANDY\"→10\n                \"BRILLO\"→1\n                \"MATE\"→2, otro→6\n\n    - \"uvi\": Devuelve 1 si aparece referencia UVI o 0 si no aparece.\n    - \"Impresion\": usa literalmente \"4/0\", \"4/1\", \"4/4\", \"1/0\", \"5/0\", si no lo encuentras devuelve 4/0. Si detectas la referencia \"Reverso\" indica 4/4.\n    - \"codDescarga\": Devuelve 1 si aparece \"CODIGO DE DESCARGA\" o \"CÓDIGO DE DESCARGA\" o 0 si no aparece.\n    - \"tecnologia\": \n    - \"Observaciones\": indica \"Recibimos modelo de impresión\" solo si el documento contiene alguna referencia explícita a “enviamos modelo”, \"enviamos prueba\", \"muestra de impresión\" (Coincidencia insensible a mayúsculas/minúsculas ni acentos).",
              "type": "string"
            },
            {
              "id": "5dab2b9d-9686-473a-85b9-8bfe63dfe1d0",
              "name": "promptExtras",
              "value": "Actúas como un extractor de datos de documentos. Tu tarea es analizar el PDF adjunto y devolver EXCLUSIVAMENTE un JSON válido que cumpla ESTRICTAMENTE el esquema proporcionado.\n\n### REGLAS OBLIGATORIAS:\n1) Devuelve SOLO JSON. Sin texto adicional. Sin markdown. Sin explicaciones.\n2) El JSON debe ser válido (comillas dobles, sin trailing commas).\n3) Cumple el esquema al 100%:\n   - No inventes campos que no existan en el esquema.\n   - No devuelvas claves extra fuera del esquema.\n   - Respeta tipos (string/number/boolean/array/object) y enum si existen.\n4) Si un dato no aparece en el PDF:\n   - Usa null si el esquema lo permite.\n   - Si NO permite null, usa el valor vacío adecuado: \"\" para string, 0 para number, false para boolean, [] para arrays, {} para objetos (solo si el esquema lo permite).\n   - Si un campo indica \"siempre vacío\", debe devolverse como cadena vacía (\"\") aunque se detecte contenido.\n5) Normalización:\n   - Fechas en formato \"YYYY-MM-DD\" si el esquema no indica otro.\n   - Importes numéricos sin símbolo de moneda (ej: 174.00).\n   - Medidas: conserva unidades solo si el esquema lo pide; si no, usa número limpio.\n   - En la recogida de datos mantén tildes y caracteres originales.\n   - Si un texto contiene comillas internas, escápalas con una barra invertida: \\\"\n    EN LA BUSQUEDA DE DATOS:\n        - Coincidencia sin distinguir mayúsculas/minúsculas.\n        - Ignora acentos/diacríticos\n        - Colapsa espacios múltiples y recorta espacios sobrantes\n6) Consistencia:\n   - Si hay tablas/listas (servicios, componentes, direcciones), devuélvelas como arrays.\n   - No mezcles datos de secciones distintas.\n7) Verificación final antes de responder:\n   - Revisa que el JSON parsea.\n   - Revisa que cumple el esquema.\n   - Revisa que no hay texto fuera del JSON\n\n\n### MODELO DE SALIDA:\n{\n  \"guardas\": {\n    \"papel_id\": 0,\n    \"propietarioPapel\": 0,\n    \"tipoImpresion\": 0,\n    \"calidad\": 0,\n    \"paginas\": 0,\n    \"plegadoOCortado\": 0,\n    \"maquina\": 0,\n    \"observaciones\": \"\",\n    \"papelPedido\": {\n      \"refPedido\": \"\",\n      \"gramaje\": 0,\n      \"anchoBobinaCm\": 0,\n      \"upsCalc\": 0,\n      \"ups\": 0,\n      \"metros\": 0,\n      \"kg\": 0\n    },\n    \"papelProduccion\": {\n      \"refProduccion\": \"\",\n      \"gramaje\": 0,\n      \"anchoBobinaCm\": 0,\n      \"upsCalc\": 0,\n      \"ups\": 0,\n      \"metros\": 0,\n      \"kg\": 0\n    }\n  },\n  \"sobrecubierta\": {\n    \"materialSobrecubierta\": 0,\n    \"propietarioPapel\": 0,\n    \"plastificado\": 0,\n    \"uvi\": 0,\n    \"impresion\": 0,\n    \"tecnologia\": 0,\n    \"observaciones\": \"\"\n  },\n  \"faja\": {\n    \"materialFaja\": 0,\n    \"propietarioPapel\": 0,\n    \"plastificado\": 0,\n    \"uvi\": 0,\n    \"impresion\": 0,\n    \"tecnologia\": 0,\n    \"observaciones\": \"\"\n  },\n  \"componentesEspeciales\": [\n    {\n      \"material\": 0,\n      \"propietarioPapel\": 0,\n      \"nombre\": \"\",\n      \"plastificado\": 0,\n      \"uvi\": 0,\n      \"impresion\": 0,\n      \"tecnologia\": 0,\n      \"observaciones\": \"\"\n    }\n  ],\n  \"peticionesEspeciales\": [\n    {\n      \"descripcion\": \"\"\n    }\n  ],\n  \"direcciones\": [\n    {\n      \"direccionId\": \"\",\n      \"destinatario\": \"\",\n      \"via\": \"\",\n      \"numero\": \"\",\n      \"piso\": \"\",\n      \"puerta\": \"\",\n      \"cp\": \"\",\n      \"localidad\": \"\",\n      \"provincia\": \"\",\n      \"pais\": \"\",\n      \"contacto\": \"\",\n      \"telefonos\": \"\",\n      \"pallet\": 0,\n      \"encajado\": 0,\n      \"ejemplaresPaquete\": 0,\n      \"ejemplares\": 0,\n      \"envioResto\": 0,\n      \"modelos\": 0,\n      \"observaciones\": \"\"\n    }\n  ]\n}\n\n### GUARDAS:\nInstrucciones:\n    1. SOLO devuelve datos si detectas indicios de guardas (ej. “guardas incluidas”, “guardas aparte”, “guardas impresas”).\n    2. Verifica el tipo de encuadernación:\n      - Si encuadernación = 3 (Rústica), 4 (Espiral), 5 (Grapa) o 6 (Wire-o) → NO lleva guardas → NO devuelvas nada.\n      - Solo lleva guardas si encuadernación = 1 (Cartoné) o 2 (Flexible).\n    3. Si hay referencia válida a guardas, devuelve este bloque JSON con los siguientes valores fijos o vacíos:\n    4. Valor de `\"refPedido\"`:\n      - Si se menciona “guardas aparte”: busca el texto del papel al final de las observaciones y úsalo como descripción.\n      - Si se menciona “guardas incluidas”: usa la descripción del papel del interior como refPedido.\n    5. Usa exactamente estas equivalencias para interpretar descripciones encontradas en observaciones:\n      - \"Ahuesado\" devuelve esto:\n                {\n                  \"guardas\": {\n                    \"papel_id\": 561,\n                    \"propietarioPapel\": 1,\n                    \"tipoImpresion\": 1,\n                    \"calidad\": \"Ahuesado\",\n                    \"paginas\": 8,\n                    \"observaciones\": \"\",\n                    \"papelPedido\": {\n                      \"refPedido\": \"Ahuesado Oria\", \n                      \"gramaje\": 120,\n                      \"anchoBobinaCm\": 54,\n                      \"ups\": 2\n                    }\n                  }\n                }\n    - \"Offset blanco\" devuelve esto:\n                {\n                  \"guardas\": {\n                    \"papel_id\": 620,\n                    \"propietarioPapel\": 1,\n                    \"tipoImpresion\": 1,\n                    \"calidad\": \"Offset blanco\",\n                    \"paginas\": 8,\n                    \"observaciones\": \"\",\n                    \"papelPedido\": {\n                      \"refPedido\": \"Navigator Offset Premium 161\", \n                      \"gramaje\": 120,\n                      \"anchoBobinaCm\": 54,\n                      \"ups\": 2\n                    }\n                  }\n                }\n    - \"Estucado\" devuelve esto:   \n                {\n                  \"guardas\": {\n                    \"papel_id\": 613,\n                    \"propietarioPapel\": 1,\n                    \"tipoImpresion\": 1,\n                    \"calidad\": \"Estucado semimate\",\n                    \"paginas\": 8,\n                    \"observaciones\": \"\",\n                    \"papelPedido\": {\n                      \"refPedido\": \"G-Silk\", \n                      \"gramaje\": 150,\n                      \"anchoBobinaCm\": 54,\n                      \"ups\": 2\n                    }\n                  }\n                }\n\n### SOBRECUBIERTA:\nBasate en este prompt Rellenar solo si el PDF contiene una mención explícita a SOBRECUBIERTA.\n    - Trabaja sin distinguir mayúsculas/minúsculas ni acentos.\n    - Solo cuenta si aparece la palabra “sobrecubierta” o las variantes “sobre cubierta” o “sobre-cubierta” como palabra independiente, en frases tipo: “lleva sobrecubierta”, “colocar sobrecubierta”, “imprimir sobrecubierta”, etc.\n    - No la confundas nunca con la palabra “cubierta” (es otra cosa) ni con “faja”, aunque usen el mismo material, gramaje, plastificado, UVI o cualquier otro dato.\n    - Ignora por completo la información de cubierta, faja, guardas, encuadernación, materiales, gramajes, plastificados y UVI para decidir si hay sobrecubierta:\n    - Si no aparece literalmente “sobrecubierta” / “sobre cubierta” / “sobre-cubierta”, deja todos los valores por defecto.\n    - Si ves negaciones claras como “sin sobrecubierta”, “no lleva sobrecubierta”, “no colocar sobrecubierta”, también debes dejar los valores por defecto.\n\n    No deduzcas ni supongas la existencia de sobrecubierta por contexto: solo decide por la palabra literal indicada.\n      \"materialSobrecubierta\": devuelve 15.\n      \"propietarioPapel\": devuelve 1.\n\n      \"plastificado\":\n          brillo → 1\n          mate → 2\n          mate sedoso → 3\n          mate antirraya → 4\n          gofrado → 5\n          brillo digital → 7\n          mate digital → 8\n          natureflex → 9\n          sandy → 10\n          cualquier otro caso → 6\n\n    - \"uvi\": Devuelve 1 si aparece referencia UVI o 0 si no aparece.\n    - \"Impresion\": usa literalmente \"4/0\", \"4/1\", \"4/4\", \"1/0\", \"5/0\", si no lo encuentras devuelve 4/0. Si detectas la referencia \"Reverso\" indica 4/4.\n    - \"tecnologia\": \n    - \"Observaciones\": indica \"Recibimos modelo de impresión\" solo si el documento contiene alguna referencia explícita a “enviamos modelo”, \"enviamos prueba\", \"muestra de impresión\" (Coincidencia insensible a mayúsculas/minúsculas ni acentos).\n\n    GATE SOBRECUBIERTA (OBLIGATORIO):\n        - Busca SOLO coincidencias literales como palabra independiente: \"sobrecubierta\", \"sobre cubierta\", \"sobre-cubierta\"\n        - Ignora coincidencias donde solo aparezca \"cubierta\".\n        - Si NO hay coincidencia literal -> sobrecubierta = valores por defecto y NO rellenar nada más.\n        - Si hay negación dentro de una ventana de 5 palabras: (\"sin\", \"no\", \"nunca\") -> valores por defecto.\n        Ejemplos de negación: \"sin sobrecubierta\", \"no lleva sobrecubierta\", \"no colocar sobrecubierta\".\n\n    PROHIBICIÓN:\n        - Está prohibido copiar valores de \"cubierta\" a \"sobrecubierta\" o \"faja\".\n        - Aunque haya plastificado, UVI o impresión, si no se supera el GATE literal, deja sobrecubierta/faja por defecto.\n    \n    PRUEBA MÍNIMA (interna):\n        - Para marcar sobrecubierta/faja como presente, debes localizar un fragmento del PDF que contenga la palabra gatillo EXACTA.\n        - Si no puedes señalar internamente esa frase, entonces NO está presente y devuelves valores por defecto.\n        - No devuelvas el fragmento en el JSON.\n    ÁMBITO:\n        - Si detectas \"sobrecubierta\", solo puedes extraer plastificado/uvi/impresion desde:\n            a) la misma línea, o\n            b) las 2 líneas siguientes.\n        - En cualquier otro caso, deja esos campos por defecto.\n\n### FAJA:\nBasate en este prompt Rellenar solo si hay información referente a FAJA o FAJILLA (Coincidencia insensible a mayúsculas/minúsculas ni acentos) en el PDF, ejemplos \"lleva faja\", \"colocar fajilla\", \"imprimir faja\", si no dejar valores por defecto.\n    - \"materialFaja\": devuelve 15.\n    - \"propietarioPapel\": devuelve 1.\n    - \"plastificado\":\n                brillo → 1\n                mate → 2\n                mate sedoso → 3\n                mate antirraya → 4\n                gofrado → 5\n                brillo digital → 7\n                mate digital → 8\n                natureflex → 9\n                sandy → 10\n                cualquier otro caso → 6\n    - \"uvi\": Devuelve 1 si aparece referencia UVI o 0 si no aparece.\n    - \"Impresion\": usa literalmente \"4/0\", \"4/1\", \"4/4\", \"1/0\", \"5/0\", si no lo encuentras devuelve 4/0. Si detectas la referencia \"Reverso\" indica 4/4.\n    - \"tecnologia\":   \n    - Observaciones: indica \"Recibimos modelo de impresión\" solo si el documento contiene alguna referencia explícita a “enviamos modelo”, \"enviamos prueba\", \"muestra de impresión\" (Coincidencia insensible a mayúsculas/minúsculas ni acentos)..\n\n    GATE FAJA (OBLIGATORIO):\n        - Solo acepta como evidencia la palabra literal: \"faja\" o \"fajilla\" como palabra independiente.\n        - Si NO aparece -> faja = valores por defecto.\n        - Si aparece negada (\"sin faja\", \"no lleva faja\") -> valores por defecto.\n        - No uses jamás materiales, plastificados o impresión para inferir la existencia de faja.\n    \n    PROHIBICIÓN:\n        - Está prohibido copiar valores de \"cubierta\" a \"sobrecubierta\" o \"faja\".\n        - Aunque haya plastificado, UVI o impresión, si no se supera el GATE literal, deja sobrecubierta/faja por defecto.\n    \n    PRUEBA MÍNIMA (interna):\n        - Para marcar sobrecubierta/faja como presente, debes localizar un fragmento del PDF que contenga la palabra gatillo EXACTA.\n        - Si no puedes señalar internamente esa frase, entonces NO está presente y devuelves valores por defecto.\n        - No devuelvas el fragmento en el JSON.\n    ÁMBITO:\n        - Si detectas \"sobrecubierta\", solo puedes extraer plastificado/uvi/impresion desde:\n            a) la misma línea, o\n            b) las 2 líneas siguientes.\n        - En cualquier otro caso, deja esos campos por defecto.\n\n\n### COMPONENTES ESPECIALES:\nBasate en este prompt Busca en el PDF menciones a elementos especiales como:\n    - \"Cuadernillo\"\n    - \"Encarte\"\n    - \"Pliego\"\n\n    (Sensibilidad: no distingue mayúsculas/minúsculas/acentos)\n\n### Si encuentras una mención, devuelve el siguiente JSON (rellenado):\n\"componentesEspeciales\": [\n  {\n    \"material\": 0,           // Devuelve el papel indicado en esa sección\n    \"propietarioPapel\": 1,   // Devuelve siempre 1\n    \"nombre\": \"ENCARTE\",     // Devuelve literalmente ENCARTE\n    \"plastificado\": 0,       // Siempre vacío\n    \"uvi\": 0,            // Siempre vacío\n    \"impresion\": \"4/0\",      // Usa literalmente lo que indique el pedido (ej.: \"4/0\", \"4/1\", \"4/4\", \"1/0\", \"5/0\"). Si no lo encuentras, devuelve \"4/0\"\n    \"tecnologia\": 1,         // Devuelve siempre 1\n    \"observaciones\": \"\"      // Devuelve la línea o líneas relacionadas al encarte/cuadernillo/pliego detectado\n  }\n]\n\n### Si no encuentras nada, no devuelvas este bloque.\n.\n\n### PETICIONES ESPECIALES:\n\n      ### DIRECCIONES:\n      Reglas:\n          Buscar si existe un alias exacto en el PDF:\n              Usa coincidencia insensible a mayúsculas/minúsculas, acentos y elimina espacios extra.\n              La coincidencia debe ser por frase completa (no dentro de otras palabras).\n          En caso de empate:\n              Prefiere alias completo exacto.\n              Luego la cadena coincidente más larga.\n              Luego el menor direccionId.\n          Si se encuentra un alias:\n            Devuelve un objeto con:\n              \"direccionId\" correspondiente del mapa.\n              Solo el campo \"ejemplares\" con el número de tirada.\n              Todos los demás campos deben ir vacíos (\"\") o en 0.\n              Si NO se encuentra alias:\n              Usa \"direccionId\": 0.\n              Extrae del PDF todos los campos posibles:\n              via, numero, piso, puerta, cp, localidad, provincia, pais, contacto, telefonos, pallet, encajado, ejemplaresPaquete, ejemplares, envioResto, modelos, observaciones.\n              Si algún campo no aparece, déjalo vacío (\"\") o en 0.\n              Regla adicional \"Sin muestras\" o \"Sin muestra\":\n              Si NO se encuentra la referencia \"Sin muestras\" o \"Sin muestra\" en observaciones:\n      Añade una segunda dirección con:\n      {\n      \"direccionId\": 41,\n      \"ejemplares\": 1\n      }\n      Si SÍ aparece \"Sin muestras\", NO añadas esta segunda dirección.\n            Mapa → direccionId:\n                  ALMACEN PALLEJA = 1\n                  OFICINA = 41\n                  DISTRICENTER ZF = 42\n                  DISTRICENTER SABADELL = 43\n                  Penguin Random House Grupo Editorial Portugal = 107\n                  Centro Distribución Barcelona PRHGE CERDANYOLA = 148\n                  GUILLERMO - DOMICILIO PARTICULAR = 225\n                  OFICINA BARCELONA = 249\n                  ESDISTINTO = 250\n                  LAURENS CONCEPTS = 260\n      Formato de salida (idéntico a este):\n      {\n        \"direcciones\": [\n          {\n            \"direccionId\": 0,\n            \"destinatario\": \"\",\n            \"via\": \"\",\n            \"numero\": \"\",\n            \"piso\": \"\",\n            \"puerta\": \"\",\n            \"cp\": \"\",\n            \"localidad\": \"\",\n            \"provincia\": \"\",\n            \"pais\": \"\",\n            \"contacto\": \"\",\n            \"telefonos\": \"\",\n            \"pallet\": 0,\n            \"encajado\": 0,\n            \"ejemplaresPaquete\": 0,\n            \"ejemplares\": 0,\n            \"envioResto\": 0,\n            \"modelos\": 0,\n            \"observaciones\": \"\"\n          }\n        ]\n      }\n      Ejemplo de salida sin \"Sin muestras\":\n      \"direcciones\":[\n        {\n          \"direccionId\": 148,\n          \"ejemplares\": 50\n        },\n        {\n          \"direccionId\": 41,\n          \"ejemplares\": 1\n        }\n      ]\n      Ejemplo de salida si se encuentra \"Sin muestras\" o \"Sin muestra\":\n      \"direcciones\":[\n        {\n          \"direccionId\": 148,\n          \"ejemplares\": 50\n        }\n      ]\n\n      **IMPORTANTE**  \n      Recuerda \"Sin muestras\" o \"Sin muestra\" es lo mismo..\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -528
      ],
      "id": "417319c0-1976-4e0a-82e0-510023a20072",
      "name": "PromptConfig"
    },
    {
      "parameters": {
        "content": "Prompts",
        "height": 224,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -576
      ],
      "typeVersion": 1,
      "id": "9301dc5f-1203-4ce5-af93-8c8769d97616",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Cabecera",
        "height": 224,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        -960
      ],
      "id": "fd4addee-d54d-44fc-92c8-5dd2c95f91b6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -288,
        -528
      ],
      "id": "57483b83-58dc-44cb-8506-37d05fc429a7",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "716a3085-d054-4c2e-95d1-4865cec67f57",
              "name": "openaiFileId",
              "value": "={{$json.id}}",
              "type": "string"
            },
            {
              "id": "2e4e2dd2-a5dc-4e7c-8f3e-6bdcfbb25371",
              "name": "openaiFilename",
              "value": "={{$json.filename}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -416
      ],
      "id": "49422cac-7593-4660-9fa3-21ef3e5fe34d",
      "name": "openaiFileId"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.openaiBody}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        -656
      ],
      "id": "91033d2d-4e64-4cd8-be9b-7fb24524c5bd",
      "name": "OpenAI1",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "Fb5EZ7r56FOl5M3A",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fileId = $items(\"Subir PDF a OpenAI\")[0].json.id; // ✅ file-...\nconst prompt = ($node[\"PromptConfig\"].json.promptInteriores || \"\").trim();\n\nif (!fileId?.startsWith(\"file-\")) {\n  throw new Error(`fileId inválido (esperaba file-...): ${fileId}`);\n}\n\n// --- Schema INTERIORES ---\nconst papelPedidoProps = {\n  refPedido: { type: \"string\" },\n  gramaje: { type: \"integer\" },\n  anchoBobinaCm: { type: \"number\" },\n  upsCalc: { type: \"integer\" },\n  ups: { type: \"integer\" },\n  metros: { type: \"number\" },\n  kg: { type: \"number\" },\n};\n\nconst interiorProps = {\n  papel_id: { type: \"integer\" },\n  propietarioPapel: { type: \"integer\" },\n  tipoImpresion: { type: \"integer\" },\n  calidad: { type: \"string\" },\n  paginas: { type: \"integer\" },\n  plegadoOCortado: { type: \"integer\" },\n  maquina: { type: \"integer\" },\n  observaciones: { type: \"string\" },\n  papelPedido: {\n    type: \"object\",\n    additionalProperties: false,\n    properties: papelPedidoProps,\n    required: Object.keys(papelPedidoProps),\n  },\n};\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    interiores: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        properties: interiorProps,\n        required: Object.keys(interiorProps),\n      },\n    },\n  },\n  required: [\"interiores\"],\n};\n\nreturn {\n  openaiBody: {\n    model: \"gpt-5.1\",\n    input: [\n      {\n        role: \"user\",\n        content: [\n          { type: \"input_file\", file_id: fileId },\n          { type: \"input_text\", text: prompt },\n        ],\n      },\n    ],\n    text: {\n      format: {\n        type: \"json_schema\",\n        name: \"interiores_pedido\",\n        strict: false,\n        schema,\n      },\n    },\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -656
      ],
      "id": "02e23dcb-7163-4b2e-8320-7655ed7e3fc6",
      "name": "Build OpenAI Body (schema)1"
    },
    {
      "parameters": {
        "jsCode": "// A veces n8n trae el body como string. Lo hacemos robusto:\nlet resp = $json;\nif (typeof resp === \"string\") resp = JSON.parse(resp);\n\n// En Responses API el texto suele venir en resp.output[0].content[*].text\nconst out0 = resp.output?.[0];\nconst content = out0?.content || [];\nconst textBlock = content.find(c => c.type === \"output_text\");\nif (!textBlock?.text) {\n  throw new Error(\"No encuentro output_text.text en la respuesta de OpenAI\");\n}\n\nconst parsed = JSON.parse(textBlock.text);\n\n// Esperamos { interiores: [ ... ] } (si el modelo devuelve directo el array, lo aceptamos)\nconst interiores = Array.isArray(parsed?.interiores)\n  ? parsed.interiores\n  : (Array.isArray(parsed) ? parsed : []);\n\nreturn [{\n  json: {\n    interiores\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -656
      ],
      "id": "da2c959f-0343-4106-b707-a38696ff5f6d",
      "name": "Parse output_text1"
    },
    {
      "parameters": {
        "content": "Interiores",
        "height": 224,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        -704
      ],
      "id": "f56e4933-bad8-4923-830a-6d1e86d85a24",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.openaiBody}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        -400
      ],
      "id": "a8f66a53-ea8b-4bb5-a287-278456b11b0a",
      "name": "OpenAI2",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "Fb5EZ7r56FOl5M3A",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fileId = $items(\"Subir PDF a OpenAI\")[0].json.id; // ✅ file-...\nconst prompt = ($node[\"PromptConfig\"].json.promptCubierta || \"\").trim();\n\nif (!fileId?.startsWith(\"file-\")) {\n  throw new Error(`fileId inválido (esperaba file-...): ${fileId}`);\n}\n\n// --- Schema CUBIERTA ---\nconst cubiertaProps = {\n  materialCubierta: { type: \"integer\" },\n  propietarioPapel: { type: \"integer\" },\n  plastificado: { type: \"integer\" },\n  uvi: { type: \"integer\" },\n  impresion: { type: \"string\" },      // ✅ en tu prompt es tipo \"4/0\", \"4/4\"...\n  codDescarga: { type: \"integer\" },   // si luego quieres omitirlo cuando 0, lo haces al final\n  tecnologia: { type: \"integer\" },\n  observaciones: { type: \"string\" },  // si luego quieres omitirlo cuando \"\", lo haces al final\n};\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    cubierta: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: cubiertaProps,\n      // para evitar errores del validador de schema y para asegurar estructura estable:\n      required: Object.keys(cubiertaProps),\n    },\n  },\n  required: [\"cubierta\"],\n};\n\nreturn {\n  openaiBody: {\n    model: \"gpt-5.1\",\n    input: [{\n      role: \"user\",\n      content: [\n        { type: \"input_file\", file_id: fileId },\n        { type: \"input_text\", text: prompt },\n      ],\n    }],\n    text: {\n      format: {\n        type: \"json_schema\",\n        name: \"cubierta_pedido\",\n        strict: false,\n        schema,\n      },\n    },\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -400
      ],
      "id": "f41bbcec-f7e2-4e43-b979-8b4e7d6f315c",
      "name": "Build OpenAI Body (schema)2"
    },
    {
      "parameters": {
        "jsCode": "// La respuesta puede venir como objeto o como string JSON\nlet resp = $json;\nif (typeof resp === \"string\") resp = JSON.parse(resp);\n\n// En Responses API el texto suele estar en resp.output[0].content[*].text\nconst out0 = resp.output?.[0];\nconst content = out0?.content || [];\nconst textBlock = content.find(c => c.type === \"output_text\");\n\nif (!textBlock?.text) {\n  throw new Error(\"No encuentro output_text.text en la respuesta de OpenAI (cubierta)\");\n}\n\n// El modelo devuelve un JSON como string en text\nlet parsed;\ntry {\n  parsed = JSON.parse(textBlock.text);\n} catch (e) {\n  throw new Error(`El output_text no es JSON válido. Primeros 200 chars: ${String(textBlock.text).slice(0, 200)}`);\n}\n\n// Normaliza salida: esperamos { cubierta: {...} }\n// Si por lo que sea devuelve directamente el objeto de cubierta, lo envolvemos\nconst cubierta =\n  (parsed && typeof parsed === \"object\" && !Array.isArray(parsed) && parsed.cubierta)\n    ? parsed.cubierta\n    : parsed;\n\n// Validación mínima\nif (!cubierta || typeof cubierta !== \"object\" || Array.isArray(cubierta)) {\n  throw new Error(\"La salida parseada no contiene un objeto 'cubierta' válido\");\n}\n\n// Devuelve solo el bloque de cubierta\nreturn {\n  json: {\n    cubierta\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -400
      ],
      "id": "c4c0c670-af9c-41fa-a0c6-fa7fc9d49a09",
      "name": "Parse output_text2"
    },
    {
      "parameters": {
        "content": "Cubierta",
        "height": 224,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        -448
      ],
      "id": "336b5adf-2cee-4d5d-bcad-e27a1aa7c13f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.openaiBody}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        -144
      ],
      "id": "e28d32a8-cb8d-4284-a27d-7bd958af7e14",
      "name": "OpenAI3",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "Fb5EZ7r56FOl5M3A",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fileId = $items(\"Subir PDF a OpenAI\")[0].json.id; // ✅ file-...\nconst prompt = ($node[\"PromptConfig\"].json.promptExtras || \"\").trim();\n\nif (!fileId?.startsWith(\"file-\")) {\n  throw new Error(`fileId inválido (esperaba file-...): ${fileId}`);\n}\n\n// ---------- Subschemas ----------\n\n// papelPedido / papelProduccion (idénticos salvo nombre de ref)\nconst papelPedidoProps = {\n  refPedido: { type: \"string\" },\n  gramaje: { type: \"integer\" },\n  anchoBobinaCm: { type: \"number\" },\n  upsCalc: { type: \"integer\" },\n  ups: { type: \"integer\" },\n  metros: { type: \"number\" },\n  kg: { type: \"number\" },\n};\n\nconst papelProduccionProps = {\n  refProduccion: { type: \"string\" },\n  gramaje: { type: \"integer\" },\n  anchoBobinaCm: { type: \"number\" },\n  upsCalc: { type: \"integer\" },\n  ups: { type: \"integer\" },\n  metros: { type: \"number\" },\n  kg: { type: \"number\" },\n};\n\nconst guardasProps = {\n  papel_id: { type: \"integer\" },\n  propietarioPapel: { type: \"integer\" },\n  tipoImpresion: { type: \"integer\" },\n  calidad: { type: \"string\" },          // en tu prompt es texto (\"Ahuesado\", etc.)\n  paginas: { type: \"integer\" },\n  plegadoOCortado: { type: \"integer\" },\n  maquina: { type: \"integer\" },\n  observaciones: { type: \"string\" },\n  papelPedido: {\n    type: \"object\",\n    additionalProperties: false,\n    properties: papelPedidoProps,\n    required: Object.keys(papelPedidoProps),\n  },\n  papelProduccion: {\n    type: \"object\",\n    additionalProperties: false,\n    properties: papelProduccionProps,\n    required: Object.keys(papelProduccionProps),\n  },\n};\n\nconst sobrecubiertaProps = {\n  materialSobrecubierta: { type: \"integer\" },\n  propietarioPapel: { type: \"integer\" },\n  plastificado: { type: \"integer\" },\n  uvi: { type: \"integer\" },\n  impresion: { type: \"string\" },    // \"4/0\", \"4/4\", etc.\n  tecnologia: { type: \"integer\" },\n  observaciones: { type: \"string\" },\n};\n\nconst fajaProps = {\n  materialFaja: { type: \"integer\" },\n  propietarioPapel: { type: \"integer\" },\n  plastificado: { type: \"integer\" },\n  uvi: { type: \"integer\" },\n  impresion: { type: \"string\" },    // \"4/0\", \"4/4\", etc.\n  tecnologia: { type: \"integer\" },\n  observaciones: { type: \"string\" },\n};\n\nconst componenteEspecialProps = {\n  material: { type: \"integer\" },\n  propietarioPapel: { type: \"integer\" },\n  nombre: { type: \"string\" },\n  plastificado: { type: \"integer\" },\n  uvi: { type: \"boolean\" },         // en tu modelo inicial era boolean\n  impresion: { type: \"string\" },    // mejor string (\"4/0\"...)\n  tecnologia: { type: \"integer\" },\n  observaciones: { type: \"string\" },\n};\n\nconst peticionEspecialProps = {\n  descripcion: { type: \"string\" },\n};\n\nconst direccionProps = {\n  direccionId: { type: \"string\" },  // a veces viene como número; si prefieres integer lo cambio\n  destinatario: { type: \"string\" },\n  via: { type: \"string\" },\n  numero: { type: \"string\" },\n  piso: { type: \"string\" },\n  puerta: { type: \"string\" },\n  cp: { type: \"string\" },\n  localidad: { type: \"string\" },\n  provincia: { type: \"string\" },\n  pais: { type: \"string\" },\n  contacto: { type: \"string\" },\n  telefonos: { type: \"string\" },\n  pallet: { type: \"integer\" },\n  encajado: { type: \"integer\" },\n  ejemplaresPaquete: { type: \"integer\" },\n  ejemplares: { type: \"integer\" },\n  envioResto: { type: \"integer\" },\n  modelos: { type: \"integer\" },\n  observaciones: { type: \"string\" },\n};\n\n// ---------- Main schema ----------\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    guardas: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: guardasProps,\n      required: Object.keys(guardasProps),\n    },\n    sobrecubierta: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: sobrecubiertaProps,\n      required: Object.keys(sobrecubiertaProps),\n    },\n    faja: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: fajaProps,\n      required: Object.keys(fajaProps),\n    },\n    componentesEspeciales: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        properties: componenteEspecialProps,\n        required: Object.keys(componenteEspecialProps),\n      },\n    },\n    peticionesEspeciales: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        properties: peticionEspecialProps,\n        required: Object.keys(peticionEspecialProps),\n      },\n    },\n    direcciones: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        properties: direccionProps,\n        required: Object.keys(direccionProps),\n      },\n    },\n  },\n  required: [\"guardas\", \"sobrecubierta\", \"faja\", \"componentesEspeciales\", \"peticionesEspeciales\", \"direcciones\"],\n};\n\nreturn {\n  openaiBody: {\n    model: \"gpt-5.1\",\n    input: [{\n      role: \"user\",\n      content: [\n        { type: \"input_file\", file_id: fileId },\n        { type: \"input_text\", text: prompt },\n      ],\n    }],\n    text: {\n      format: {\n        type: \"json_schema\",\n        name: \"extras_pedido\",\n        strict: false,\n        schema,\n      },\n    },\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -144
      ],
      "id": "8f1882e1-215d-49c1-a6a7-e41017719d0b",
      "name": "Build OpenAI Body (schema)3"
    },
    {
      "parameters": {
        "jsCode": "// La respuesta puede venir como objeto o como string JSON\nlet resp = $json;\nif (typeof resp === \"string\") resp = JSON.parse(resp);\n\n// En Responses API el texto suele estar en resp.output[0].content[*].text\nconst out0 = resp.output?.[0];\nconst content = out0?.content || [];\nconst textBlock = content.find(c => c.type === \"output_text\");\n\nif (!textBlock?.text) {\n  throw new Error(\"No encuentro output_text.text en la respuesta de OpenAI (extras)\");\n}\n\n// El modelo devuelve un JSON como string en text\nlet parsed;\ntry {\n  parsed = JSON.parse(textBlock.text);\n} catch (e) {\n  throw new Error(\n    `El output_text no es JSON válido. Primeros 200 chars: ${String(textBlock.text).slice(0, 200)}`\n  );\n}\n\nif (!parsed || typeof parsed !== \"object\" || Array.isArray(parsed)) {\n  throw new Error(\"La salida parseada de extras no es un objeto JSON válido\");\n}\n\n// Normaliza: si faltan claves, pon defaults para que el merge final sea fácil\nconst norm = {\n  guardas: parsed.guardas ?? null,\n  sobrecubierta: parsed.sobrecubierta ?? null,\n  faja: parsed.faja ?? null,\n  componentesEspeciales: Array.isArray(parsed.componentesEspeciales) ? parsed.componentesEspeciales : [],\n  peticionesEspeciales: Array.isArray(parsed.peticionesEspeciales) ? parsed.peticionesEspeciales : [],\n  direcciones: Array.isArray(parsed.direcciones) ? parsed.direcciones : [],\n};\n\nreturn { json: norm };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -144
      ],
      "id": "a9b70a96-d625-44b9-9696-0af8d7c2ab0a",
      "name": "Parse output_text3"
    },
    {
      "parameters": {
        "content": "Extras",
        "height": 224,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        -192
      ],
      "id": "5f207467-1667-4afb-b94b-391e1c816a2e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "function safeItems(name) {\n  try {\n    return $items(name);\n  } catch (e) {\n    return null;\n  }\n}\n\nfunction firstJsonFrom(names) {\n  for (const n of names) {\n    const it = safeItems(n);\n    if (it && it[0] && it[0].json) return it[0].json;\n  }\n  return null;\n}\n\n// 1) Base64: prueba nombres posibles\nconst base64Json = firstJsonFrom([\n  \"PDF - Base64\",\n  \"PDF → Base64\",\n  \"PDF a Base64\",\n]);\n\nconst archivoBase64 =\n  base64Json?.archivoBase64 ||\n  base64Json?.pdfBase64 ||\n  null;\n\nif (!archivoBase64) {\n  throw new Error(\"No encuentro archivoBase64. Revisa el nodo de Base64 y el nombre del campo.\");\n}\n\n// 2) Cabecera / Interiores / Cubierta / Extras: ajusta si tus nodos tienen otros nombres\nconst cabecera = firstJsonFrom([\"Parse output_text\", \"Parse output_text (cabecera)\"]) || {};\nconst interioresObj = firstJsonFrom([\"Parse output_text1\", \"Parse output_text (interiores)\"]) || {};\nconst cubiertaObj = firstJsonFrom([\"Parse output_text2\", \"Parse output_text (cubierta)\"]) || {};\nconst extras = firstJsonFrom([\"Parse output_text3\", \"Parse output_text (extras)\"]) || {};\n\nconst interiores = Array.isArray(interioresObj.interiores) ? interioresObj.interiores : [];\nconst cubierta = cubiertaObj.cubierta ?? null;\n\nconst finalPayload = {\n  archivoBase64,\n  ...cabecera,\n  interiores,\n  cubierta,\n  ...extras,\n};\n\nreturn { json: finalPayload };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -144
      ],
      "id": "a2828a94-3b84-4ca4-b48b-d8927420cd2c",
      "name": "Build JSON completo"
    },
    {
      "parameters": {
        "jsCode": "const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst b64 = buf.toString('base64');\n\n// Conserva lo que venga en json y añade archivoBase64\nreturn {\n  ...$json,\n  archivoBase64: b64,\n  nombreArchivo: $binary?.data?.fileName || $json.name || 'pedido.pdf',\n  mime: $binary?.data?.mimeType || 'application/pdf',\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -624
      ],
      "id": "75d1bea9-4e1b-4138-b830-3096f86357fd",
      "name": "PDF - Base64"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "solo PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "PDF - Base64",
            "type": "main",
            "index": 0
          },
          {
            "node": "Subir PDF a OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Parse output_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Body (schema)": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse output_text": {
      "main": [
        []
      ]
    },
    "solo PDF": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir PDF a OpenAI": {
      "main": [
        [
          {
            "node": "openaiFileId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PromptConfig": {
      "main": [
        [
          {
            "node": "Build OpenAI Body (schema)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build OpenAI Body (schema)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build OpenAI Body (schema)2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build OpenAI Body (schema)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "PromptConfig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openaiFileId": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Parse output_text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Body (schema)1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse output_text1": {
      "main": [
        []
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Parse output_text2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Body (schema)2": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse output_text2": {
      "main": [
        []
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "Parse output_text3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Body (schema)3": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse output_text3": {
      "main": [
        [
          {
            "node": "Build JSON completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF - Base64": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "231ef4a1-9227-4e7a-a985-4d0dd91a2e38",
  "activeVersionId": null,
  "versionCounter": 85,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-17T11:44:56.137Z",
      "createdAt": "2025-12-17T11:44:56.137Z",
      "role": "workflow:owner",
      "workflowId": "VoMaNkOQM4qbQ5Jr",
      "projectId": "5DRxsE1egf1baMP6",
      "project": {
        "updatedAt": "2025-12-16T07:05:26.416Z",
        "createdAt": "2025-12-16T07:00:37.382Z",
        "id": "5DRxsE1egf1baMP6",
        "name": "P GA <procesos@gomezaparicio.es>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-16T07:00:37.382Z",
            "createdAt": "2025-12-16T07:00:37.382Z",
            "userId": "9a4e2f29-7a97-4add-ba5c-b1a99dee84e7",
            "projectId": "5DRxsE1egf1baMP6",
            "user": {
              "updatedAt": "2026-01-03T06:48:17.640Z",
              "createdAt": "2025-12-16T07:00:36.626Z",
              "id": "9a4e2f29-7a97-4add-ba5c-b1a99dee84e7",
              "email": "procesos@gomezaparicio.es",
              "firstName": "P",
              "lastName": "GA",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "gR8RJ0nGarvRBlGa",
                "userActivatedAt": 1766491998544
              },
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2026-01-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}